node-red/flows/aws-iot-control-receiver.json
[
    {
        "id": "aws_control_receiver_tab",
        "type": "tab",
        "label": "AWS IoT 제어 수신",
        "disabled": false,
        "info": "AWS IoT Core MQTT에서 제어 명령을 수신하고 처리하는 플로우\n\n토픽: smartfarm/house1/+/control\n프론트엔드 → API Gateway → Lambda → IoT Core → 이 플로우"
    },
    {
        "id": "comment_receiver_header",
        "type": "comment",
        "z": "aws_control_receiver_tab",
        "name": "━━━ 📌 AWS IoT 제어 명령 수신 (FE → AWS → RPi) ━━━",
        "info": "프론트엔드에서 제어 버튼 클릭 → API Gateway → Lambda → IoT Core MQTT publish → 이 노드에서 수신\n\n토픽 패턴: smartfarm/{house_id}/{device_id}/control\n페이로드: { command, timestamp, house_id, window_id, operator, request_id }",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt_control_subscribe",
        "type": "mqtt in",
        "z": "aws_control_receiver_tab",
        "name": "제어 명령 구독",
        "topic": "smartfarm/house1/+/control",
        "qos": "1",
        "datatype": "json",
        "broker": "aws_iot_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [["parse_control_command"]]
    },
    {
        "id": "parse_control_command",
        "type": "function",
        "z": "aws_control_receiver_tab",
        "name": "제어 명령 파싱",
        "func": "// MQTT 토픽에서 장치 ID 추출\n// 토픽: smartfarm/house1/window1/control\nconst topicParts = msg.topic.split('/');\nconst houseId = topicParts[1] || 'unknown';\nconst deviceId = topicParts[2] || 'unknown';\n\n// 페이로드 파싱\nconst payload = msg.payload;\nconst command = payload.command || 'unknown';\nconst operator = payload.operator || 'unknown';\nconst requestId = payload.request_id || '';\nconst timestamp = payload.timestamp || new Date().toISOString();\n\n// 장치 유형 판별\nlet deviceType = 'unknown';\nif (deviceId.startsWith('window')) deviceType = 'window';\nelse if (deviceId.startsWith('fan')) deviceType = 'fan';\nelse if (deviceId.startsWith('heater')) deviceType = 'heater';\nelse if (deviceId.startsWith('valve')) deviceType = 'valve';\n\n// 메시지에 파싱 결과 첨부\nmsg.control = {\n    houseId,\n    deviceId,\n    deviceType,\n    command,\n    operator,\n    requestId,\n    timestamp,\n    raw: payload\n};\n\nconst cmdLabels = {\n    open: '열기', close: '닫기', stop: '정지',\n    on: 'ON', off: 'OFF'\n};\nconst label = cmdLabels[command] || command;\n\nnode.status({\n    fill: 'green',\n    shape: 'dot',\n    text: `${label} ← ${houseId}/${deviceId} (${operator})`\n});\n\nnode.warn(`📥 제어 수신: ${houseId}/${deviceId} ${command.toUpperCase()} by ${operator} [${requestId}]`);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [["execute_control", "debug_received", "send_ack"]]
    },
    {
        "id": "execute_control",
        "type": "function",
        "z": "aws_control_receiver_tab",
        "name": "제어 실행 (GPIO/릴레이)",
        "func": "// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n// 실제 장치 제어 로직\n// GPIO, 릴레이 모듈 등을 여기서 제어\n// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nconst { deviceId, deviceType, command } = msg.control;\n\n// GPIO 핀 매핑 (예시 - 실제 하드웨어에 맞게 수정)\nconst GPIO_MAP = {\n    'window1': { open: 17, close: 27 },  // GPIO 17=열기, 27=닫기\n    'window2': { open: 22, close: 23 },\n    'fan1':    { on: 24, off: 24 },       // 같은 핀 HIGH/LOW\n    'heater1': { on: 25, off: 25 },\n    'valve1':  { open: 5, close: 6 },\n};\n\nconst pins = GPIO_MAP[deviceId];\n\nif (!pins) {\n    node.warn(`⚠️ ${deviceId}: GPIO 매핑 없음 (시뮬레이션 모드)`);\n    node.status({ fill: 'yellow', shape: 'ring', text: `시뮬레이션: ${deviceId} ${command}` });\n    \n    // 시뮬레이션 - 실제 GPIO 없이 성공 처리\n    msg.control.executed = true;\n    msg.control.simulated = true;\n    return msg;\n}\n\n// TODO: 실제 GPIO 제어 코드\n// const Gpio = require('onoff').Gpio;\n// 또는 exec('gpio write ...')\n\ntry {\n    // 장치 유형별 제어\n    switch (deviceType) {\n        case 'window':\n        case 'valve':\n            if (command === 'open') {\n                // GPIO pins.open HIGH, pins.close LOW\n                node.warn(`🔓 ${deviceId} 열기: GPIO ${pins.open} HIGH`);\n            } else if (command === 'close') {\n                // GPIO pins.close HIGH, pins.open LOW\n                node.warn(`🔒 ${deviceId} 닫기: GPIO ${pins.close} HIGH`);\n            } else if (command === 'stop') {\n                // 모두 LOW\n                node.warn(`⛔ ${deviceId} 정지: GPIO ALL LOW`);\n            }\n            break;\n            \n        case 'fan':\n        case 'heater':\n            if (command === 'on') {\n                node.warn(`⚡ ${deviceId} ON: GPIO ${pins.on} HIGH`);\n            } else if (command === 'off') {\n                node.warn(`🔌 ${deviceId} OFF: GPIO ${pins.off} LOW`);\n            }\n            break;\n    }\n    \n    msg.control.executed = true;\n    msg.control.simulated = false;\n    node.status({ fill: 'green', shape: 'dot', text: `실행: ${deviceId} ${command}` });\n    \n} catch (error) {\n    msg.control.executed = false;\n    msg.control.error = error.message;\n    node.status({ fill: 'red', shape: 'dot', text: `실패: ${error.message}` });\n    node.error(`❌ 제어 실행 실패: ${error.message}`);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [["debug_executed"]]
    },
    {
        "id": "send_ack",
        "type": "function",
        "z": "aws_control_receiver_tab",
        "name": "응답 메시지 생성",
        "func": "// 제어 응답을 IoT Core로 전송\n// 프론트엔드에서 이 토픽을 구독하면 실시간 상태 확인 가능\n\nconst { houseId, deviceId, command, requestId, operator } = msg.control;\n\nmsg.topic = `smartfarm/${houseId}/${deviceId}/response`;\nmsg.payload = {\n    request_id: requestId,\n    house_id: houseId,\n    device_id: deviceId,\n    command: command,\n    status: 'received',\n    operator: operator,\n    executed_at: new Date().toISOString(),\n    device_client: 'MyFarmPi_01'\n};\n\nnode.status({\n    fill: 'blue',\n    shape: 'dot',\n    text: `응답 → ${msg.topic}`\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [["mqtt_control_response"]]
    },
    {
        "id": "mqtt_control_response",
        "type": "mqtt out",
        "z": "aws_control_receiver_tab",
        "name": "응답 발행",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aws_iot_broker",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_received",
        "type": "debug",
        "z": "aws_control_receiver_tab",
        "name": "📥 수신 로그",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "control",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug_executed",
        "type": "debug",
        "z": "aws_control_receiver_tab",
        "name": "🔧 실행 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "control",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "link_in_local_control",
        "type": "link in",
        "z": "aws_control_receiver_tab",
        "name": "← 로컬 제어",
        "links": ["link_gpio_control"],
        "x": 440,
        "y": 400,
        "wires": [["execute_control"]]
    },
    {
        "id": "comment_local_entry",
        "type": "comment",
        "z": "aws_control_receiver_tab",
        "name": "━━━ 로컬 REST API → GPIO 연결 (인터넷 없이 제어) ━━━",
        "x": 340,
        "y": 360,
        "wires": []
    },
    {
        "id": "comment_broker_setup",
        "type": "comment",
        "z": "aws_control_receiver_tab",
        "name": "⚙️ MQTT 브로커 설정 필요: aws_iot_broker 노드의 서버/인증서 확인",
        "info": "mqtt in/out 노드가 사용하는 MQTT 브로커 설정:\n\n1. Server: [IoT엔드포인트]-ats.iot.ap-northeast-2.amazonaws.com\n2. Port: 8883\n3. TLS: 체크\n4. 인증서 파일:\n   - CA: AmazonRootCA1.pem\n   - Cert: [device]-certificate.pem.crt\n   - Key: [device]-private.pem.key\n5. Client ID: MyFarmPi_01\n\n이미 하트비트용으로 MQTT 연결이 있다면 같은 브로커 설정을 공유하세요.",
        "x": 340,
        "y": 320,
        "wires": []
    },
    {
        "id": "aws_iot_broker",
        "type": "mqtt-broker",
        "name": "AWS IoT Core (서울)",
        "broker": "",
        "port": "8883",
        "tls": "",
        "clientid": "MyFarmPi_01",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
