node-red/flows/aws-iot-control-test.json
[
    {
        "id": "aws_control_test_tab",
        "type": "tab",
        "label": "AWS IoT 제어 테스트",
        "disabled": false,
        "info": "AWS API Gateway → Lambda → IoT Core 제어 신호 테스트 플로우\n\n수동: inject 버튼 클릭으로 테스트\n자동: 서버 시작 감지 시 자동 테스트"
    },
    {
        "id": "comment_manual_section",
        "type": "comment",
        "z": "aws_control_test_tab",
        "name": "━━━ 📌 수동 테스트: 버튼 클릭으로 제어 신호 전송 ━━━",
        "info": "각 inject 노드의 왼쪽 버튼을 클릭하면\nAWS API Gateway → Lambda → IoT Core로\n제어 신호가 전송됩니다.\n\n- house_id: house1\n- window_id: window1\n- commands: open, stop, close",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject_open",
        "type": "inject",
        "z": "aws_control_test_tab",
        "name": "🔓 열기 (open)",
        "props": [
            { "p": "command", "v": "open", "vt": "str" },
            { "p": "deviceId", "v": "window1", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 100,
        "wires": [["build_control_payload"]]
    },
    {
        "id": "inject_stop",
        "type": "inject",
        "z": "aws_control_test_tab",
        "name": "⛔ 정지 (stop)",
        "props": [
            { "p": "command", "v": "stop", "vt": "str" },
            { "p": "deviceId", "v": "window1", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 160,
        "wires": [["build_control_payload"]]
    },
    {
        "id": "inject_close",
        "type": "inject",
        "z": "aws_control_test_tab",
        "name": "🔒 닫기 (close)",
        "props": [
            { "p": "command", "v": "close", "vt": "str" },
            { "p": "deviceId", "v": "window1", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 220,
        "wires": [["build_control_payload"]]
    },
    {
        "id": "build_control_payload",
        "type": "function",
        "z": "aws_control_test_tab",
        "name": "제어 페이로드 생성",
        "func": "// 제어 명령 페이로드 생성\n// 프론트엔드 controlApi.js와 동일한 형식\n\nconst command = msg.command || 'open';\nconst deviceId = msg.deviceId || 'window1';\nconst houseId = msg.houseId || 'house1';\nconst requestId = Date.now() + '-' + Math.random().toString(36).substring(2, 10);\n\nmsg.payload = {\n    house_id: houseId,\n    window_id: deviceId,\n    command: command.toLowerCase(),\n    operator: 'nodered_test',\n    request_id: requestId,\n    timestamp: new Date().toISOString()\n};\n\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\n\nconst cmdLabels = { open: '열기', stop: '정지', close: '닫기', on: 'ON', off: 'OFF' };\nconst label = cmdLabels[command] || command;\n\nnode.status({\n    fill: 'blue',\n    shape: 'dot',\n    text: `${label} → ${houseId}/${deviceId} (${requestId.substring(0, 8)})`\n});\n\nnode.warn(`🎛️ 제어 전송: ${houseId}/${deviceId} ${command.toUpperCase()} [${requestId}]`);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [["aws_api_request"]]
    },
    {
        "id": "aws_api_request",
        "type": "http request",
        "z": "aws_control_test_tab",
        "name": "AWS API Gateway POST",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://pdwbldwmy3.execute-api.ap-northeast-2.amazonaws.com/control",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 680,
        "y": 160,
        "wires": [["parse_aws_response"]]
    },
    {
        "id": "parse_aws_response",
        "type": "function",
        "z": "aws_control_test_tab",
        "name": "응답 파싱",
        "func": "// AWS API Gateway / Lambda 응답 파싱\nconst statusCode = msg.statusCode;\nlet result;\n\ntry {\n    const data = typeof msg.payload === 'string'\n        ? JSON.parse(msg.payload)\n        : msg.payload;\n    \n    // Lambda 응답은 body가 문자열로 올 수 있음\n    result = data.body\n        ? (typeof data.body === 'string' ? JSON.parse(data.body) : data.body)\n        : data;\n} catch (e) {\n    result = msg.payload;\n}\n\nif (statusCode >= 200 && statusCode < 300) {\n    node.status({ fill: 'green', shape: 'dot', text: `✅ 성공 (${statusCode})` });\n    node.warn(`✅ AWS 응답 성공: ${JSON.stringify(result)}`);\n    msg.payload = {\n        success: true,\n        statusCode: statusCode,\n        result: result\n    };\n} else {\n    node.status({ fill: 'red', shape: 'dot', text: `❌ 실패 (${statusCode})` });\n    node.warn(`❌ AWS 응답 실패 (${statusCode}): ${JSON.stringify(result)}`);\n    msg.payload = {\n        success: false,\n        statusCode: statusCode,\n        error: result\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 160,
        "wires": [["debug_control_result"]]
    },
    {
        "id": "debug_control_result",
        "type": "debug",
        "z": "aws_control_test_tab",
        "name": "🎯 제어 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment_auto_section",
        "type": "comment",
        "z": "aws_control_test_tab",
        "name": "━━━ 📌 자동 테스트: 서버 시작 감지 → 샘플 제어 전송 ━━━",
        "info": "서버 /health 엔드포인트를 30초마다 확인하고,\n서버가 꺼졌다 켜지면 자동으로 open 테스트 신호를 전송합니다.\n\n이 기능을 끄려면 '서버 감시 시작' inject 노드를 비활성화하세요.",
        "x": 300,
        "y": 320,
        "wires": []
    },
    {
        "id": "health_poll_inject",
        "type": "inject",
        "z": "aws_control_test_tab",
        "name": "서버 감시 시작 (30초 간격)",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 200,
        "y": 400,
        "wires": [["health_check_request"]]
    },
    {
        "id": "health_check_request",
        "type": "http request",
        "z": "aws_control_test_tab",
        "name": "GET /health",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.137.1:3000/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 440,
        "y": 400,
        "wires": [["detect_server_start"]]
    },
    {
        "id": "detect_server_start",
        "type": "function",
        "z": "aws_control_test_tab",
        "name": "서버 시작 감지",
        "func": "// flow 변수로 이전 서버 상태 추적\nconst wasOnline = flow.get('serverWasOnline') || false;\nconst isOnline = msg.statusCode === 200 &&\n                 msg.payload &&\n                 msg.payload.success === true;\n\nflow.set('serverWasOnline', isOnline);\n\nif (isOnline && !wasOnline) {\n    // 서버가 방금 시작됨! → 테스트 신호 전송\n    node.status({\n        fill: 'green',\n        shape: 'dot',\n        text: '🟢 서버 시작 감지! 테스트 전송...'\n    });\n    node.warn('🟢 서버 시작 감지 → 샘플 open 제어 신호 전송');\n    \n    // open 명령 전송\n    msg.command = 'open';\n    msg.deviceId = 'window1';\n    msg.houseId = 'house1';\n    return msg;\n    \n} else if (isOnline) {\n    node.status({\n        fill: 'green',\n        shape: 'ring',\n        text: '서버 온라인 (' + new Date().toLocaleTimeString('ko-KR') + ')'\n    });\n} else {\n    node.status({\n        fill: 'red',\n        shape: 'ring',\n        text: '서버 오프라인 (' + new Date().toLocaleTimeString('ko-KR') + ')'\n    });\n}\n\n// 서버가 이미 온라인이거나 오프라인이면 전송하지 않음\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [["build_control_payload"]]
    },
    {
        "id": "comment_custom_section",
        "type": "comment",
        "z": "aws_control_test_tab",
        "name": "━━━ 📌 커스텀 테스트: 장치/명령 직접 지정 ━━━",
        "info": "house_id, window_id, command를 직접 지정하여 테스트합니다.\nJSON inject 노드의 값을 수정하여 사용하세요.",
        "x": 270,
        "y": 500,
        "wires": []
    },
    {
        "id": "inject_custom",
        "type": "inject",
        "z": "aws_control_test_tab",
        "name": "커스텀 제어 전송",
        "props": [
            { "p": "command", "v": "open", "vt": "str" },
            { "p": "deviceId", "v": "window1", "vt": "str" },
            { "p": "houseId", "v": "house1", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 560,
        "wires": [["build_control_payload"]]
    },
    {
        "id": "inject_sequence",
        "type": "inject",
        "z": "aws_control_test_tab",
        "name": "🔄 연속 테스트 (open→stop→close)",
        "props": [
            { "p": "sequence", "v": "true", "vt": "bool" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 620,
        "wires": [["sequence_generator"]]
    },
    {
        "id": "sequence_generator",
        "type": "function",
        "z": "aws_control_test_tab",
        "name": "시퀀스 생성 (3초 간격)",
        "func": "// open → 3초 → stop → 3초 → close 순서로 전송\nconst commands = ['open', 'stop', 'close'];\nconst results = [];\n\nfor (let i = 0; i < commands.length; i++) {\n    results.push({\n        command: commands[i],\n        deviceId: 'window1',\n        houseId: 'house1',\n        delay: i * 3000  // 0, 3초, 6초\n    });\n}\n\nnode.status({\n    fill: 'blue',\n    shape: 'dot',\n    text: `시퀀스 시작: ${commands.join(' → ')}`\n});\nnode.warn(`🔄 시퀀스 테스트 시작: ${commands.join(' → ')} (3초 간격)`);\n\n// 첫 번째 즉시 전송\nconst firstMsg = RED.util.cloneMessage(msg);\nfirstMsg.command = results[0].command;\nfirstMsg.deviceId = results[0].deviceId;\nfirstMsg.houseId = results[0].houseId;\n\n// 나머지는 setTimeout으로 전송\nfor (let i = 1; i < results.length; i++) {\n    const r = results[i];\n    setTimeout(() => {\n        const delayedMsg = RED.util.cloneMessage(msg);\n        delayedMsg.command = r.command;\n        delayedMsg.deviceId = r.deviceId;\n        delayedMsg.houseId = r.houseId;\n        node.send(delayedMsg);\n        node.status({\n            fill: 'blue',\n            shape: 'dot',\n            text: `시퀀스: ${r.command} 전송`\n        });\n    }, r.delay);\n}\n\nreturn firstMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 620,
        "wires": [["build_control_payload"]]
    }
]
