node-red/flows/combined-flows.json
[
  {
    "id": "startup_init_flow",
    "type": "tab",
    "label": "시작 초기화",
    "disabled": false,
    "info": "Node-RED 시작 시 설정 복원 (2단계)\n1. house_configs 테이블에서 로드 (팜로컬 CRUD 데이터)\n2. house_configs 비어있으면 config_cache에서 시딩\n\nNode-RED 재시작 후에도 오프라인 센서 수집이 중단되지 않도록 보장."
  },
  {
    "id": "inject_startup",
    "type": "inject",
    "z": "startup_init_flow",
    "name": "시작 시 1회 실행",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "startup_check_house_configs"
      ]
    ]
  },
  {
    "id": "startup_check_house_configs",
    "type": "function",
    "z": "startup_init_flow",
    "name": "house_configs 확인",
    "func": "// 이미 global에 config가 있으면 스킵\nvar existing = global.get('houseConfig');\nif (existing) {\n    node.warn('✅ houseConfig 이미 로드됨 (스킵)');\n    node.status({ fill: 'green', shape: 'dot', text: 'config 이미 있음' });\n    return null;\n}\n\nmsg.topic = 'SELECT * FROM house_configs ORDER BY created_at ASC';\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 80,
    "wires": [
      [
        "sqlite_startup_hc"
      ]
    ]
  },
  {
    "id": "sqlite_startup_hc",
    "type": "sqlite",
    "z": "startup_init_flow",
    "name": "house_configs 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 640,
    "y": 80,
    "wires": [
      [
        "startup_hc_handler"
      ]
    ]
  },
  {
    "id": "startup_hc_handler",
    "type": "function",
    "z": "startup_init_flow",
    "name": "house_configs 결과 처리",
    "func": "var rows = msg.payload || [];\n\nif (rows.length > 0) {\n    // house_configs에 데이터 있음 → global에 저장\n    var houses = rows.map(function(row) {\n        var sensors, collection, devices;\n        try { sensors = JSON.parse(row.sensors || '[]'); } catch(e) { sensors = []; }\n        try { collection = JSON.parse(row.collection || '{}'); } catch(e) { collection = {}; }\n        try { devices = JSON.parse(row.devices || '[]'); } catch(e) { devices = []; }\n        return {\n            houseId: row.house_id,\n            houseName: row.house_name,\n            sensors: sensors,\n            collection: collection,\n            devices: devices,\n            enabled: row.enabled === 1,\n            configVersion: row.config_version || 1\n        };\n    });\n    var farmId = rows[0].farm_id || 'farm_0001';\n    var config = { farmId: farmId, farmName: '스마트팜', houses: houses };\n    global.set('houseConfig', config);\n    node.warn('📋 house_configs에서 복원: ' + houses.length + '개 하우스');\n    node.status({ fill: 'green', shape: 'dot', text: houses.length + '개 하우스 복원' });\n    return null;\n}\n\n// house_configs 비어있음 → config_cache에서 시딩 시도\nnode.warn('⚠️ house_configs 비어있음 → config_cache 시딩 시도');\nmsg.topic = 'SELECT config_json FROM config_cache ORDER BY version DESC LIMIT 1';\nmsg._seedMode = true;\nreturn msg;",
    "outputs": 1,
    "x": 870,
    "y": 80,
    "wires": [
      [
        "sqlite_startup_cache"
      ]
    ]
  },
  {
    "id": "sqlite_startup_cache",
    "type": "sqlite",
    "z": "startup_init_flow",
    "name": "config_cache 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 400,
    "y": 180,
    "wires": [
      [
        "startup_seed_handler"
      ]
    ]
  },
  {
    "id": "startup_seed_handler",
    "type": "function",
    "z": "startup_init_flow",
    "name": "config_cache → house_configs 시딩",
    "func": "var rows = msg.payload || [];\nif (rows.length === 0 || !rows[0].config_json) {\n    node.warn('⚠️ config_cache도 비어있음 - 설정 페이지에서 하우스를 추가하세요');\n    node.status({ fill: 'yellow', shape: 'ring', text: 'config 없음' });\n    return null;\n}\n\ntry {\n    var config = JSON.parse(rows[0].config_json);\n    \n    // global에 먼저 저장 (센서 수집 즉시 가능)\n    global.set('houseConfig', config);\n    \n    // houses 배열 추출\n    var houses = config.houses || [];\n    if (houses.length === 0 && config.houseId) {\n        houses = [config];\n    }\n    if (houses.length === 0) {\n        node.warn('⚠️ config_cache에 하우스 정보 없음');\n        node.status({ fill: 'yellow', shape: 'ring', text: 'houses 없음' });\n        return null;\n    }\n    \n    // 각 하우스를 house_configs에 INSERT\n    var now = new Date().toISOString();\n    var messages = [];\n    for (var i = 0; i < houses.length; i++) {\n        var h = houses[i];\n        var id = Date.now().toString(36) + Math.random().toString(36).substr(2, 9) + i;\n        messages.push({\n            topic: 'INSERT OR IGNORE INTO house_configs (id, farm_id, house_id, house_name, sensors, collection, devices, crops, crop_type, crop_variety, planting_date, device_count, enabled, config_version, created_at, updated_at) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,$16)',\n            payload: [\n                id,\n                h.farmId || config.farmId || 'farm_0001',\n                h.houseId,\n                h.houseName || h.name || '',\n                JSON.stringify(h.sensors || []),\n                JSON.stringify(h.collection || {}),\n                JSON.stringify(h.devices || []),\n                JSON.stringify(h.crops || []),\n                h.cropType || '', h.cropVariety || '', h.plantingDate || '',\n                h.deviceCount || (h.devices ? h.devices.length : 0),\n                h.enabled !== false ? 1 : 0,\n                h.configVersion || 1,\n                now, now\n            ]\n        });\n    }\n    \n    node.warn('🌱 config_cache → house_configs 시딩: ' + messages.length + '건');\n    node.status({ fill: 'blue', shape: 'dot', text: messages.length + '건 시딩 중' });\n    return [messages];\n} catch(e) {\n    node.error('❌ config_cache 시딩 실패: ' + e.message);\n    node.status({ fill: 'red', shape: 'dot', text: '시딩 실패' });\n    return null;\n}",
    "outputs": 1,
    "x": 680,
    "y": 180,
    "wires": [
      [
        "sqlite_startup_seed"
      ]
    ]
  },
  {
    "id": "sqlite_startup_seed",
    "type": "sqlite",
    "z": "startup_init_flow",
    "name": "시딩 INSERT",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 920,
    "y": 180,
    "wires": [
      [
        "startup_seed_done"
      ]
    ]
  },
  {
    "id": "startup_seed_done",
    "type": "function",
    "z": "startup_init_flow",
    "name": "시딩 완료",
    "func": "node.warn('✅ house_configs 시딩 완료');\nnode.status({ fill: 'green', shape: 'dot', text: '시딩 완료' });\nreturn null;",
    "outputs": 1,
    "x": 1100,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "comment_startup",
    "type": "comment",
    "z": "startup_init_flow",
    "name": "━━━ Node-RED 시작 시 설정 자동 복원 (house_configs 우선, config_cache 폴백) ━━━",
    "info": "Node-RED 재시작 시 global context가 초기화되어\nhouseConfig이 null이 됩니다.\n\n복원 순서:\n1. house_configs 테이블 확인 (팜로컬 CRUD 데이터)\n2. 비어있으면 config_cache에서 시딩 후 house_configs에 저장\n3. global.houseConfig에 복원하여 센서 수집 즉시 가능",
    "x": 370,
    "y": 40,
    "wires": []
  },
  {
    "id": "sqlite_init_flow",
    "type": "tab",
    "label": "SQLite 초기화",
    "disabled": false,
    "info": "SmartFarm SQLite 로컬 저장소 초기화\n- sensor_data: 센서 데이터 (설정 기간 보관)\n- config_cache: 서버 설정 캐시\n- automation_rules: 자동화 규칙 캐시\n- control_logs: 제어 로그\n- house_configs: 하우스 설정 CRUD (팜로컬)\n- system_settings: 시스템 설정 (보관기간 등)"
  },
  {
    "id": "sqlite_db",
    "type": "sqlitedb",
    "db": "/home/lhk/.node-red/smartfarm.db",
    "mode": "RWC"
  },
  {
    "id": "inject_init",
    "type": "inject",
    "z": "sqlite_init_flow",
    "name": "DB 초기화 (수동 실행)",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "pragma_settings"
      ]
    ]
  },
  {
    "id": "inject_auto_init",
    "type": "inject",
    "z": "sqlite_init_flow",
    "name": "시작 시 자동 초기화",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "pragma_settings"
      ]
    ]
  },
  {
    "id": "pragma_settings",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "PRAGMA 순차 실행",
    "func": "// node-red-node-sqlite는 단일 PRAGMA만 실행 가능\n// 순차 체인으로 5개 PRAGMA 실행\nvar pragmas = [\n  'PRAGMA journal_mode = WAL',\n  'PRAGMA busy_timeout = 5000',\n  'PRAGMA synchronous = NORMAL',\n  'PRAGMA cache_size = -8000',\n  'PRAGMA temp_store = MEMORY'\n];\nmsg._pragmaList = pragmas;\nmsg._pragmaIdx = 0;\nmsg.topic = pragmas[0];\nnode.warn('⚙️ SQLite PRAGMA 설정 시작 (5개)');\nreturn msg;",
    "outputs": 1,
    "x": 430,
    "y": 60,
    "wires": [
      [
        "sqlite_exec_pragma"
      ]
    ]
  },
  {
    "id": "sqlite_exec_pragma",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "PRAGMA 적용",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 650,
    "y": 60,
    "wires": [
      [
        "pragma_next"
      ]
    ]
  },
  {
    "id": "pragma_next",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "다음 PRAGMA",
    "func": "var idx = (msg._pragmaIdx || 0) + 1;\nvar list = msg._pragmaList || [];\nif (idx < list.length) {\n  msg._pragmaIdx = idx;\n  msg.topic = list[idx];\n  return [msg, null];\n}\nnode.warn('✅ PRAGMA 5개 설정 완료');\nreturn [null, msg];",
    "outputs": 2,
    "outputLabels": [
      "다음 PRAGMA",
      "완료→테이블생성"
    ],
    "x": 840,
    "y": 60,
    "wires": [
      [
        "sqlite_exec_pragma"
      ],
      [
        "init_tables"
      ]
    ]
  },
  {
    "id": "init_tables",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "테이블 생성 SQL",
    "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS sensor_data (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  timestamp TEXT NOT NULL,\n  farm_id TEXT NOT NULL,\n  house_id TEXT NOT NULL,\n  sensor_id TEXT NOT NULL,\n  value REAL,\n  synced INTEGER DEFAULT 0\n);\n`;\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 130,
    "wires": [
      [
        "sqlite_exec_1"
      ]
    ]
  },
  {
    "id": "sqlite_exec_1",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "sensor_data 생성",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 640,
    "y": 110,
    "wires": [
      [
        "init_indexes"
      ]
    ]
  },
  {
    "id": "init_indexes",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "인덱스 생성",
    "func": "msg.topic = `\nCREATE INDEX IF NOT EXISTS idx_sensor_timestamp ON sensor_data(timestamp);\nCREATE INDEX IF NOT EXISTS idx_sensor_synced ON sensor_data(synced);\nCREATE INDEX IF NOT EXISTS idx_sensor_farm_house ON sensor_data(farm_id, house_id);\nCREATE INDEX IF NOT EXISTS idx_sensor_synced_ts ON sensor_data(synced, timestamp);\nCREATE INDEX IF NOT EXISTS idx_sensor_synced_farm_house ON sensor_data(synced, farm_id, house_id, timestamp);\n`;\nreturn msg;",
    "outputs": 1,
    "x": 850,
    "y": 110,
    "wires": [
      [
        "sqlite_exec_2"
      ]
    ]
  },
  {
    "id": "sqlite_exec_2",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "인덱스 생성",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1050,
    "y": 110,
    "wires": [
      [
        "init_config_cache"
      ]
    ]
  },
  {
    "id": "init_config_cache",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "config_cache 테이블",
    "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS config_cache (\n  id INTEGER PRIMARY KEY,\n  farm_id TEXT NOT NULL,\n  house_id TEXT NOT NULL,\n  config_json TEXT NOT NULL,\n  version INTEGER DEFAULT 0,\n  updated_at TEXT NOT NULL\n);\n`;\nreturn msg;",
    "outputs": 1,
    "x": 430,
    "y": 200,
    "wires": [
      [
        "sqlite_exec_3"
      ]
    ]
  },
  {
    "id": "sqlite_exec_3",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "config_cache 생성",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 650,
    "y": 200,
    "wires": [
      [
        "init_automation_rules"
      ]
    ]
  },
  {
    "id": "init_automation_rules",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "automation_rules 테이블",
    "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS automation_rules (\n  id TEXT PRIMARY KEY,\n  farm_id TEXT NOT NULL DEFAULT 'farm_0001',\n  house_id TEXT NOT NULL,\n  name TEXT NOT NULL,\n  description TEXT DEFAULT '',\n  enabled INTEGER DEFAULT 1,\n  condition_logic TEXT DEFAULT 'AND',\n  group_logic TEXT DEFAULT 'AND',\n  conditions TEXT NOT NULL,\n  actions TEXT NOT NULL,\n  cooldown_seconds INTEGER DEFAULT 300,\n  priority INTEGER DEFAULT 10,\n  last_triggered_at TEXT,\n  trigger_count INTEGER DEFAULT 0,\n  synced INTEGER DEFAULT 0,\n  created_at TEXT NOT NULL,\n  updated_at TEXT NOT NULL\n);\nCREATE INDEX IF NOT EXISTS idx_automation_farm ON automation_rules(farm_id, house_id);\nCREATE INDEX IF NOT EXISTS idx_automation_enabled ON automation_rules(enabled);\nCREATE INDEX IF NOT EXISTS idx_automation_synced ON automation_rules(synced);\n`;\nreturn msg;",
    "outputs": 1,
    "x": 870,
    "y": 200,
    "wires": [
      [
        "sqlite_exec_4"
      ]
    ]
  },
  {
    "id": "sqlite_exec_4",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "automation_rules 생성",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1070,
    "y": 200,
    "wires": [
      [
        "migrate_group_logic"
      ]
    ]
  },
  {
    "id": "migrate_group_logic",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "group_logic 컬럼 마이그레이션",
    "func": "msg.topic = \"SELECT COUNT(*) as cnt FROM pragma_table_info('automation_rules') WHERE name = 'group_logic'\";\nreturn msg;",
    "outputs": 1,
    "x": 470,
    "y": 250,
    "wires": [
      [
        "sqlite_check_group_logic"
      ]
    ]
  },
  {
    "id": "sqlite_check_group_logic",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "컬럼 확인",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 670,
    "y": 250,
    "wires": [
      [
        "migrate_group_logic_exec"
      ]
    ]
  },
  {
    "id": "migrate_group_logic_exec",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "ALTER TABLE (필요 시)",
    "func": "var rows = msg.payload || [];\nvar cnt = rows[0] ? rows[0].cnt : 0;\nif (cnt === 0) {\n    msg.topic = \"ALTER TABLE automation_rules ADD COLUMN group_logic TEXT DEFAULT 'AND'\";\n    node.warn('📦 마이그레이션: automation_rules에 group_logic 컬럼 추가');\n    return [msg, null];\n}\nreturn [null, msg];",
    "outputs": 2,
    "outputLabels": [
      "ALTER 실행",
      "스킵"
    ],
    "x": 890,
    "y": 250,
    "wires": [
      [
        "sqlite_exec_migrate_gl",
        "init_control_logs"
      ],
      [
        "init_control_logs"
      ]
    ]
  },
  {
    "id": "sqlite_exec_migrate_gl",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "ALTER TABLE 실행",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1100,
    "y": 250,
    "wires": [
      [
        "init_control_logs"
      ]
    ]
  },
  {
    "id": "init_control_logs",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "control_logs 테이블",
    "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS control_logs (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  timestamp TEXT NOT NULL,\n  device_id TEXT NOT NULL,\n  command TEXT NOT NULL,\n  source TEXT NOT NULL,\n  synced INTEGER DEFAULT 0\n);\n`;\nreturn msg;",
    "outputs": 1,
    "x": 430,
    "y": 290,
    "wires": [
      [
        "sqlite_exec_5"
      ]
    ]
  },
  {
    "id": "sqlite_exec_5",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "control_logs 생성",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 650,
    "y": 290,
    "wires": [
      [
        "init_house_configs"
      ]
    ]
  },
  {
    "id": "init_house_configs",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "house_configs 테이블",
    "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS house_configs (\n  id TEXT PRIMARY KEY,\n  farm_id TEXT NOT NULL,\n  house_id TEXT NOT NULL,\n  house_name TEXT DEFAULT '',\n  sensors TEXT DEFAULT '[]',\n  collection TEXT DEFAULT '{}',\n  devices TEXT DEFAULT '[]',\n  crops TEXT DEFAULT '[]',\n  crop_type TEXT DEFAULT '',\n  crop_variety TEXT DEFAULT '',\n  planting_date TEXT DEFAULT '',\n  device_count INTEGER DEFAULT 0,\n  enabled INTEGER DEFAULT 1,\n  config_version INTEGER DEFAULT 1,\n  created_at TEXT NOT NULL,\n  updated_at TEXT NOT NULL,\n  UNIQUE(farm_id, house_id)\n);\nCREATE INDEX IF NOT EXISTS idx_hc_farm ON house_configs(farm_id);\nCREATE INDEX IF NOT EXISTS idx_hc_farm_house ON house_configs(farm_id, house_id);\n`;\nreturn msg;",
    "outputs": 1,
    "x": 890,
    "y": 290,
    "wires": [
      [
        "sqlite_exec_6"
      ]
    ]
  },
  {
    "id": "sqlite_exec_6",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "house_configs 생성",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 430,
    "y": 370,
    "wires": [
      [
        "init_system_settings"
      ]
    ]
  },
  {
    "id": "init_system_settings",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "system_settings 테이블",
    "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS system_settings (\n  id INTEGER PRIMARY KEY,\n  farm_id TEXT NOT NULL UNIQUE,\n  settings_json TEXT DEFAULT '{}',\n  updated_at TEXT NOT NULL\n);\n`;\nreturn msg;",
    "outputs": 1,
    "x": 670,
    "y": 370,
    "wires": [
      [
        "sqlite_exec_7"
      ]
    ]
  },
  {
    "id": "sqlite_exec_7",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "system_settings 생성",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 900,
    "y": 370,
    "wires": [
      [
        "init_done"
      ]
    ]
  },
  {
    "id": "init_done",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "초기화 완료",
    "func": "node.warn('✅ SmartFarm SQLite DB 초기화 완료');\nnode.status({ fill: 'green', shape: 'dot', text: '초기화 완료' });\nmsg.payload = 'SQLite DB 초기화 완료: sensor_data, config_cache, automation_rules, control_logs, house_configs, system_settings';\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 440,
    "wires": [
      [
        "debug_init"
      ]
    ]
  },
  {
    "id": "debug_init",
    "type": "debug",
    "z": "sqlite_init_flow",
    "name": "초기화 결과",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1050,
    "y": 290,
    "wires": []
  },
  {
    "id": "comment_cleanup",
    "type": "comment",
    "z": "sqlite_init_flow",
    "name": "━━━ 동적 보관기간 데이터 정리 (매일 자정) ━━━",
    "x": 250,
    "y": 380,
    "wires": []
  },
  {
    "id": "inject_cleanup",
    "type": "inject",
    "z": "sqlite_init_flow",
    "name": "매일 자정",
    "props": [],
    "repeat": "",
    "crontab": "00 00 * * *",
    "once": false,
    "topic": "",
    "x": 150,
    "y": 440,
    "wires": [
      [
        "fetch_retention_url"
      ]
    ]
  },
  {
    "id": "inject_cleanup_manual",
    "type": "inject",
    "z": "sqlite_init_flow",
    "name": "수동 정리",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 150,
    "y": 500,
    "wires": [
      [
        "fetch_retention_url"
      ]
    ]
  },
  {
    "id": "fetch_retention_url",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "서버 설정 URL",
    "func": "var serverUrl = env.get('SERVER_URL') || 'http://192.168.137.1:3000';\nvar farmId = env.get('FARM_ID') || 'farm_0001';\nmsg.url = serverUrl + '/api/config/system-settings/' + farmId;\nnode.status({fill:'yellow',shape:'ring',text:'설정 조회 중...'});\nreturn msg;",
    "outputs": 1,
    "x": 370,
    "y": 470,
    "wires": [
      [
        "http_fetch_retention"
      ]
    ]
  },
  {
    "id": "http_fetch_retention",
    "type": "http request",
    "z": "sqlite_init_flow",
    "name": "GET system-settings",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 570,
    "y": 470,
    "wires": [
      [
        "cleanup_sql"
      ]
    ]
  },
  {
    "id": "cleanup_sql",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "보관기간 적용 삭제 SQL",
    "func": "var retentionDays = 60;\ntry {\n    if (msg.payload && msg.payload.success && msg.payload.data) {\n        retentionDays = msg.payload.data.retentionDays || 60;\n        global.set('retentionDays', retentionDays);\n        node.warn('서버 설정 반영: ' + retentionDays + '일 보관');\n    } else {\n        retentionDays = global.get('retentionDays') || 60;\n        node.warn('캐시 설정 사용: ' + retentionDays + '일 보관');\n    }\n} catch(e) {\n    retentionDays = global.get('retentionDays') || 60;\n    node.warn('기본 설정 사용: ' + retentionDays + '일 보관');\n}\nmsg.retentionDays = retentionDays;\nmsg.topic = \"DELETE FROM sensor_data WHERE synced = 1 AND timestamp < datetime('now', '-\" + retentionDays + \" days')\";\nnode.status({fill:'blue',shape:'dot',text:retentionDays+'일 보관'});\nreturn msg;",
    "outputs": 1,
    "x": 790,
    "y": 470,
    "wires": [
      [
        "sqlite_cleanup"
      ]
    ]
  },
  {
    "id": "sqlite_cleanup",
    "type": "sqlite",
    "z": "sqlite_init_flow",
    "name": "정리 실행",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 990,
    "y": 470,
    "wires": [
      [
        "cleanup_result"
      ]
    ]
  },
  {
    "id": "cleanup_result",
    "type": "function",
    "z": "sqlite_init_flow",
    "name": "정리 결과",
    "func": "var changes = msg.payload ? msg.payload.changes || 0 : 0;\nvar days = msg.retentionDays || 60;\nnode.warn('🗑️ ' + days + '일 이상 데이터 ' + changes + '건 삭제');\nnode.status({ fill: 'blue', shape: 'dot', text: changes + '건 삭제 (' + days + '일 보관)' });\nreturn msg;",
    "outputs": 1,
    "x": 1170,
    "y": 470,
    "wires": [
      [
        "debug_cleanup"
      ]
    ]
  },
  {
    "id": "debug_cleanup",
    "type": "debug",
    "z": "sqlite_init_flow",
    "name": "정리 결과",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1350,
    "y": 470,
    "wires": []
  },
  {
    "id": "collection_offline_flow",
    "type": "tab",
    "label": "센서 수집 (오프라인)",
    "disabled": false,
    "info": "센서 데이터 수집 → SQLite 항상 저장\n온라인: SQLite + 서버 전송\n오프라인: SQLite만 저장\n\n수집 주기: 10분 (600초)"
  },
  {
    "id": "inject_collect",
    "type": "inject",
    "z": "collection_offline_flow",
    "name": "10분 간격 수집",
    "props": [],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "fn_load_config"
      ]
    ]
  },
  {
    "id": "inject_collect_manual",
    "type": "inject",
    "z": "collection_offline_flow",
    "name": "수동 수집 (테스트)",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "fn_load_config"
      ]
    ]
  },
  {
    "id": "comment_phase1",
    "type": "comment",
    "z": "collection_offline_flow",
    "name": "━━━ Phase 1: 설정 로드 ━━━",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "fn_load_config",
    "type": "function",
    "z": "collection_offline_flow",
    "name": "① 설정 로드",
    "func": "const SERVER_URL = env.get('SERVER_URL') || 'http://192.168.137.1:3000';\nconst FARM_ID = env.get('FARM_ID') || 'farm_0001';\nconst HOUSE_ID = env.get('HOUSE_ID') || 'house_001';\nconst API_KEY = env.get('SENSOR_API_KEY') || 'smartfarm-sensor-key';\n\n// operationMode가 아직 설정 안 된 경우 (재시작 직후)\n// serverOnline도 체크하여 기본값 결정\nconst serverOnline = global.get('serverOnline');\nconst operationMode = global.get('operationMode') || (serverOnline === true ? 'online' : 'offline');\n\nif (operationMode === 'online') {\n    // 온라인: 서버에서 설정 가져오기\n    msg.url = `${SERVER_URL}/api/config/${HOUSE_ID}?farmId=${FARM_ID}`;\n    msg.method = 'GET';\n    msg.headers = { 'Content-Type': 'application/json', 'x-api-key': API_KEY };\n    node.status({ fill: 'blue', shape: 'dot', text: '온라인: 서버 config 요청' });\n    return [msg, null, null]; // 출력1: HTTP Request\n} else {\n    // 오프라인: global 캐시 → SQLite 캐시\n    const cachedConfig = global.get('houseConfig');\n    if (cachedConfig) {\n        msg.config = cachedConfig;\n        node.status({ fill: 'yellow', shape: 'dot', text: '오프라인: global 캐시 사용' });\n        return [null, msg, null]; // 출력2: 센서 수집으로\n    } else {\n        // SQLite config_cache에서 로드\n        msg.topic = 'SELECT config_json FROM config_cache ORDER BY version DESC LIMIT 1';\n        node.status({ fill: 'yellow', shape: 'ring', text: '오프라인: SQLite 캐시 조회' });\n        return [null, null, msg]; // 출력3: SQLite 조회\n    }\n}",
    "outputs": 3,
    "outputLabels": [
      "서버 요청 (온라인)",
      "센서 수집 (캐시 있음)",
      "SQLite 캐시 조회"
    ],
    "x": 430,
    "y": 100,
    "wires": [
      [
        "http_get_config"
      ],
      [
        "fn_collect_sensors"
      ],
      [
        "sqlite_config_cache"
      ]
    ]
  },
  {
    "id": "http_get_config",
    "type": "http request",
    "z": "collection_offline_flow",
    "name": "서버 config 가져오기",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 690,
    "y": 60,
    "wires": [
      [
        "fn_process_config_response"
      ]
    ]
  },
  {
    "id": "fn_process_config_response",
    "type": "function",
    "z": "collection_offline_flow",
    "name": "② 설정 응답 처리",
    "func": "if (msg.statusCode !== 200) {\n    const cachedConfig = global.get('houseConfig');\n    if (cachedConfig) {\n        node.warn('⚠️ 서버 응답 실패, 캐시된 설정 사용');\n        msg.config = cachedConfig;\n        return [msg, null];\n    }\n    node.error('❌ 서버 응답 실패, 캐시도 없음');\n    return [null, null];\n}\n\nconst response = msg.payload;\nif (!response.success) {\n    node.error('설정 오류: ' + (response.error || 'unknown'));\n    return [null, null];\n}\n\nconst config = response.data;\n\n// global 캐시 갱신\nconst cachedConfig = global.get('houseConfig');\nconst cachedVersion = cachedConfig ? cachedConfig.configVersion : 0;\n\nif (!cachedConfig || config.configVersion > cachedVersion) {\n    node.warn('📋 설정 업데이트: v' + cachedVersion + ' → v' + config.configVersion);\n    global.set('houseConfig', config);\n\n    // SQLite에도 캐시 저장 (위치 파라미터)\n    const cacheMsg = {\n        topic: 'INSERT OR REPLACE INTO config_cache (id, farm_id, house_id, config_json, version, updated_at) VALUES (1, $1, $2, $3, $4, $5)',\n        payload: [\n            config.farmId || 'farm_0001',\n            config.houseId || (config.houses && config.houses[0] ? config.houses[0].houseId : 'house_001'),\n            JSON.stringify(config),\n            config.configVersion || 1,\n            new Date().toISOString()\n        ]\n    };\n    msg.config = config;\n    return [msg, cacheMsg];\n}\n\nmsg.config = config;\nreturn [msg, null];",
    "outputs": 2,
    "outputLabels": [
      "센서 수집으로",
      "SQLite 캐시 저장"
    ],
    "x": 920,
    "y": 60,
    "wires": [
      [
        "fn_collect_sensors"
      ],
      [
        "sqlite_save_config_cache"
      ]
    ]
  },
  {
    "id": "sqlite_config_cache",
    "type": "sqlite",
    "z": "collection_offline_flow",
    "name": "config_cache 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 690,
    "y": 140,
    "wires": [
      [
        "fn_sqlite_config_handler"
      ]
    ]
  },
  {
    "id": "fn_sqlite_config_handler",
    "type": "function",
    "z": "collection_offline_flow",
    "name": "SQLite config → global",
    "func": "const rows = msg.payload || [];\n\nif (rows.length > 0 && rows[0].config_json) {\n    try {\n        const config = JSON.parse(rows[0].config_json);\n        global.set('houseConfig', config);\n        msg.config = config;\n        node.warn('📋 SQLite에서 config 복원 완료');\n        node.status({ fill: 'green', shape: 'dot', text: 'SQLite config 복원' });\n        return msg;\n    } catch (e) {\n        node.error('❌ config JSON 파싱 실패: ' + e.message);\n    }\n}\n\nnode.error('❌ SQLite config_cache도 비어있음 - 서버에 1회 접속 필요');\nnode.status({ fill: 'red', shape: 'dot', text: 'config 없음!' });\nreturn null;",
    "outputs": 1,
    "x": 920,
    "y": 140,
    "wires": [
      [
        "fn_collect_sensors"
      ]
    ]
  },
  {
    "id": "sqlite_save_config_cache",
    "type": "sqlite",
    "z": "collection_offline_flow",
    "name": "config 캐시 저장",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1150,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "comment_phase2",
    "type": "comment",
    "z": "collection_offline_flow",
    "name": "━━━ Phase 2: 센서 수집 + SQLite 저장 ━━━",
    "x": 190,
    "y": 210,
    "wires": []
  },
  {
    "id": "fn_collect_sensors",
    "type": "function",
    "z": "collection_offline_flow",
    "name": "③ 센서 데이터 수집",
    "func": "const config = msg.config || global.get('houseConfig');\n\nif (!config) {\n    node.error('❌ config 없음, 수집 중단');\n    return null;\n}\n\n// 모든 하우스의 센서 수집 (멀티하우스 지원)\nlet housesToCollect = [];\n\nif (config.houses && config.houses.length > 0) {\n    housesToCollect = config.houses.filter(h => h.enabled !== false);\n} else if (config.sensors) {\n    // 단일 하우스 config (레거시 호환)\n    housesToCollect = [{ houseId: config.houseId, sensors: config.sensors }];\n}\n\nif (housesToCollect.length === 0) {\n    node.error('❌ 활성 하우스 없음');\n    return null;\n}\n\nconst farmId = config.farmId;\nconst messages = [];\n\nfor (const house of housesToCollect) {\n    const sensors = house.sensors || [];\n    const houseId = house.houseId;\n    const enabledSensors = sensors.filter(s => s.enabled);\n\n    if (enabledSensors.length === 0) {\n        continue;\n    }\n\n    // 센서 데이터 읽기 (시뮬레이션 - 실제 GPIO 연결 시 여기를 수정)\n    const sensorData = {};\n    for (const sensor of enabledSensors) {\n        try {\n            let value;\n            switch (sensor.sensorId) {\n                case 'temp_001':\n                    value = parseFloat((Math.random() * 10 + 20).toFixed(1));\n                    break;\n                case 'humidity_001':\n                    value = parseFloat((Math.random() * 20 + 50).toFixed(1));\n                    break;\n                case 'co2_001':\n                    value = parseInt(Math.random() * 200 + 400);\n                    break;\n                default:\n                    if (sensor.type === 'number') {\n                        const min = sensor.min !== null ? sensor.min : 0;\n                        const max = sensor.max !== null ? sensor.max : 100;\n                        value = parseFloat((Math.random() * (max - min) + min).toFixed(sensor.precision || 1));\n                    } else if (sensor.type === 'boolean') {\n                        value = Math.random() > 0.5;\n                    } else {\n                        value = 'OK';\n                    }\n            }\n            sensorData[sensor.sensorId] = value;\n        } catch (e) {\n            node.error('센서 읽기 실패: ' + sensor.sensorId + ' - ' + e.message);\n            sensorData[sensor.sensorId] = null;\n        }\n    }\n\n    messages.push({\n        payload: {\n            farmId: farmId,\n            houseId: houseId,\n            data: sensorData,\n            timestamp: new Date().toISOString(),\n            deviceInfo: {\n                deviceId: env.get('DEVICE_ID') || 'rpi_001',\n                ip: '192.168.137.30',\n                version: '2.0.0-offline'\n            }\n        }\n    });\n}\n\nif (messages.length === 0) {\n    node.warn('⚠️ 모든 하우스에 활성 센서 없음');\n    return null;\n}\n\nconst totalSensors = messages.reduce((sum, m) => sum + Object.keys(m.payload.data).length, 0);\nnode.warn('📡 ' + messages.length + '개 하우스, 총 ' + totalSensors + '개 센서 수집');\nnode.status({ fill: 'green', shape: 'dot', text: messages.length + '개 하우스 ' + totalSensors + '개 센서' });\n\nreturn [messages];",
    "outputs": 1,
    "x": 430,
    "y": 260,
    "wires": [
      [
        "fn_sqlite_insert"
      ]
    ]
  },
  {
    "id": "fn_sqlite_insert",
    "type": "function",
    "z": "collection_offline_flow",
    "name": "④ SQLite INSERT 준비",
    "func": "const { farmId, houseId, data, timestamp } = msg.payload;\nconst ts = timestamp || new Date().toISOString();\n\n// 센서 데이터 수집\nconst entries = Object.entries(data).filter(([k, v]) => v !== null && v !== undefined);\n\nif (entries.length === 0) {\n    node.warn('⚠️ 저장할 데이터 없음');\n    return null;\n}\n\n// 위치 파라미터 쿼리로 개별 INSERT (센서별 msg 배열)\n// node-red-node-sqlite msg.topic 모드: msg.payload 배열 + $N 파라미터 사용\nconst messages = entries.map(([sensorId, value]) => ({\n    topic: 'INSERT INTO sensor_data (timestamp, farm_id, house_id, sensor_id, value, synced) VALUES ($1, $2, $3, $4, $5, 0)',\n    payload: [ts, farmId, houseId, sensorId, value],\n    _insertTimestamp: ts,\n    _sensorCount: entries.length,\n    _isLast: false,\n    _originalPayload: msg.payload,\n    _houseId: houseId\n}));\n\n// 마지막 메시지에 표시 (모드 분기용)\nconst srvOnline = global.get('serverOnline');\nconst opMode = global.get('operationMode') || (srvOnline === true ? 'online' : 'offline');\nmessages[messages.length - 1]._isLast = true;\nmessages[messages.length - 1]._operationMode = opMode;\n\nnode.warn('💾 SQLite INSERT: ' + houseId + ' ' + entries.length + '건');\nreturn [messages];",
    "outputs": 1,
    "x": 700,
    "y": 260,
    "wires": [
      [
        "sqlite_insert_data"
      ]
    ]
  },
  {
    "id": "sqlite_insert_data",
    "type": "sqlite",
    "z": "collection_offline_flow",
    "name": "SQLite 저장 (항상)",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 950,
    "y": 260,
    "wires": [
      [
        "fn_mode_branch"
      ]
    ]
  },
  {
    "id": "comment_phase3",
    "type": "comment",
    "z": "collection_offline_flow",
    "name": "━━━ Phase 3: 모드별 분기 ━━━",
    "x": 160,
    "y": 340,
    "wires": []
  },
  {
    "id": "fn_mode_branch",
    "type": "function",
    "z": "collection_offline_flow",
    "name": "⑤ 모드별 분기",
    "func": "// 마지막 INSERT 메시지만 처리 (나머지는 통과)\nif (!msg._isLast) { return null; }\n\nconst serverOnline = global.get('serverOnline');\nconst mode = msg._operationMode || global.get('operationMode') || (serverOnline === true ? 'online' : 'offline');\n\n// 자동화 평가용 메시지 (모드와 무관하게 항상 실행)\nvar evalMsg = null;\nif (msg._originalPayload) {\n    evalMsg = {\n        sensorData: {\n            farmId: msg._originalPayload.farmId,\n            houseId: msg._originalPayload.houseId,\n            data: msg._originalPayload.data\n        }\n    };\n}\n\n// 원본 payload 복원 (서버 전송용)\nif (msg._originalPayload) { msg.payload = msg._originalPayload; }\n\nif (mode === 'online') {\n    const SERVER_URL = env.get('SERVER_URL') || 'http://192.168.137.1:3000';\n    const API_KEY = env.get('SENSOR_API_KEY') || 'smartfarm-sensor-key';\n\n    msg.url = SERVER_URL + '/api/sensors/collect';\n    msg.method = 'POST';\n    msg.headers = { 'Content-Type': 'application/json', 'x-api-key': API_KEY };\n    msg.requestTimeout = 10000;\n\n    node.status({ fill: 'green', shape: 'dot', text: '온라인: SQLite ✓ + 서버 전송' });\n    return [msg, null, evalMsg];\n} else {\n    node.warn('📴 오프라인: SQLite만 저장 (synced=0)');\n    node.status({ fill: 'yellow', shape: 'dot', text: '오프라인: SQLite ✓ (' + msg._sensorCount + '건)' });\n    msg.payload = '오프라인 저장 완료: ' + msg._sensorCount + '건';\n    return [null, msg, evalMsg];\n}",
    "outputs": 3,
    "outputLabels": [
      "서버 전송 (온라인)",
      "완료 (오프라인)",
      "자동화 평가"
    ],
    "x": 430,
    "y": 380,
    "wires": [
      [
        "http_send_server"
      ],
      [
        "debug_offline_done"
      ],
      [
        "link_out_to_evaluate"
      ]
    ]
  },
  {
    "id": "http_send_server",
    "type": "http request",
    "z": "collection_offline_flow",
    "name": "서버로 전송",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 680,
    "y": 370,
    "wires": [
      [
        "fn_send_result"
      ]
    ]
  },
  {
    "id": "fn_send_result",
    "type": "function",
    "z": "collection_offline_flow",
    "name": "⑥ 전송 결과 처리",
    "func": "if (msg.statusCode === 201 || msg.statusCode === 200) {\n    node.warn('✅ 서버 전송 성공 → synced=1');\n    \n    const syncMsg = {\n        topic: 'UPDATE sensor_data SET synced = 1 WHERE timestamp = $1 AND house_id = $2 AND synced = 0',\n        payload: [msg._insertTimestamp, msg._houseId]\n    };\n\n    node.status({ fill: 'green', shape: 'dot', text: '서버 전송 ✓ + synced' });\n    return [syncMsg, msg];\n} else {\n    node.warn('⚠️ 서버 전송 실패 (' + msg.statusCode + '): synced=0 유지');\n    node.status({ fill: 'yellow', shape: 'ring', text: '전송 실패 (synced=0)' });\n    return [null, msg];\n}",
    "outputs": 2,
    "outputLabels": [
      "synced 업데이트",
      "Debug"
    ],
    "x": 900,
    "y": 370,
    "wires": [
      [
        "sqlite_update_synced"
      ],
      [
        "debug_send_result"
      ]
    ]
  },
  {
    "id": "sqlite_update_synced",
    "type": "sqlite",
    "z": "collection_offline_flow",
    "name": "synced=1 마킹",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1120,
    "y": 350,
    "wires": [
      []
    ]
  },
  {
    "id": "debug_offline_done",
    "type": "debug",
    "z": "collection_offline_flow",
    "name": "오프라인 저장 완료",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 710,
    "y": 420,
    "wires": []
  },
  {
    "id": "debug_send_result",
    "type": "debug",
    "z": "collection_offline_flow",
    "name": "전송 결과",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1120,
    "y": 400,
    "wires": []
  },
  {
    "id": "catch_config_error",
    "type": "catch",
    "z": "collection_offline_flow",
    "name": "Config HTTP 에러 캐치",
    "scope": [
      "http_get_config"
    ],
    "uncaught": false,
    "x": 720,
    "y": 110,
    "wires": [
      [
        "fn_process_config_response"
      ]
    ]
  },
  {
    "id": "catch_send_error",
    "type": "catch",
    "z": "collection_offline_flow",
    "name": "서버 전송 에러 캐치",
    "scope": [
      "http_send_server"
    ],
    "uncaught": false,
    "x": 710,
    "y": 460,
    "wires": [
      [
        "fn_send_result"
      ]
    ]
  },
  {
    "id": "link_out_to_evaluate",
    "type": "link out",
    "z": "collection_offline_flow",
    "name": "자동화 평가 →",
    "mode": "link",
    "links": [
      "link_in_evaluate"
    ],
    "x": 680,
    "y": 500,
    "wires": []
  },
  {
    "id": "catch_sqlite_insert_error",
    "type": "catch",
    "z": "collection_offline_flow",
    "name": "SQLite 쓰기 에러 캐치",
    "scope": [
      "sqlite_insert_data",
      "sqlite_update_synced"
    ],
    "uncaught": false,
    "x": 720,
    "y": 540,
    "wires": [
      [
        "fn_sqlite_error_handler"
      ]
    ]
  },
  {
    "id": "fn_sqlite_error_handler",
    "type": "function",
    "z": "collection_offline_flow",
    "name": "SQLite 에러 로그",
    "func": "var errMsg = msg.error ? msg.error.message : 'unknown';\nnode.warn('❌ SQLite 쓰기 에러: ' + errMsg);\nnode.status({fill:'red',shape:'dot',text:'SQLite 에러: ' + errMsg.substring(0,30)});\n\n// 에러 카운트 (모니터링용)\nvar count = global.get('sqliteErrorCount') || 0;\nglobal.set('sqliteErrorCount', count + 1);\nglobal.set('lastSqliteError', {message: errMsg, timestamp: new Date().toISOString()});\n\nreturn null;",
    "outputs": 1,
    "x": 950,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "health_monitor_flow",
    "type": "tab",
    "label": "온/오프라인 감지",
    "disabled": false,
    "info": "PC 서버 헬스체크 (30초 간격)\n- 서버 응답 시: online 모드\n- 서버 미응답 시: offline 모드\n- 수동 전환 시: 강제 offline\n\nglobal.operationMode = 'online' | 'offline'\nglobal.serverOnline = true | false\nglobal.manualOverride = true | false"
  },
  {
    "id": "inject_health",
    "type": "inject",
    "z": "health_monitor_flow",
    "name": "30초 간격 헬스체크",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "x": 180,
    "y": 80,
    "wires": [
      [
        "health_request"
      ]
    ]
  },
  {
    "id": "health_request",
    "type": "http request",
    "z": "health_monitor_flow",
    "name": "서버 /health",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.137.1:3000/health",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 410,
    "y": 80,
    "wires": [
      [
        "health_check"
      ]
    ]
  },
  {
    "id": "health_check",
    "type": "function",
    "z": "health_monitor_flow",
    "name": "모드 결정",
    "func": "const manualOverride = global.get('manualOverride') || false;\nconst prevMode = global.get('operationMode') || 'unknown';\nconst prevServerOnline = global.get('serverOnline');\n\n// 서버 응답 확인\nlet serverOnline = false;\nif (msg.statusCode === 200 && msg.payload && (msg.payload.success === true || msg.payload.status === 'ok')) {\n    serverOnline = true;\n}\n\nglobal.set('serverOnline', serverOnline);\n\n// 모드 결정: 수동 스위치 ON → 강제 오프라인\nconst operationMode = manualOverride ? 'offline' : (serverOnline ? 'online' : 'offline');\nglobal.set('operationMode', operationMode);\n\nlet syncMsg = null;\nlet configMsg = null;\n\n// 상태 변경 감지\nif (prevMode !== operationMode) {\n    node.warn(`🔄 모드 변경: ${prevMode} → ${operationMode}`);\n    \n    // 온라인 전환 시 동기화 트리거 (unknown/offline → online 모두 포함)\n    if (prevMode !== 'online' && operationMode === 'online') {\n        node.warn('🔄 온라인 복귀! 데이터 동기화 시작...');\n        syncMsg = { payload: 'sync_trigger' };\n    }\n}\n\n// 서버 온라인 + config 미캐시 → config 가져오기 (API 키 포함)\nif (serverOnline && !global.get('houseConfig')) {\n    node.warn('📋 서버에서 config 캐시 가져오기...');\n    const API_KEY = env.get('SENSOR_API_KEY') || '';\n    configMsg = {\n        payload: 'fetch_config',\n        method: 'GET',\n        headers: { 'x-api-key': API_KEY }\n    };\n}\n\n// 상태 표시\nconst modeLabel = operationMode === 'online' ? '온라인' : '오프라인';\nconst manualLabel = manualOverride ? ' (수동)' : '';\nconst serverLabel = serverOnline ? '서버 정상' : '서버 다운';\nconst configLabel = global.get('houseConfig') ? ' | config ✓' : '';\n\nnode.status({\n    fill: operationMode === 'online' ? 'green' : 'yellow',\n    shape: manualOverride ? 'ring' : 'dot',\n    text: `${modeLabel}${manualLabel} | ${serverLabel}${configLabel}`\n});\n\nmsg.payload = {\n    operationMode,\n    serverOnline,\n    manualOverride,\n    timestamp: new Date().toISOString()\n};\n\nreturn [msg, syncMsg, configMsg];",
    "outputs": 3,
    "outputLabels": [
      "상태 표시",
      "동기화 트리거",
      "Config 캐시"
    ],
    "x": 610,
    "y": 80,
    "wires": [
      [
        "debug_health",
        "mode_status"
      ],
      [
        "link_sync_trigger"
      ],
      [
        "config_fetch_request"
      ]
    ]
  },
  {
    "id": "catch_health_error",
    "type": "catch",
    "z": "health_monitor_flow",
    "name": "HTTP 에러 캐치",
    "scope": [
      "health_request"
    ],
    "uncaught": false,
    "x": 420,
    "y": 140,
    "wires": [
      [
        "health_check"
      ]
    ]
  },
  {
    "id": "debug_health",
    "type": "debug",
    "z": "health_monitor_flow",
    "name": "모드 상태",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 830,
    "y": 60,
    "wires": []
  },
  {
    "id": "mode_status",
    "type": "function",
    "z": "health_monitor_flow",
    "name": "전역 상태 저장",
    "func": "// 다른 플로우에서 참조할 수 있도록 상태 요약 저장\nglobal.set('systemStatus', {\n    operationMode: msg.payload.operationMode,\n    serverOnline: msg.payload.serverOnline,\n    manualOverride: msg.payload.manualOverride,\n    lastCheck: msg.payload.timestamp\n});\nreturn msg;",
    "outputs": 1,
    "x": 850,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "link_sync_trigger",
    "type": "link out",
    "z": "health_monitor_flow",
    "name": "동기화 트리거 →",
    "mode": "link",
    "links": [
      "link_sync_in"
    ],
    "x": 835,
    "y": 140,
    "wires": []
  },
  {
    "id": "config_fetch_request",
    "type": "http request",
    "z": "health_monitor_flow",
    "name": "서버 config 가져오기",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.137.1:3000/api/config/farm_0001",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 880,
    "y": 160,
    "wires": [
      [
        "config_save_handler"
      ]
    ]
  },
  {
    "id": "config_save_handler",
    "type": "function",
    "z": "health_monitor_flow",
    "name": "Config 저장",
    "func": "if (msg.statusCode === 200 && msg.payload && msg.payload.success && msg.payload.data) {\n    const config = msg.payload.data;\n    global.set('houseConfig', config);\n    node.warn('📋 Config 캐시 완료: ' + (config.houses ? config.houses.length + '개 하우스' : '데이터 없음'));\n    node.status({ fill: 'green', shape: 'dot', text: 'config 캐시 완료' });\n\n    // SQLite config_cache에도 저장 (위치 파라미터 - msg.payload 배열)\n    msg.topic = 'INSERT OR REPLACE INTO config_cache (id, farm_id, house_id, config_json, version, updated_at) VALUES (1, $1, $2, $3, $4, $5)';\n    msg.payload = [\n        config.farmId || 'farm_0001',\n        config.houseId || (config.houses && config.houses[0] ? config.houses[0].houseId : 'house_001'),\n        JSON.stringify(config),\n        config.configVersion || 1,\n        new Date().toISOString()\n    ];\n    return msg;\n} else {\n    node.warn('⚠️ Config 가져오기 실패: ' + JSON.stringify(msg.payload).substring(0, 100));\n    node.status({ fill: 'red', shape: 'dot', text: 'config 실패' });\n    return null;\n}",
    "outputs": 1,
    "x": 1090,
    "y": 160,
    "wires": [
      [
        "sqlite_save_config_hm"
      ]
    ]
  },
  {
    "id": "sqlite_save_config_hm",
    "type": "sqlite",
    "z": "health_monitor_flow",
    "name": "config → SQLite 캐시",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1090,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "comment_manual",
    "type": "comment",
    "z": "health_monitor_flow",
    "name": "━━━ 수동 모드 전환 (HTTP API) ━━━",
    "x": 200,
    "y": 220,
    "wires": []
  },
  {
    "id": "http_get_mode",
    "type": "http in",
    "z": "health_monitor_flow",
    "name": "GET /api/system/mode",
    "url": "/api/system/mode",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 280,
    "wires": [
      [
        "get_mode_handler"
      ]
    ]
  },
  {
    "id": "get_mode_handler",
    "type": "function",
    "z": "health_monitor_flow",
    "name": "모드 조회",
    "func": "const status = global.get('systemStatus') || {};\nmsg.payload = {\n    success: true,\n    data: {\n        operationMode: global.get('operationMode') || 'online',\n        serverOnline: global.get('serverOnline') || false,\n        manualOverride: global.get('manualOverride') || false,\n        lastCheck: status.lastCheck || null\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 280,
    "wires": [
      [
        "http_response_mode"
      ]
    ]
  },
  {
    "id": "http_post_mode",
    "type": "http in",
    "z": "health_monitor_flow",
    "name": "POST /api/system/mode",
    "url": "/api/system/mode",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 340,
    "wires": [
      [
        "set_mode_handler"
      ]
    ]
  },
  {
    "id": "set_mode_handler",
    "type": "function",
    "z": "health_monitor_flow",
    "name": "모드 전환",
    "func": "const { manual } = msg.payload;\n\nif (typeof manual !== 'boolean') {\n    msg.payload = { success: false, error: 'manual (boolean) 필수' };\n    msg.statusCode = 400;\n    return msg;\n}\n\nglobal.set('manualOverride', manual);\n\n// 즉시 모드 재계산\nconst serverOnline = global.get('serverOnline') || false;\nconst operationMode = manual ? 'offline' : (serverOnline ? 'online' : 'offline');\nglobal.set('operationMode', operationMode);\n\nconst modeLabel = operationMode === 'online' ? '온라인' : '오프라인';\nconst manualLabel = manual ? '수동' : '자동';\n\nnode.warn(`🔄 모드 전환: ${manualLabel} → ${modeLabel}`);\nnode.status({\n    fill: manual ? 'yellow' : 'green',\n    shape: 'dot',\n    text: `${manualLabel} → ${modeLabel}`\n});\n\nmsg.payload = {\n    success: true,\n    data: {\n        operationMode,\n        serverOnline,\n        manualOverride: manual\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 340,
    "wires": [
      [
        "http_response_mode"
      ]
    ]
  },
  {
    "id": "http_response_mode",
    "type": "http response",
    "z": "health_monitor_flow",
    "name": "응답",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 310,
    "wires": []
  },
  {
    "id": "comment_cors",
    "type": "comment",
    "z": "health_monitor_flow",
    "name": "━━━ CORS 지원 (OPTIONS) ━━━",
    "x": 180,
    "y": 400,
    "wires": []
  },
  {
    "id": "http_options_mode",
    "type": "http in",
    "z": "health_monitor_flow",
    "name": "OPTIONS /api/system/mode",
    "url": "/api/system/mode",
    "method": "options",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 460,
    "wires": [
      [
        "cors_handler"
      ]
    ]
  },
  {
    "id": "cors_handler",
    "type": "function",
    "z": "health_monitor_flow",
    "name": "CORS 헤더",
    "func": "msg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, x-api-key'\n};\nmsg.payload = '';\nmsg.statusCode = 204;\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 460,
    "wires": [
      [
        "http_response_cors"
      ]
    ]
  },
  {
    "id": "http_response_cors",
    "type": "http response",
    "z": "health_monitor_flow",
    "name": "CORS 응답",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 460,
    "wires": []
  },
  {
    "id": "rest_api_flow",
    "type": "tab",
    "label": "REST API (오프라인)",
    "disabled": false,
    "info": "React 대시보드용 REST API 엔드포인트\nSQLite 기반으로 서버 다운 시 대체 API 제공\n\n엔드포인트:\n- GET /api/sensors/latest/:farmId/:houseId\n- GET /api/sensors/:farmId/:houseId/history\n- GET /api/sensors/:farmId/:houseId/count\n- GET /api/alerts/:farmId\n- GET /api/health\n- POST /api/control/local\n- GET/POST /api/automation/:farmId\n- PUT/DELETE /api/automation/:farmId/:ruleId\n- PATCH /api/automation/:farmId/:ruleId/toggle\n\n※ Config CRUD API는 Config CRUD 탭으로 이관됨",
    "env": [
      {
        "name": "SENSOR_API_KEY",
        "value": "smartfarm-sensor-key",
        "type": "str"
      },
      {
        "name": "SERVER_URL",
        "value": "http://192.168.137.1:3000",
        "type": "str"
      },
      {
        "name": "FARM_ID",
        "value": "farm_0001",
        "type": "str"
      },
      {
        "name": "HOUSE_ID",
        "value": "house_001",
        "type": "str"
      }
    ]
  },
  {
    "id": "comment_sensors",
    "type": "comment",
    "z": "rest_api_flow",
    "name": "━━━ 센서 데이터 API ━━━",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "http_latest",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "GET /api/sensors/latest/:farmId/:houseId",
    "url": "/api/sensors/latest/:farmId/:houseId",
    "method": "get",
    "upload": false,
    "x": 230,
    "y": 100,
    "wires": [
      [
        "latest_query"
      ]
    ]
  },
  {
    "id": "latest_query",
    "type": "function",
    "z": "rest_api_flow",
    "name": "최신 데이터 쿼리",
    "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\n\nmsg.topic = 'SELECT sensor_id, value, timestamp FROM sensor_data WHERE farm_id = $1 AND house_id = $2 AND timestamp = (SELECT MAX(timestamp) FROM sensor_data WHERE farm_id = $3 AND house_id = $4) ORDER BY sensor_id';\nmsg.payload = [farmId, houseId, farmId, houseId];\n\nmsg._farmId = farmId;\nmsg._houseId = houseId;\nreturn msg;",
    "outputs": 1,
    "x": 530,
    "y": 100,
    "wires": [
      [
        "sqlite_query_latest"
      ]
    ]
  },
  {
    "id": "sqlite_query_latest",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "SQLite 쿼리",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 730,
    "y": 100,
    "wires": [
      [
        "latest_response"
      ]
    ]
  },
  {
    "id": "latest_response",
    "type": "function",
    "z": "rest_api_flow",
    "name": "응답 포맷",
    "func": "const rows = msg.payload || [];\nconst data = {};\nlet timestamp = null;\n\nfor (const row of rows) {\n    data[row.sensor_id] = row.value;\n    timestamp = row.timestamp;\n}\n\nmsg.payload = {\n    success: true,\n    data: {\n        farmId: msg._farmId,\n        houseId: msg._houseId,\n        data: data,\n        timestamp: timestamp,\n        source: 'sqlite'\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 930,
    "y": 100,
    "wires": [
      [
        "http_res_sensors"
      ]
    ]
  },
  {
    "id": "http_res_sensors",
    "type": "http response",
    "z": "rest_api_flow",
    "name": "응답",
    "statusCode": "",
    "headers": {},
    "x": 1110,
    "y": 100,
    "wires": []
  },
  {
    "id": "http_history",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "GET /api/sensors/:farmId/:houseId/history",
    "url": "/api/sensors/:farmId/:houseId/history",
    "method": "get",
    "upload": false,
    "x": 240,
    "y": 180,
    "wires": [
      [
        "history_query"
      ]
    ]
  },
  {
    "id": "history_query",
    "type": "function",
    "z": "rest_api_flow",
    "name": "이력 데이터 쿼리",
    "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\nconst startDate = msg.req.query.startDate || new Date(Date.now() - 24*60*60*1000).toISOString();\nconst endDate = msg.req.query.endDate || new Date().toISOString();\nconst limit = Math.min(parseInt(msg.req.query.limit) || 1000, 10000);\n\nmsg.topic = 'SELECT sensor_id, value, timestamp FROM sensor_data WHERE farm_id = $1 AND house_id = $2 AND timestamp BETWEEN $3 AND $4 ORDER BY timestamp ASC LIMIT $5';\nmsg.payload = [farmId, houseId, startDate, endDate, limit];\n\nmsg._farmId = farmId;\nmsg._houseId = houseId;\nreturn msg;",
    "outputs": 1,
    "x": 530,
    "y": 180,
    "wires": [
      [
        "sqlite_query_history"
      ]
    ]
  },
  {
    "id": "sqlite_query_history",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "SQLite 쿼리",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 730,
    "y": 180,
    "wires": [
      [
        "history_response"
      ]
    ]
  },
  {
    "id": "history_response",
    "type": "function",
    "z": "rest_api_flow",
    "name": "응답 포맷",
    "func": "const rows = msg.payload || [];\n\n// 타임스탬프별로 그룹핑 (서버 응답 형식 맞춤)\nconst grouped = {};\nfor (const row of rows) {\n    if (!grouped[row.timestamp]) {\n        grouped[row.timestamp] = {\n            timestamp: row.timestamp,\n            farmId: msg._farmId,\n            houseId: msg._houseId,\n            data: {}\n        };\n    }\n    grouped[row.timestamp].data[row.sensor_id] = row.value;\n}\n\nmsg.payload = {\n    success: true,\n    data: Object.values(grouped),\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 930,
    "y": 180,
    "wires": [
      [
        "http_res_sensors"
      ]
    ]
  },
  {
    "id": "http_count",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "GET /api/sensors/:farmId/:houseId/count",
    "url": "/api/sensors/:farmId/:houseId/count",
    "method": "get",
    "upload": false,
    "x": 230,
    "y": 260,
    "wires": [
      [
        "count_query"
      ]
    ]
  },
  {
    "id": "count_query",
    "type": "function",
    "z": "rest_api_flow",
    "name": "오늘 수집 건수 쿼리",
    "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nmsg.topic = 'SELECT COUNT(DISTINCT timestamp) as count FROM sensor_data WHERE farm_id = $1 AND house_id = $2 AND timestamp >= $3';\nmsg.payload = [farmId, houseId, today.toISOString()];\n\nreturn msg;",
    "outputs": 1,
    "x": 540,
    "y": 260,
    "wires": [
      [
        "sqlite_query_count"
      ]
    ]
  },
  {
    "id": "sqlite_query_count",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "SQLite 쿼리",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 730,
    "y": 260,
    "wires": [
      [
        "count_response"
      ]
    ]
  },
  {
    "id": "count_response",
    "type": "function",
    "z": "rest_api_flow",
    "name": "응답 포맷",
    "func": "const rows = msg.payload || [];\nconst count = rows[0] ? rows[0].count : 0;\n\nmsg.payload = {\n    success: true,\n    count: count,\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 930,
    "y": 260,
    "wires": [
      [
        "http_res_sensors"
      ]
    ]
  },
  {
    "id": "comment_alerts",
    "type": "comment",
    "z": "rest_api_flow",
    "name": "━━━ 알림 / 제어 API ━━━",
    "x": 160,
    "y": 340,
    "wires": []
  },
  {
    "id": "http_alerts",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "GET /api/alerts/:farmId",
    "url": "/api/alerts/:farmId",
    "method": "get",
    "upload": false,
    "x": 180,
    "y": 400,
    "wires": [
      [
        "alerts_query"
      ]
    ]
  },
  {
    "id": "alerts_query",
    "type": "function",
    "z": "rest_api_flow",
    "name": "알림 조회",
    "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.query.houseId;\n\nif (houseId) {\n    msg.topic = \"SELECT id, timestamp, device_id, command, source FROM control_logs WHERE source = 'automation' AND device_id LIKE $1 ORDER BY timestamp DESC LIMIT 50\";\n    msg.payload = [houseId + '%'];\n} else {\n    msg.topic = \"SELECT id, timestamp, device_id, command, source FROM control_logs WHERE source = 'automation' ORDER BY timestamp DESC LIMIT 50\";\n    msg.payload = [];\n}\n\nreturn msg;",
    "outputs": 1,
    "x": 430,
    "y": 400,
    "wires": [
      [
        "sqlite_query_alerts"
      ]
    ]
  },
  {
    "id": "sqlite_query_alerts",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "SQLite 쿼리",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 650,
    "y": 400,
    "wires": [
      [
        "alerts_response"
      ]
    ]
  },
  {
    "id": "alerts_response",
    "type": "function",
    "z": "rest_api_flow",
    "name": "응답 포맷",
    "func": "const rows = msg.payload || [];\n\nconst alerts = rows.map(row => ({\n    id: row.id,\n    timestamp: row.timestamp,\n    type: 'automation',\n    message: `${row.device_id} ${row.command} (${row.source})`,\n    deviceId: row.device_id,\n    command: row.command,\n    source: row.source\n}));\n\nmsg.payload = {\n    success: true,\n    data: alerts,\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 850,
    "y": 400,
    "wires": [
      [
        "http_res_sensors"
      ]
    ]
  },
  {
    "id": "comment_control",
    "type": "comment",
    "z": "rest_api_flow",
    "name": "━━━ 로컬 제어 API ━━━",
    "x": 160,
    "y": 480,
    "wires": []
  },
  {
    "id": "http_control_local",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "POST /api/control/local",
    "url": "/api/control/local",
    "method": "post",
    "upload": false,
    "x": 180,
    "y": 540,
    "wires": [
      [
        "control_handler"
      ]
    ]
  },
  {
    "id": "control_handler",
    "type": "function",
    "z": "rest_api_flow",
    "name": "로컬 제어 실행",
    "func": "const { house_id, device_id, command, operator } = msg.payload;\n\n// 입력 검증\nif (!device_id || !command) {\n    msg.payload = { success: false, error: 'device_id, command 필수' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\n// 허용된 명령어만 통과\nconst ALLOWED_COMMANDS = ['open', 'close', 'stop', 'on', 'off'];\nif (!ALLOWED_COMMANDS.includes(command)) {\n    msg.payload = { success: false, error: '허용되지 않는 명령: ' + command };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\n// device_id 형식 검증 (영숫자+언더스코어만)\nif (!/^[a-zA-Z0-9_]+$/.test(device_id)) {\n    msg.payload = { success: false, error: '잘못된 device_id 형식' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\nconst houseId = house_id || 'house1';\nconst ts = new Date().toISOString();\nconst requestId = `local_${Date.now()}`;\n\n// GPIO 제어 메시지 생성\nconst controlMsg = {\n    control: {\n        houseId: houseId,\n        deviceId: device_id,\n        deviceType: device_id.replace(/[0-9]/g, ''),\n        command: command,\n        operator: operator || 'local_dashboard',\n        requestId: requestId,\n        timestamp: ts\n    }\n};\n\n// SQLite 로그 저장 (msg.topic 모드: $1,$2,.. 위치 파라미터 + msg.payload 배열)\nvar logMsg = {};\nlogMsg.topic = 'INSERT INTO control_logs (timestamp, device_id, command, source, synced) VALUES ($1, $2, $3, $4, 0)';\nlogMsg.payload = [ts, device_id, command, 'local'];\n\n// HTTP 응답\nmsg.payload = {\n    success: true,\n    data: {\n        request_id: requestId,\n        device_id: device_id,\n        command: command,\n        executed_at: ts,\n        mode: 'local'\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\nnode.warn(`🎮 로컬 제어: ${device_id} ${command} by ${operator || 'local'}`);\n\nreturn [msg, controlMsg, logMsg];",
    "outputs": 3,
    "outputLabels": [
      "HTTP 응답",
      "GPIO 제어",
      "SQLite 로그"
    ],
    "x": 440,
    "y": 540,
    "wires": [
      [
        "http_res_control"
      ],
      [
        "link_gpio_control"
      ],
      [
        "sqlite_control_log"
      ]
    ]
  },
  {
    "id": "http_res_control",
    "type": "http response",
    "z": "rest_api_flow",
    "name": "응답",
    "statusCode": "",
    "headers": {},
    "x": 670,
    "y": 520,
    "wires": []
  },
  {
    "id": "link_gpio_control",
    "type": "link out",
    "z": "rest_api_flow",
    "name": "GPIO 제어 →",
    "mode": "link",
    "links": [
      "link_in_local_control"
    ],
    "x": 675,
    "y": 540,
    "wires": []
  },
  {
    "id": "sqlite_control_log",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "제어 로그 저장",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 690,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "comment_health",
    "type": "comment",
    "z": "rest_api_flow",
    "name": "━━━ 헬스 / 설정 API ━━━",
    "x": 160,
    "y": 640,
    "wires": []
  },
  {
    "id": "http_health_local",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "GET /api/health",
    "url": "/api/health",
    "method": "get",
    "upload": false,
    "x": 160,
    "y": 700,
    "wires": [
      [
        "health_handler"
      ]
    ]
  },
  {
    "id": "health_handler",
    "type": "function",
    "z": "rest_api_flow",
    "name": "헬스 응답",
    "func": "const mode = global.get('operationMode') || 'offline';\nconst serverOnline = global.get('serverOnline') || false;\nconst manual = global.get('manualOverride') || false;\n\nmsg.payload = {\n    status: 'ok',\n    mode: mode,\n    serverOnline: serverOnline,\n    manualOverride: manual,\n    source: 'node-red',\n    timestamp: new Date().toISOString()\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 400,
    "y": 700,
    "wires": [
      [
        "http_res_health"
      ]
    ]
  },
  {
    "id": "http_res_health",
    "type": "http response",
    "z": "rest_api_flow",
    "name": "응답",
    "statusCode": "",
    "headers": {},
    "x": 610,
    "y": 700,
    "wires": []
  },
  {
    "id": "comment_config_moved",
    "type": "comment",
    "z": "rest_api_flow",
    "name": "※ Config API → Config CRUD 탭으로 이관됨",
    "x": 240,
    "y": 780,
    "wires": []
  },
  {
    "id": "comment_automation_api",
    "type": "comment",
    "z": "rest_api_flow",
    "name": "━━━ 자동화 규칙 API ━━━",
    "x": 160,
    "y": 860,
    "wires": []
  },
  {
    "id": "http_auto_list",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "GET /api/automation/:farmId",
    "url": "/api/automation/:farmId",
    "method": "get",
    "upload": false,
    "x": 210,
    "y": 920,
    "wires": [
      [
        "auto_list_query"
      ]
    ]
  },
  {
    "id": "auto_list_query",
    "type": "function",
    "z": "rest_api_flow",
    "name": "규칙 목록 조회",
    "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.query.houseId;\nconst enabled = msg.req.query.enabled;\n\nlet sql = 'SELECT * FROM automation_rules WHERE farm_id = $1';\nconst params = [farmId];\nlet paramIdx = 2;\n\nif (houseId) {\n    sql += ' AND house_id = $' + paramIdx;\n    params.push(houseId);\n    paramIdx++;\n}\nif (enabled !== undefined) {\n    sql += ' AND enabled = $' + paramIdx;\n    params.push(enabled === 'true' ? 1 : 0);\n    paramIdx++;\n}\nsql += ' ORDER BY priority ASC, created_at DESC';\n\nmsg.topic = sql;\nmsg.payload = params;\nreturn msg;",
    "outputs": 1,
    "x": 490,
    "y": 920,
    "wires": [
      [
        "sqlite_auto_list"
      ]
    ]
  },
  {
    "id": "sqlite_auto_list",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "SQLite 쿼리",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 690,
    "y": 920,
    "wires": [
      [
        "auto_list_response"
      ]
    ]
  },
  {
    "id": "auto_list_response",
    "type": "function",
    "z": "rest_api_flow",
    "name": "목록 응답 포맷",
    "func": "const rows = msg.payload || [];\nconst rules = rows.map(function(row) {\n    var conditions, actions;\n    try { conditions = JSON.parse(row.conditions); } catch(e) { conditions = []; }\n    try { actions = JSON.parse(row.actions); } catch(e) { actions = []; }\n    return {\n        _id: row.id,\n        farmId: row.farm_id,\n        houseId: row.house_id,\n        name: row.name,\n        description: row.description || '',\n        enabled: row.enabled === 1,\n        conditionLogic: row.condition_logic,\n        groupLogic: row.group_logic || 'AND',\n        conditions: conditions,\n        actions: actions,\n        cooldownSeconds: row.cooldown_seconds,\n        priority: row.priority,\n        lastTriggeredAt: row.last_triggered_at,\n        triggerCount: row.trigger_count || 0,\n        createdAt: row.created_at,\n        updatedAt: row.updated_at\n    };\n});\nmsg.payload = { success: true, data: rules };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 910,
    "y": 920,
    "wires": [
      [
        "http_res_auto"
      ]
    ]
  },
  {
    "id": "http_res_auto",
    "type": "http response",
    "z": "rest_api_flow",
    "name": "자동화 응답",
    "statusCode": "",
    "headers": {},
    "x": 1110,
    "y": 980,
    "wires": []
  },
  {
    "id": "http_auto_create",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "POST /api/automation/:farmId",
    "url": "/api/automation/:farmId",
    "method": "post",
    "upload": false,
    "x": 210,
    "y": 1000,
    "wires": [
      [
        "auto_create_handler"
      ]
    ]
  },
  {
    "id": "auto_create_handler",
    "type": "function",
    "z": "rest_api_flow",
    "name": "규칙 생성",
    "func": "const farmId = msg.req.params.farmId;\nconst body = msg.payload;\n\nif (!body.name || !body.houseId) {\n    msg.payload = { success: false, error: 'name, houseId 필수' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null];\n}\n\nconst id = Date.now().toString(36) + Math.random().toString(36).substr(2, 9);\nconst now = new Date().toISOString();\n\nconst rule = {\n    id: id,\n    farm_id: farmId,\n    house_id: body.houseId,\n    name: body.name,\n    description: body.description || '',\n    enabled: body.enabled !== false ? 1 : 0,\n    condition_logic: body.conditionLogic || 'AND',\n    group_logic: body.groupLogic || 'AND',\n    conditions: JSON.stringify(body.conditions || []),\n    actions: JSON.stringify(body.actions || []),\n    cooldown_seconds: body.cooldownSeconds || 300,\n    priority: body.priority || 10,\n    created_at: now,\n    updated_at: now\n};\n\n// HTTP 응답 먼저\nmsg.payload = {\n    success: true,\n    data: {\n        _id: id,\n        farmId: farmId,\n        houseId: rule.house_id,\n        name: rule.name,\n        description: rule.description,\n        enabled: rule.enabled === 1,\n        conditionLogic: rule.condition_logic,\n        groupLogic: rule.group_logic,\n        conditions: body.conditions || [],\n        actions: body.actions || [],\n        cooldownSeconds: rule.cooldown_seconds,\n        priority: rule.priority,\n        lastTriggeredAt: null,\n        triggerCount: 0,\n        createdAt: now,\n        updatedAt: now\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\n// SQLite INSERT\nvar dbMsg = {};\ndbMsg.topic = 'INSERT INTO automation_rules (id, farm_id, house_id, name, description, enabled, condition_logic, group_logic, conditions, actions, cooldown_seconds, priority, trigger_count, synced, created_at, updated_at) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,0,0,$13,$14)';\ndbMsg.payload = [id, farmId, rule.house_id, rule.name, rule.description, rule.enabled, rule.condition_logic, rule.group_logic, rule.conditions, rule.actions, rule.cooldown_seconds, rule.priority, now, now];\n\nnode.warn('✅ 자동화 규칙 생성: ' + rule.name);\nreturn [msg, dbMsg];",
    "outputs": 2,
    "outputLabels": [
      "HTTP 응답",
      "SQLite 저장"
    ],
    "x": 480,
    "y": 1000,
    "wires": [
      [
        "http_res_auto"
      ],
      [
        "sqlite_auto_write"
      ]
    ]
  },
  {
    "id": "sqlite_auto_write",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "규칙 저장",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 690,
    "y": 1040,
    "wires": [
      [
        "link_out_rule_changed"
      ]
    ]
  },
  {
    "id": "http_auto_update",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "PUT /api/automation/:farmId/:ruleId",
    "url": "/api/automation/:farmId/:ruleId",
    "method": "put",
    "upload": false,
    "x": 230,
    "y": 1080,
    "wires": [
      [
        "auto_update_handler"
      ]
    ]
  },
  {
    "id": "auto_update_handler",
    "type": "function",
    "z": "rest_api_flow",
    "name": "규칙 수정",
    "func": "const farmId = msg.req.params.farmId;\nconst ruleId = msg.req.params.ruleId;\nconst body = msg.payload;\nconst now = new Date().toISOString();\n\n// 업데이트할 필드 동적 구성\nconst sets = [];\nconst params = [];\nlet idx = 1;\n\nif (body.name !== undefined) { sets.push('name = $' + idx); params.push(body.name); idx++; }\nif (body.houseId !== undefined) { sets.push('house_id = $' + idx); params.push(body.houseId); idx++; }\nif (body.description !== undefined) { sets.push('description = $' + idx); params.push(body.description); idx++; }\nif (body.enabled !== undefined) { sets.push('enabled = $' + idx); params.push(body.enabled ? 1 : 0); idx++; }\nif (body.conditionLogic !== undefined) { sets.push('condition_logic = $' + idx); params.push(body.conditionLogic); idx++; }\nif (body.groupLogic !== undefined) { sets.push('group_logic = $' + idx); params.push(body.groupLogic); idx++; }\nif (body.conditions !== undefined) { sets.push('conditions = $' + idx); params.push(JSON.stringify(body.conditions)); idx++; }\nif (body.actions !== undefined) { sets.push('actions = $' + idx); params.push(JSON.stringify(body.actions)); idx++; }\nif (body.cooldownSeconds !== undefined) { sets.push('cooldown_seconds = $' + idx); params.push(body.cooldownSeconds); idx++; }\nif (body.priority !== undefined) { sets.push('priority = $' + idx); params.push(body.priority); idx++; }\n\nsets.push('updated_at = $' + idx); params.push(now); idx++;\nsets.push('synced = 0');\n\nparams.push(ruleId);\nvar sql = 'UPDATE automation_rules SET ' + sets.join(', ') + ' WHERE id = $' + idx;\n\n// HTTP 응답 먼저 (POST 핸들러와 동일한 즉시 응답 패턴)\nvar conditions = body.conditions || [];\nvar actions = body.actions || [];\nmsg.payload = {\n    success: true,\n    data: {\n        _id: ruleId,\n        farmId: farmId,\n        houseId: body.houseId || '',\n        name: body.name || '',\n        description: body.description || '',\n        enabled: body.enabled !== false,\n        conditionLogic: body.conditionLogic || 'AND',\n        groupLogic: body.groupLogic || 'AND',\n        conditions: conditions,\n        actions: actions,\n        cooldownSeconds: body.cooldownSeconds || 300,\n        priority: body.priority || 10,\n        updatedAt: now\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\n// SQLite UPDATE (별도 메시지)\nvar dbMsg = {};\ndbMsg.topic = sql;\ndbMsg.payload = params;\n\nnode.warn('✏️ 자동화 규칙 수정: ' + (body.name || ruleId));\nreturn [msg, dbMsg];",
    "outputs": 2,
    "outputLabels": [
      "HTTP 응답",
      "SQLite 업데이트"
    ],
    "x": 480,
    "y": 1080,
    "wires": [
      [
        "http_res_auto"
      ],
      [
        "sqlite_auto_write"
      ]
    ]
  },
  {
    "id": "http_auto_delete",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "DELETE /api/automation/:farmId/:ruleId",
    "url": "/api/automation/:farmId/:ruleId",
    "method": "delete",
    "upload": false,
    "x": 240,
    "y": 1200,
    "wires": [
      [
        "auto_delete_handler"
      ]
    ]
  },
  {
    "id": "auto_delete_handler",
    "type": "function",
    "z": "rest_api_flow",
    "name": "규칙 삭제",
    "func": "const ruleId = msg.req.params.ruleId;\nmsg.topic = 'DELETE FROM automation_rules WHERE id = $1';\nmsg.payload = [ruleId];\nmsg._ruleId = ruleId;\nreturn msg;",
    "outputs": 1,
    "x": 480,
    "y": 1200,
    "wires": [
      [
        "sqlite_auto_delete"
      ]
    ]
  },
  {
    "id": "sqlite_auto_delete",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "규칙 삭제",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 690,
    "y": 1200,
    "wires": [
      [
        "auto_delete_response",
        "link_out_rule_changed"
      ]
    ]
  },
  {
    "id": "auto_delete_response",
    "type": "function",
    "z": "rest_api_flow",
    "name": "삭제 응답",
    "func": "node.warn('🗑️ 자동화 규칙 삭제: ' + msg._ruleId);\nmsg.payload = { success: true };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 900,
    "y": 1200,
    "wires": [
      [
        "http_res_auto"
      ]
    ]
  },
  {
    "id": "http_auto_toggle",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "PATCH /api/automation/:farmId/:ruleId/toggle",
    "url": "/api/automation/:farmId/:ruleId/toggle",
    "method": "patch",
    "upload": false,
    "x": 270,
    "y": 1280,
    "wires": [
      [
        "auto_toggle_handler"
      ]
    ]
  },
  {
    "id": "auto_toggle_handler",
    "type": "function",
    "z": "rest_api_flow",
    "name": "규칙 토글",
    "func": "const ruleId = msg.req.params.ruleId;\nconst now = new Date().toISOString();\nmsg.topic = 'UPDATE automation_rules SET enabled = CASE WHEN enabled = 1 THEN 0 ELSE 1 END, synced = 0, updated_at = $1 WHERE id = $2';\nmsg.payload = [now, ruleId];\nmsg._ruleId = ruleId;\nreturn msg;",
    "outputs": 1,
    "x": 490,
    "y": 1280,
    "wires": [
      [
        "sqlite_auto_toggle"
      ]
    ]
  },
  {
    "id": "sqlite_auto_toggle",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "토글 실행",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 690,
    "y": 1280,
    "wires": [
      [
        "auto_toggle_select",
        "link_out_rule_changed"
      ]
    ]
  },
  {
    "id": "auto_toggle_select",
    "type": "function",
    "z": "rest_api_flow",
    "name": "토글 후 조회",
    "func": "msg.topic = 'SELECT * FROM automation_rules WHERE id = $1';\nmsg.payload = [msg._ruleId];\nreturn msg;",
    "outputs": 1,
    "x": 900,
    "y": 1280,
    "wires": [
      [
        "sqlite_auto_toggle_read"
      ]
    ]
  },
  {
    "id": "sqlite_auto_toggle_read",
    "type": "sqlite",
    "z": "rest_api_flow",
    "name": "SQLite 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1110,
    "y": 1280,
    "wires": [
      [
        "auto_single_response"
      ]
    ]
  },
  {
    "id": "auto_single_response",
    "type": "function",
    "z": "rest_api_flow",
    "name": "단일 규칙 응답",
    "func": "var rows = msg.payload;\nif (!Array.isArray(rows) || rows.length === 0) {\n    msg.payload = { success: false, error: '규칙을 찾을 수 없습니다' };\n    msg.statusCode = 404;\n    return msg;\n}\nvar r = rows[0];\nvar conditions = [];\nvar actions = [];\ntry { conditions = JSON.parse(r.conditions || '[]'); } catch(e) {}\ntry { actions = JSON.parse(r.actions || '[]'); } catch(e) {}\nmsg.payload = {\n    success: true,\n    data: {\n        _id: r.id,\n        farmId: r.farm_id,\n        houseId: r.house_id,\n        name: r.name,\n        description: r.description || '',\n        enabled: r.enabled === 1,\n        conditionLogic: r.condition_logic || 'AND',\n        groupLogic: r.group_logic || 'AND',\n        conditions: conditions,\n        actions: actions,\n        cooldownSeconds: r.cooldown_seconds || 300,\n        priority: r.priority || 10,\n        lastTriggeredAt: r.last_triggered_at,\n        triggerCount: r.trigger_count || 0,\n        createdAt: r.created_at,\n        updatedAt: r.updated_at\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 1310,
    "y": 1280,
    "wires": [
      [
        "http_res_auto"
      ]
    ]
  },
  {
    "id": "link_out_rule_changed",
    "type": "link out",
    "z": "rest_api_flow",
    "name": "규칙 변경 → 동기화",
    "mode": "link",
    "links": [
      "link_in_rule_sync"
    ],
    "x": 915,
    "y": 1340,
    "wires": []
  },
  {
    "id": "comment_cors_api",
    "type": "comment",
    "z": "rest_api_flow",
    "name": "━━━ CORS 지원 ━━━",
    "x": 140,
    "y": 1380,
    "wires": []
  },
  {
    "id": "http_options_all",
    "type": "http in",
    "z": "rest_api_flow",
    "name": "OPTIONS /api/*",
    "url": "/api/*",
    "method": "options",
    "upload": false,
    "x": 160,
    "y": 1440,
    "wires": [
      [
        "cors_all"
      ]
    ]
  },
  {
    "id": "cors_all",
    "type": "function",
    "z": "rest_api_flow",
    "name": "CORS 헤더",
    "func": "msg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, PATCH, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, x-api-key, Authorization'\n};\nmsg.payload = '';\nmsg.statusCode = 204;\nreturn msg;",
    "outputs": 1,
    "x": 380,
    "y": 1440,
    "wires": [
      [
        "http_res_cors_all"
      ]
    ]
  },
  {
    "id": "http_res_cors_all",
    "type": "http response",
    "z": "rest_api_flow",
    "name": "CORS 응답",
    "statusCode": "",
    "headers": {},
    "x": 590,
    "y": 1440,
    "wires": []
  },
  {
    "id": "config_crud_flow",
    "type": "tab",
    "label": "Config CRUD API",
    "disabled": false,
    "info": "팜로컬 모드용 하우스 설정 CRUD API\nSQLite house_configs 테이블 기반\n\n엔드포인트:\n- GET /api/config/farm/:farmId (전체 하우스 목록)\n- GET /api/config/system-settings/:farmId\n- PUT /api/config/system-settings/:farmId\n- POST /api/config (하우스 생성)\n- PUT /api/config/:houseId (하우스 수정)\n- DELETE /api/config/:houseId (하우스 삭제)\n- GET /api/config/:houseId (단일 하우스 조회)"
  },
  {
    "id": "comment_config_crud",
    "type": "comment",
    "z": "config_crud_flow",
    "name": "━━━ 하우스 설정 CRUD API (팜로컬) ━━━",
    "x": 220,
    "y": 40,
    "wires": []
  },
  {
    "id": "http_res_config",
    "type": "http response",
    "z": "config_crud_flow",
    "name": "Config 응답",
    "statusCode": "",
    "headers": {},
    "x": 1110,
    "y": 300,
    "wires": []
  },
  {
    "id": "http_config_farm_list",
    "type": "http in",
    "z": "config_crud_flow",
    "name": "GET /api/config/farm/:farmId",
    "url": "/api/config/farm/:farmId",
    "method": "get",
    "upload": false,
    "x": 200,
    "y": 100,
    "wires": [
      [
        "config_farm_list_query"
      ]
    ]
  },
  {
    "id": "config_farm_list_query",
    "type": "function",
    "z": "config_crud_flow",
    "name": "하우스 목록 쿼리",
    "func": "var farmId = msg.req.params.farmId;\nmsg.topic = 'SELECT * FROM house_configs WHERE farm_id = $1 ORDER BY created_at ASC';\nmsg.payload = [farmId];\nmsg._farmId = farmId;\nreturn msg;",
    "outputs": 1,
    "x": 470,
    "y": 100,
    "wires": [
      [
        "sqlite_config_farm_list"
      ]
    ]
  },
  {
    "id": "sqlite_config_farm_list",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "SQLite 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 670,
    "y": 100,
    "wires": [
      [
        "config_farm_list_response"
      ]
    ]
  },
  {
    "id": "config_farm_list_response",
    "type": "function",
    "z": "config_crud_flow",
    "name": "목록 응답 포맷",
    "func": "var rows = msg.payload || [];\nvar houses = rows.map(function(row) {\n    var sensors, collection, devices, crops;\n    try { sensors = JSON.parse(row.sensors || '[]'); } catch(e) { sensors = []; }\n    try { collection = JSON.parse(row.collection || '{}'); } catch(e) { collection = {}; }\n    try { devices = JSON.parse(row.devices || '[]'); } catch(e) { devices = []; }\n    try { crops = JSON.parse(row.crops || '[]'); } catch(e) { crops = []; }\n    return {\n        _id: row.id,\n        farmId: row.farm_id,\n        houseId: row.house_id,\n        houseName: row.house_name,\n        sensors: sensors,\n        collection: collection,\n        devices: devices,\n        crops: crops,\n        cropType: row.crop_type || '',\n        cropVariety: row.crop_variety || '',\n        plantingDate: row.planting_date || '',\n        deviceCount: row.device_count || 0,\n        enabled: row.enabled === 1,\n        configVersion: row.config_version || 1,\n        createdAt: row.created_at,\n        updatedAt: row.updated_at\n    };\n});\nmsg.payload = { success: true, data: houses };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 890,
    "y": 100,
    "wires": [
      [
        "http_res_config"
      ]
    ]
  },
  {
    "id": "comment_sys_settings",
    "type": "comment",
    "z": "config_crud_flow",
    "name": "━━━ 시스템 설정 API ━━━",
    "x": 170,
    "y": 170,
    "wires": []
  },
  {
    "id": "http_sys_settings_get",
    "type": "http in",
    "z": "config_crud_flow",
    "name": "GET /api/config/system-settings/:farmId",
    "url": "/api/config/system-settings/:farmId",
    "method": "get",
    "upload": false,
    "x": 250,
    "y": 220,
    "wires": [
      [
        "sys_settings_get_query"
      ]
    ]
  },
  {
    "id": "sys_settings_get_query",
    "type": "function",
    "z": "config_crud_flow",
    "name": "설정 조회 쿼리",
    "func": "var farmId = msg.req.params.farmId;\nmsg.topic = 'SELECT settings_json FROM system_settings WHERE farm_id = $1';\nmsg.payload = [farmId];\nreturn msg;",
    "outputs": 1,
    "x": 530,
    "y": 220,
    "wires": [
      [
        "sqlite_sys_settings_get"
      ]
    ]
  },
  {
    "id": "sqlite_sys_settings_get",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "SQLite 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 730,
    "y": 220,
    "wires": [
      [
        "sys_settings_get_response"
      ]
    ]
  },
  {
    "id": "sys_settings_get_response",
    "type": "function",
    "z": "config_crud_flow",
    "name": "설정 응답",
    "func": "var rows = msg.payload || [];\nvar defaults = { retentionDays: 60 };\nif (rows.length > 0 && rows[0].settings_json) {\n    try {\n        var stored = JSON.parse(rows[0].settings_json);\n        defaults = Object.assign(defaults, stored);\n    } catch(e) {}\n}\nmsg.payload = { success: true, data: defaults };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 930,
    "y": 220,
    "wires": [
      [
        "http_res_config"
      ]
    ]
  },
  {
    "id": "http_sys_settings_put",
    "type": "http in",
    "z": "config_crud_flow",
    "name": "PUT /api/config/system-settings/:farmId",
    "url": "/api/config/system-settings/:farmId",
    "method": "put",
    "upload": false,
    "x": 250,
    "y": 300,
    "wires": [
      [
        "sys_settings_put_handler"
      ]
    ]
  },
  {
    "id": "sys_settings_put_handler",
    "type": "function",
    "z": "config_crud_flow",
    "name": "설정 저장 핸들러",
    "func": "var farmId = msg.req.params.farmId;\nvar body = msg.payload;\nvar settings = {};\n\nif (body.retentionDays !== undefined) {\n    var days = parseInt(body.retentionDays);\n    if (isNaN(days) || days < 7 || days > 365) {\n        msg.payload = { success: false, error: 'retentionDays는 7~365 범위여야 합니다.' };\n        msg.statusCode = 400;\n        msg.headers = { 'Access-Control-Allow-Origin': '*' };\n        return [msg, null];\n    }\n    settings.retentionDays = days;\n}\n\nvar now = new Date().toISOString();\nmsg.topic = 'INSERT INTO system_settings (farm_id, settings_json, updated_at) VALUES ($1, $2, $3) ON CONFLICT(farm_id) DO UPDATE SET settings_json = excluded.settings_json, updated_at = excluded.updated_at';\nmsg.payload = [farmId, JSON.stringify(settings), now];\nmsg._settings = settings;\nreturn [null, msg];",
    "outputs": 2,
    "outputLabels": [
      "에러 응답",
      "SQLite 저장"
    ],
    "x": 530,
    "y": 300,
    "wires": [
      [
        "http_res_config"
      ],
      [
        "sqlite_sys_settings_put"
      ]
    ]
  },
  {
    "id": "sqlite_sys_settings_put",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "SQLite 저장",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 730,
    "y": 300,
    "wires": [
      [
        "sys_settings_put_response"
      ]
    ]
  },
  {
    "id": "sys_settings_put_response",
    "type": "function",
    "z": "config_crud_flow",
    "name": "저장 응답",
    "func": "if (msg._settings && msg._settings.retentionDays) {\n    global.set('retentionDays', msg._settings.retentionDays);\n}\nmsg.payload = { success: true, data: msg._settings };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 930,
    "y": 300,
    "wires": [
      [
        "http_res_config"
      ]
    ]
  },
  {
    "id": "comment_config_create",
    "type": "comment",
    "z": "config_crud_flow",
    "name": "━━━ 하우스 생성 API ━━━",
    "x": 170,
    "y": 370,
    "wires": []
  },
  {
    "id": "http_config_create",
    "type": "http in",
    "z": "config_crud_flow",
    "name": "POST /api/config",
    "url": "/api/config",
    "method": "post",
    "upload": false,
    "x": 160,
    "y": 420,
    "wires": [
      [
        "config_create_check"
      ]
    ]
  },
  {
    "id": "config_create_check",
    "type": "function",
    "z": "config_crud_flow",
    "name": "입력 검증 + 중복 확인",
    "func": "var body = msg.payload;\nif (!body.farmId || !body.houseId) {\n    msg.payload = { success: false, error: 'farmId, houseId 필수' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null];\n}\nmsg._body = JSON.parse(JSON.stringify(body));\nmsg.topic = 'SELECT id FROM house_configs WHERE farm_id = $1 AND house_id = $2';\nmsg.payload = [body.farmId, body.houseId];\nreturn [null, msg];",
    "outputs": 2,
    "outputLabels": [
      "에러 응답",
      "중복 확인"
    ],
    "x": 400,
    "y": 420,
    "wires": [
      [
        "http_res_config"
      ],
      [
        "sqlite_config_check_dup"
      ]
    ]
  },
  {
    "id": "sqlite_config_check_dup",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "중복 확인",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 610,
    "y": 420,
    "wires": [
      [
        "config_create_insert"
      ]
    ]
  },
  {
    "id": "config_create_insert",
    "type": "function",
    "z": "config_crud_flow",
    "name": "INSERT 준비",
    "func": "var rows = msg.payload || [];\nif (rows.length > 0) {\n    msg.payload = { success: false, error: '이미 존재하는 하우스 ID입니다.' };\n    msg.statusCode = 409;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null];\n}\n\nvar body = msg._body;\nvar id = Date.now().toString(36) + Math.random().toString(36).substr(2, 9);\nvar now = new Date().toISOString();\nvar sensors = body.sensors || [];\nvar collection = body.collection || { intervalSeconds: 60, method: 'http', retryAttempts: 3 };\nvar devices = body.devices || [];\n\nmsg.topic = 'INSERT INTO house_configs (id, farm_id, house_id, house_name, sensors, collection, devices, crops, crop_type, crop_variety, planting_date, device_count, enabled, config_version, created_at, updated_at) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,$16)';\nmsg.payload = [\n    id, body.farmId, body.houseId,\n    body.houseName || (body.houseId + ' 하우스'),\n    JSON.stringify(sensors),\n    JSON.stringify(collection),\n    JSON.stringify(devices),\n    JSON.stringify(body.crops || []),\n    body.cropType || '', body.cropVariety || '', body.plantingDate || '',\n    body.deviceCount || devices.length || 0,\n    body.enabled !== false ? 1 : 0,\n    1, now, now\n];\nmsg._newId = id;\nmsg._now = now;\nmsg._sensors = sensors;\nmsg._collection = collection;\nmsg._devices = devices;\nreturn [null, msg];",
    "outputs": 2,
    "outputLabels": [
      "에러(중복)",
      "INSERT 실행"
    ],
    "x": 810,
    "y": 420,
    "wires": [
      [
        "http_res_config"
      ],
      [
        "sqlite_config_insert"
      ]
    ]
  },
  {
    "id": "sqlite_config_insert",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "하우스 생성",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 440,
    "y": 500,
    "wires": [
      [
        "config_create_response"
      ]
    ]
  },
  {
    "id": "config_create_response",
    "type": "function",
    "z": "config_crud_flow",
    "name": "생성 응답 + 동기화",
    "func": "var body = msg._body;\nvar result = {\n    _id: msg._newId,\n    farmId: body.farmId,\n    houseId: body.houseId,\n    houseName: body.houseName || (body.houseId + ' 하우스'),\n    sensors: msg._sensors,\n    collection: msg._collection,\n    devices: msg._devices,\n    crops: body.crops || [],\n    cropType: body.cropType || '',\n    cropVariety: body.cropVariety || '',\n    plantingDate: body.plantingDate || '',\n    deviceCount: body.deviceCount || msg._devices.length || 0,\n    enabled: body.enabled !== false,\n    configVersion: 1,\n    createdAt: msg._now,\n    updatedAt: msg._now\n};\n\nmsg.payload = { success: true, data: result };\nmsg.statusCode = 201;\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\nvar syncMsg = { _farmId: body.farmId };\nnode.warn('✅ 하우스 생성: ' + body.houseId);\nreturn [msg, syncMsg];",
    "outputs": 2,
    "outputLabels": [
      "HTTP 응답",
      "글로벌 동기화"
    ],
    "x": 670,
    "y": 500,
    "wires": [
      [
        "http_res_config"
      ],
      [
        "link_out_config_sync"
      ]
    ]
  },
  {
    "id": "comment_config_update",
    "type": "comment",
    "z": "config_crud_flow",
    "name": "━━━ 하우스 수정 API ━━━",
    "x": 170,
    "y": 570,
    "wires": []
  },
  {
    "id": "http_config_update",
    "type": "http in",
    "z": "config_crud_flow",
    "name": "PUT /api/config/:houseId",
    "url": "/api/config/:houseId",
    "method": "put",
    "upload": false,
    "x": 180,
    "y": 620,
    "wires": [
      [
        "config_update_handler"
      ]
    ]
  },
  {
    "id": "config_update_handler",
    "type": "function",
    "z": "config_crud_flow",
    "name": "UPSERT 준비",
    "func": "var houseId = msg.req.params.houseId;\nvar farmId = msg.req.query.farmId || msg.payload.farmId || 'farm_0001';\nvar body = msg.payload;\nvar now = new Date().toISOString();\nvar id = Date.now().toString(36) + Math.random().toString(36).substr(2, 9);\nvar devices = body.devices !== undefined ? body.devices : [];\n\nmsg.topic = 'INSERT INTO house_configs (id, farm_id, house_id, house_name, sensors, collection, devices, crops, crop_type, crop_variety, planting_date, device_count, enabled, config_version, created_at, updated_at) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,$16) ON CONFLICT(farm_id, house_id) DO UPDATE SET house_name = excluded.house_name, sensors = excluded.sensors, collection = excluded.collection, devices = excluded.devices, crops = excluded.crops, crop_type = excluded.crop_type, crop_variety = excluded.crop_variety, planting_date = excluded.planting_date, device_count = excluded.device_count, enabled = excluded.enabled, config_version = house_configs.config_version + 1, updated_at = excluded.updated_at';\nmsg.payload = [\n    id, farmId, houseId,\n    body.houseName !== undefined ? body.houseName : '',\n    JSON.stringify(body.sensors !== undefined ? body.sensors : []),\n    JSON.stringify(body.collection !== undefined ? body.collection : {}),\n    JSON.stringify(devices),\n    JSON.stringify(body.crops !== undefined ? body.crops : []),\n    body.cropType !== undefined ? body.cropType : '',\n    body.cropVariety !== undefined ? body.cropVariety : '',\n    body.plantingDate !== undefined ? body.plantingDate : '',\n    body.deviceCount !== undefined ? body.deviceCount : devices.length || 0,\n    body.enabled !== false ? 1 : 0,\n    1,\n    now, now\n];\nmsg._farmId = farmId;\nmsg._houseId = houseId;\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 620,
    "wires": [
      [
        "sqlite_config_upsert"
      ]
    ]
  },
  {
    "id": "sqlite_config_upsert",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "UPSERT 실행",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 640,
    "y": 620,
    "wires": [
      [
        "config_update_read"
      ]
    ]
  },
  {
    "id": "config_update_read",
    "type": "function",
    "z": "config_crud_flow",
    "name": "수정 후 조회",
    "func": "msg.topic = 'SELECT * FROM house_configs WHERE farm_id = $1 AND house_id = $2';\nmsg.payload = [msg._farmId, msg._houseId];\nreturn msg;",
    "outputs": 1,
    "x": 840,
    "y": 620,
    "wires": [
      [
        "sqlite_config_read_after_update"
      ]
    ]
  },
  {
    "id": "sqlite_config_read_after_update",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "SQLite 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 440,
    "y": 700,
    "wires": [
      [
        "config_update_response"
      ]
    ]
  },
  {
    "id": "config_update_response",
    "type": "function",
    "z": "config_crud_flow",
    "name": "수정 응답 + 동기화",
    "func": "var rows = msg.payload || [];\nif (rows.length === 0) {\n    msg.payload = { success: false, error: '수정 실패' };\n    msg.statusCode = 500;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null];\n}\nvar row = rows[0];\nvar sensors, collection, devices, crops;\ntry { sensors = JSON.parse(row.sensors || '[]'); } catch(e) { sensors = []; }\ntry { collection = JSON.parse(row.collection || '{}'); } catch(e) { collection = {}; }\ntry { devices = JSON.parse(row.devices || '[]'); } catch(e) { devices = []; }\ntry { crops = JSON.parse(row.crops || '[]'); } catch(e) { crops = []; }\n\nvar result = {\n    _id: row.id,\n    farmId: row.farm_id,\n    houseId: row.house_id,\n    houseName: row.house_name,\n    sensors: sensors,\n    collection: collection,\n    devices: devices,\n    crops: crops,\n    cropType: row.crop_type || '',\n    cropVariety: row.crop_variety || '',\n    plantingDate: row.planting_date || '',\n    deviceCount: row.device_count || 0,\n    enabled: row.enabled === 1,\n    configVersion: row.config_version || 1,\n    createdAt: row.created_at,\n    updatedAt: row.updated_at\n};\n\nmsg.payload = { success: true, data: result };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\nvar syncMsg = { _farmId: row.farm_id };\nnode.warn('✏️ 하우스 수정: ' + row.house_id);\nreturn [msg, syncMsg];",
    "outputs": 2,
    "outputLabels": [
      "HTTP 응답",
      "글로벌 동기화"
    ],
    "x": 680,
    "y": 700,
    "wires": [
      [
        "http_res_config"
      ],
      [
        "link_out_config_sync"
      ]
    ]
  },
  {
    "id": "comment_config_delete",
    "type": "comment",
    "z": "config_crud_flow",
    "name": "━━━ 하우스 삭제 API ━━━",
    "x": 170,
    "y": 770,
    "wires": []
  },
  {
    "id": "http_config_delete",
    "type": "http in",
    "z": "config_crud_flow",
    "name": "DELETE /api/config/:houseId",
    "url": "/api/config/:houseId",
    "method": "delete",
    "upload": false,
    "x": 190,
    "y": 820,
    "wires": [
      [
        "config_delete_handler"
      ]
    ]
  },
  {
    "id": "config_delete_handler",
    "type": "function",
    "z": "config_crud_flow",
    "name": "존재 확인 쿼리",
    "func": "var houseId = msg.req.params.houseId;\nvar farmId = msg.req.query.farmId || 'farm_0001';\nmsg.topic = 'SELECT id FROM house_configs WHERE house_id = $1 AND farm_id = $2';\nmsg.payload = [houseId, farmId];\nmsg._houseId = houseId;\nmsg._farmId = farmId;\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 820,
    "wires": [
      [
        "sqlite_config_delete"
      ]
    ]
  },
  {
    "id": "sqlite_config_delete",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "존재 확인",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 630,
    "y": 820,
    "wires": [
      [
        "config_delete_response"
      ]
    ]
  },
  {
    "id": "config_delete_response",
    "type": "function",
    "z": "config_crud_flow",
    "name": "삭제 응답 + DELETE 실행",
    "func": "var rows = msg.payload || [];\nif (rows.length === 0) {\n    msg.payload = { success: false, error: 'House not found' };\n    msg.statusCode = 404;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null];\n}\n\nnode.warn('🗑️ 하우스 삭제: ' + msg._houseId);\nmsg.payload = { success: true, message: 'House deleted' };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\nvar delMsg = { topic: 'DELETE FROM house_configs WHERE house_id = $1 AND farm_id = $2', payload: [msg._houseId, msg._farmId], _farmId: msg._farmId };\nreturn [msg, delMsg];",
    "outputs": 2,
    "outputLabels": [
      "HTTP 응답",
      "DELETE + 동기화"
    ],
    "x": 870,
    "y": 820,
    "wires": [
      [
        "http_res_config"
      ],
      [
        "sqlite_config_delete_exec"
      ]
    ]
  },
  {
    "id": "sqlite_config_delete_exec",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "DELETE 실행",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 640,
    "y": 880,
    "wires": [
      [
        "link_out_config_sync"
      ]
    ]
  },
  {
    "id": "comment_config_get",
    "type": "comment",
    "z": "config_crud_flow",
    "name": "━━━ 단일 하우스 / 팜 설정 조회 API ━━━",
    "x": 230,
    "y": 890,
    "wires": []
  },
  {
    "id": "http_config_get_single",
    "type": "http in",
    "z": "config_crud_flow",
    "name": "GET /api/config/:houseId",
    "url": "/api/config/:houseId",
    "method": "get",
    "upload": false,
    "x": 180,
    "y": 940,
    "wires": [
      [
        "config_get_single_handler"
      ]
    ]
  },
  {
    "id": "config_get_single_handler",
    "type": "function",
    "z": "config_crud_flow",
    "name": "조회 모드 분기",
    "func": "var id = msg.req.params.houseId;\nvar farmId = msg.req.query.farmId;\n\nif (farmId) {\n    msg.topic = 'SELECT * FROM house_configs WHERE farm_id = $1 AND house_id = $2';\n    msg.payload = [farmId, id];\n    msg._mode = 'single';\n} else {\n    msg.topic = 'SELECT * FROM house_configs WHERE farm_id = $1 ORDER BY created_at ASC';\n    msg.payload = [id];\n    msg._mode = 'farm';\n    msg._farmId = id;\n}\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 940,
    "wires": [
      [
        "sqlite_config_get_single"
      ]
    ]
  },
  {
    "id": "sqlite_config_get_single",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "SQLite 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 630,
    "y": 940,
    "wires": [
      [
        "config_get_single_response"
      ]
    ]
  },
  {
    "id": "config_get_single_response",
    "type": "function",
    "z": "config_crud_flow",
    "name": "조회 응답 포맷",
    "func": "var rows = msg.payload || [];\n\nfunction formatRow(row) {\n    var sensors, collection, devices, crops;\n    try { sensors = JSON.parse(row.sensors || '[]'); } catch(e) { sensors = []; }\n    try { collection = JSON.parse(row.collection || '{}'); } catch(e) { collection = {}; }\n    try { devices = JSON.parse(row.devices || '[]'); } catch(e) { devices = []; }\n    try { crops = JSON.parse(row.crops || '[]'); } catch(e) { crops = []; }\n    return {\n        _id: row.id,\n        farmId: row.farm_id,\n        houseId: row.house_id,\n        houseName: row.house_name,\n        sensors: sensors,\n        collection: collection,\n        devices: devices,\n        crops: crops,\n        cropType: row.crop_type || '',\n        cropVariety: row.crop_variety || '',\n        plantingDate: row.planting_date || '',\n        deviceCount: row.device_count || 0,\n        enabled: row.enabled === 1,\n        configVersion: row.config_version || 1,\n        createdAt: row.created_at,\n        updatedAt: row.updated_at\n    };\n}\n\nif (msg._mode === 'single') {\n    if (rows.length === 0) {\n        var cachedConfig = global.get('houseConfig');\n        if (cachedConfig) {\n            msg.payload = { success: true, data: cachedConfig, source: 'cache' };\n        } else {\n            msg.payload = { success: false, error: 'House not found' };\n            msg.statusCode = 404;\n        }\n    } else {\n        msg.payload = { success: true, data: formatRow(rows[0]) };\n    }\n} else {\n    var configData = {\n        farmId: msg._farmId,\n        farmName: '스마트팜',\n        houses: rows.map(function(h) {\n            var formatted = formatRow(h);\n            return {\n                houseId: formatted.houseId,\n                name: formatted.houseName,\n                houseName: formatted.houseName,\n                sensors: formatted.sensors,\n                collection: formatted.collection,\n                enabled: formatted.enabled,\n                devices: formatted.devices,\n                deviceCount: formatted.devices.length || formatted.deviceCount || 0\n            };\n        })\n    };\n    msg.payload = { success: true, data: configData };\n}\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 870,
    "y": 940,
    "wires": [
      [
        "http_res_config"
      ]
    ]
  },
  {
    "id": "comment_config_sync",
    "type": "comment",
    "z": "config_crud_flow",
    "name": "━━━ 글로벌 컨텍스트 동기화 ━━━",
    "x": 200,
    "y": 1020,
    "wires": []
  },
  {
    "id": "link_out_config_sync",
    "type": "link out",
    "z": "config_crud_flow",
    "name": "Config 동기화 →",
    "mode": "link",
    "links": [
      "link_in_config_sync"
    ],
    "x": 1075,
    "y": 700,
    "wires": []
  },
  {
    "id": "link_in_config_sync",
    "type": "link in",
    "z": "config_crud_flow",
    "name": "← Config 동기화",
    "links": [
      "link_out_config_sync"
    ],
    "x": 155,
    "y": 1080,
    "wires": [
      [
        "config_sync_query"
      ]
    ]
  },
  {
    "id": "config_sync_query",
    "type": "function",
    "z": "config_crud_flow",
    "name": "전체 설정 조회",
    "func": "var farmId = msg._farmId || 'farm_0001';\nmsg.topic = 'SELECT * FROM house_configs WHERE farm_id = $1 ORDER BY created_at ASC';\nmsg.payload = [farmId];\nmsg._syncFarmId = farmId;\nreturn msg;",
    "outputs": 1,
    "x": 370,
    "y": 1080,
    "wires": [
      [
        "sqlite_config_sync_read"
      ]
    ]
  },
  {
    "id": "sqlite_config_sync_read",
    "type": "sqlite",
    "z": "config_crud_flow",
    "name": "SQLite 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 570,
    "y": 1080,
    "wires": [
      [
        "config_sync_apply"
      ]
    ]
  },
  {
    "id": "config_sync_apply",
    "type": "function",
    "z": "config_crud_flow",
    "name": "global.houseConfig 갱신",
    "func": "var rows = msg.payload || [];\nvar houses = rows.map(function(row) {\n    var sensors, collection, devices;\n    try { sensors = JSON.parse(row.sensors || '[]'); } catch(e) { sensors = []; }\n    try { collection = JSON.parse(row.collection || '{}'); } catch(e) { collection = {}; }\n    try { devices = JSON.parse(row.devices || '[]'); } catch(e) { devices = []; }\n    return {\n        houseId: row.house_id,\n        houseName: row.house_name,\n        sensors: sensors,\n        collection: collection,\n        devices: devices,\n        enabled: row.enabled === 1,\n        configVersion: row.config_version || 1\n    };\n});\n\nvar config = {\n    farmId: msg._syncFarmId,\n    farmName: '스마트팜',\n    houses: houses\n};\nglobal.set('houseConfig', config);\nnode.warn('🔄 houseConfig 동기화 완료: ' + houses.length + '개 하우스');\nreturn null;",
    "outputs": 1,
    "x": 810,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "sync_flow",
    "type": "tab",
    "label": "데이터 동기화",
    "disabled": false,
    "info": "오프라인 → 온라인 전환 시 미동기화 데이터 배치 전송\n- synced=0인 sensor_data를 200건씩 서버에 전송\n- 성공 시 synced=1로 마킹\n- 자동화 규칙: CRUD 변경 시 즉시 RPi→PC 동기화"
  },
  {
    "id": "comment_sync",
    "type": "comment",
    "z": "sync_flow",
    "name": "━━━ 센서 데이터 동기화 ━━━",
    "x": 170,
    "y": 40,
    "wires": []
  },
  {
    "id": "link_sync_in",
    "type": "link in",
    "z": "sync_flow",
    "name": "← 동기화 트리거",
    "links": [
      "link_sync_trigger"
    ],
    "x": 115,
    "y": 100,
    "wires": [
      [
        "sync_check"
      ]
    ]
  },
  {
    "id": "inject_sync_manual",
    "type": "inject",
    "z": "sync_flow",
    "name": "수동 동기화",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 150,
    "y": 160,
    "wires": [
      [
        "sync_check"
      ]
    ]
  },
  {
    "id": "inject_sync_periodic",
    "type": "inject",
    "z": "sync_flow",
    "name": "5분 간격 동기화 시도",
    "props": [],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 180,
    "y": 220,
    "wires": [
      [
        "sync_check"
      ]
    ]
  },
  {
    "id": "sync_check",
    "type": "function",
    "z": "sync_flow",
    "name": "온라인 체크",
    "func": "const mode = global.get('operationMode') || 'online';\n\nif (mode !== 'online') {\n    node.status({ fill: 'yellow', shape: 'ring', text: '오프라인 - 동기화 대기' });\n    return null;\n}\n\n// 온라인이면 미동기화 데이터 조회 (200건 배치)\nmsg.topic = `SELECT id, timestamp, farm_id, house_id, sensor_id, value\nFROM sensor_data\nWHERE synced = 0\nORDER BY timestamp ASC\nLIMIT 200`;\n\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 160,
    "wires": [
      [
        "sqlite_sync_query"
      ]
    ]
  },
  {
    "id": "sqlite_sync_query",
    "type": "sqlite",
    "z": "sync_flow",
    "name": "미동기화 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 610,
    "y": 160,
    "wires": [
      [
        "sync_prepare"
      ]
    ]
  },
  {
    "id": "sync_prepare",
    "type": "function",
    "z": "sync_flow",
    "name": "배치 전송 준비",
    "func": "const rows = msg.payload || [];\n\nif (rows.length === 0) {\n    node.status({ fill: 'green', shape: 'dot', text: '동기화 완료 (0건)' });\n    return null;\n}\n\nconst SERVER_URL = env.get('SERVER_URL') || 'http://192.168.137.1:3000';\nconst API_KEY = env.get('SENSOR_API_KEY') || '';\n\n// 하우스별로 분리\nconst byHouse = {};\nfor (const row of rows) {\n    const houseKey = row.farm_id + '_' + row.house_id;\n    if (!byHouse[houseKey]) {\n        byHouse[houseKey] = { farmId: row.farm_id, houseId: row.house_id, rows: [] };\n    }\n    byHouse[houseKey].rows.push(row);\n}\n\n// 하우스별 배치 메시지 생성\nconst messages = [];\nfor (const house of Object.values(byHouse)) {\n    // 타임스탬프별로 그룹핑\n    const grouped = {};\n    for (const row of house.rows) {\n        if (!grouped[row.timestamp]) {\n            grouped[row.timestamp] = {\n                timestamp: row.timestamp,\n                data: {},\n                deviceInfo: { deviceId: 'rpi_001', ip: '192.168.137.30', version: '1.0.0' }\n            };\n        }\n        grouped[row.timestamp].data[row.sensor_id] = row.value;\n    }\n\n    messages.push({\n        url: SERVER_URL + '/api/sensors/batch',\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json', 'x-api-key': API_KEY },\n        payload: {\n            farmId: house.farmId,\n            houseId: house.houseId,\n            dataArray: Object.values(grouped)\n        },\n        _syncIds: house.rows.map(r => r.id),\n        _syncCount: house.rows.length\n    });\n}\n\nconst houseCount = Object.keys(byHouse).length;\nnode.warn('📤 동기화 전송: ' + rows.length + '건 (' + houseCount + '개 하우스)');\nnode.status({ fill: 'blue', shape: 'dot', text: '전송 중: ' + rows.length + '건' });\n\n// 배열로 반환 → 하우스별 순차 전송\nreturn [messages];",
    "outputs": 1,
    "x": 810,
    "y": 160,
    "wires": [
      [
        "http_sync_send"
      ]
    ]
  },
  {
    "id": "http_sync_send",
    "type": "http request",
    "z": "sync_flow",
    "name": "서버 배치 전송",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 420,
    "y": 280,
    "wires": [
      [
        "sync_result"
      ]
    ]
  },
  {
    "id": "sync_result",
    "type": "function",
    "z": "sync_flow",
    "name": "동기화 결과 처리",
    "func": "if (msg.statusCode === 201 || msg.statusCode === 200) {\n    // 성공 → synced=1 마킹\n    const ids = msg._syncIds || [];\n    if (ids.length > 0) {\n        // ID는 SQLite 자동증가 INTEGER이므로 숫자만 허용\n        const safeIds = ids.filter(id => Number.isInteger(id) && id > 0);\n        if (safeIds.length === 0) { return [null, null]; }\n        // 파라미터화 쿼리: placeholder 동적 생성\n        const placeholders = safeIds.map((_, i) => '$' + (i + 1)).join(',');\n        msg.topic = 'UPDATE sensor_data SET synced = 1 WHERE id IN (' + placeholders + ')';\n        msg.payload = safeIds;\n        node.warn('✅ 동기화 성공: ' + msg._syncCount + '건 synced=1');\n        node.status({ fill: 'green', shape: 'dot', text: '동기화 완료: ' + msg._syncCount + '건' });\n        return [msg, null];\n    }\n} else {\n    node.warn('⚠️ 동기화 실패 (' + msg.statusCode + '): 다음 주기에 재시도');\n    node.status({ fill: 'red', shape: 'ring', text: '실패: ' + msg.statusCode });\n}\n\nreturn [null, null];",
    "outputs": 2,
    "outputLabels": [
      "synced 업데이트",
      "다음 배치"
    ],
    "x": 650,
    "y": 280,
    "wires": [
      [
        "sqlite_sync_update"
      ],
      [
        "sync_check"
      ]
    ]
  },
  {
    "id": "sqlite_sync_update",
    "type": "sqlite",
    "z": "sync_flow",
    "name": "synced=1 마킹",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 880,
    "y": 260,
    "wires": [
      [
        "sync_next"
      ]
    ]
  },
  {
    "id": "sync_next",
    "type": "function",
    "z": "sync_flow",
    "name": "다음 배치 확인",
    "func": "setTimeout(function() { node.send({ payload: \"next_batch\" }); }, 1000);\nreturn null;",
    "outputs": 1,
    "x": 1070,
    "y": 260,
    "wires": [
      [
        "sync_check"
      ]
    ]
  },
  {
    "id": "comment_rule_sync",
    "type": "comment",
    "z": "sync_flow",
    "name": "━━━ 자동화 규칙 동기화 (RPi → PC) ━━━",
    "x": 210,
    "y": 380,
    "wires": []
  },
  {
    "id": "link_in_rule_sync",
    "type": "link in",
    "z": "sync_flow",
    "name": "← 규칙 변경 알림",
    "links": [
      "link_out_rule_changed"
    ],
    "x": 135,
    "y": 440,
    "wires": [
      [
        "rule_sync_check"
      ]
    ]
  },
  {
    "id": "inject_rule_sync",
    "type": "inject",
    "z": "sync_flow",
    "name": "규칙 동기화 (수동)",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 170,
    "y": 500,
    "wires": [
      [
        "rule_sync_check"
      ]
    ]
  },
  {
    "id": "rule_sync_check",
    "type": "function",
    "z": "sync_flow",
    "name": "온라인 체크 (규칙)",
    "func": "const mode = global.get('operationMode') || 'online';\n\nif (mode !== 'online') {\n    node.status({ fill: 'yellow', shape: 'ring', text: '오프라인 - 규칙 동기화 대기' });\n    return null;\n}\n\nmsg.topic = 'SELECT * FROM automation_rules WHERE synced = 0';\nreturn msg;",
    "outputs": 1,
    "x": 430,
    "y": 460,
    "wires": [
      [
        "sqlite_rule_sync_query"
      ]
    ]
  },
  {
    "id": "sqlite_rule_sync_query",
    "type": "sqlite",
    "z": "sync_flow",
    "name": "미동기화 규칙 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 660,
    "y": 460,
    "wires": [
      [
        "rule_sync_prepare"
      ]
    ]
  },
  {
    "id": "rule_sync_prepare",
    "type": "function",
    "z": "sync_flow",
    "name": "규칙 전송 준비",
    "func": "const rows = msg.payload || [];\n\nif (rows.length === 0) {\n    node.status({ fill: 'green', shape: 'dot', text: '규칙 동기화 완료 (0건)' });\n    return null;\n}\n\nconst SERVER_URL = env.get('SERVER_URL') || 'http://192.168.137.1:3000';\nconst API_KEY = env.get('SENSOR_API_KEY') || '';\nconst farmId = env.get('FARM_ID') || 'farm_0001';\n\n// SQLite 행 → PC API 호환 형태로 변환\nvar rules = rows.map(function(row) {\n    var conditions, actions;\n    try { conditions = JSON.parse(row.conditions); } catch(e) { conditions = []; }\n    try { actions = JSON.parse(row.actions); } catch(e) { actions = []; }\n    return {\n        id: row.id,\n        farmId: row.farm_id,\n        houseId: row.house_id,\n        name: row.name,\n        description: row.description || '',\n        enabled: row.enabled === 1,\n        conditionLogic: row.condition_logic || 'AND',\n        conditions: conditions,\n        actions: actions,\n        cooldownSeconds: row.cooldown_seconds || 300,\n        priority: row.priority || 10,\n        lastTriggeredAt: row.last_triggered_at || null,\n        triggerCount: row.trigger_count || 0,\n        createdAt: row.created_at,\n        updatedAt: row.updated_at\n    };\n});\n\nmsg.url = SERVER_URL + '/api/automation/' + farmId + '/sync';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json', 'x-api-key': API_KEY };\nmsg.payload = { rules: rules };\nmsg._syncRuleIds = rows.map(function(r) { return r.id; });\nmsg._syncRuleCount = rows.length;\n\nnode.warn('📤 규칙 동기화 전송: ' + rows.length + '건');\nnode.status({ fill: 'blue', shape: 'dot', text: '규칙 전송 중: ' + rows.length + '건' });\n\nreturn msg;",
    "outputs": 1,
    "x": 870,
    "y": 460,
    "wires": [
      [
        "http_rule_sync_send"
      ]
    ]
  },
  {
    "id": "http_rule_sync_send",
    "type": "http request",
    "z": "sync_flow",
    "name": "서버 규칙 전송",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 420,
    "y": 560,
    "wires": [
      [
        "rule_sync_result"
      ]
    ]
  },
  {
    "id": "rule_sync_result",
    "type": "function",
    "z": "sync_flow",
    "name": "규칙 동기화 결과",
    "func": "if (msg.statusCode === 200 || msg.statusCode === 201) {\n    var ids = msg._syncRuleIds || [];\n    if (ids.length === 0) return null;\n\n    // 문자열 ID → placeholder 동적 생성\n    var placeholders = ids.map(function(_, i) { return '$' + (i + 1); }).join(',');\n    msg.topic = 'UPDATE automation_rules SET synced = 1 WHERE id IN (' + placeholders + ')';\n    msg.payload = ids;\n\n    node.warn('✅ 규칙 동기화 성공: ' + msg._syncRuleCount + '건 synced=1');\n    node.status({ fill: 'green', shape: 'dot', text: '규칙 동기화 완료: ' + msg._syncRuleCount + '건' });\n    return msg;\n} else {\n    node.warn('⚠️ 규칙 동기화 실패 (' + msg.statusCode + '): 다음 주기에 재시도');\n    node.status({ fill: 'red', shape: 'ring', text: '규칙 동기화 실패: ' + msg.statusCode });\n    return null;\n}",
    "outputs": 1,
    "x": 660,
    "y": 560,
    "wires": [
      [
        "sqlite_rule_sync_update"
      ]
    ]
  },
  {
    "id": "sqlite_rule_sync_update",
    "type": "sqlite",
    "z": "sync_flow",
    "name": "규칙 synced=1",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 880,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "catch_rule_sync_error",
    "type": "catch",
    "z": "sync_flow",
    "name": "규칙 전송 에러 캐치",
    "scope": [
      "http_rule_sync_send"
    ],
    "uncaught": false,
    "x": 440,
    "y": 620,
    "wires": [
      [
        "rule_sync_result"
      ]
    ]
  },
  {
    "id": "comment_sync_status",
    "type": "comment",
    "z": "sync_flow",
    "name": "━━━ 동기화 상태 조회 API ━━━",
    "x": 180,
    "y": 700,
    "wires": []
  },
  {
    "id": "http_sync_status",
    "type": "http in",
    "z": "sync_flow",
    "name": "GET /api/sync/status",
    "url": "/api/sync/status",
    "method": "get",
    "upload": false,
    "x": 170,
    "y": 760,
    "wires": [
      [
        "sync_status_query"
      ]
    ]
  },
  {
    "id": "sync_status_query",
    "type": "function",
    "z": "sync_flow",
    "name": "동기화 상태 쿼리",
    "func": "msg.topic = `SELECT\n  COUNT(*) as total,\n  SUM(CASE WHEN synced = 1 THEN 1 ELSE 0 END) as synced,\n  SUM(CASE WHEN synced = 0 THEN 1 ELSE 0 END) as unsynced,\n  MIN(CASE WHEN synced = 0 THEN timestamp END) as oldest_unsynced\nFROM sensor_data`;\nreturn msg;",
    "outputs": 1,
    "x": 430,
    "y": 760,
    "wires": [
      [
        "sqlite_sync_status"
      ]
    ]
  },
  {
    "id": "sqlite_sync_status",
    "type": "sqlite",
    "z": "sync_flow",
    "name": "SQLite 쿼리",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 650,
    "y": 760,
    "wires": [
      [
        "sync_status_response"
      ]
    ]
  },
  {
    "id": "sync_status_response",
    "type": "function",
    "z": "sync_flow",
    "name": "응답",
    "func": "const row = msg.payload[0] || {};\nmsg.payload = {\n    success: true,\n    data: {\n        total: row.total || 0,\n        synced: row.synced || 0,\n        unsynced: row.unsynced || 0,\n        oldestUnsynced: row.oldest_unsynced || null,\n        operationMode: global.get('operationMode') || 'unknown'\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "x": 830,
    "y": 760,
    "wires": [
      [
        "http_res_sync"
      ]
    ]
  },
  {
    "id": "http_res_sync",
    "type": "http response",
    "z": "sync_flow",
    "name": "응답",
    "statusCode": "",
    "headers": {},
    "x": 1010,
    "y": 760,
    "wires": []
  },
  {
    "id": "catch_sync_send_error",
    "type": "catch",
    "z": "sync_flow",
    "name": "배치 전송 에러 캐치",
    "scope": [
      "http_sync_send"
    ],
    "uncaught": false,
    "x": 440,
    "y": 340,
    "wires": [
      [
        "sync_result"
      ]
    ]
  },
  {
    "id": "automation_eval_flow",
    "type": "tab",
    "label": "자동화 평가",
    "disabled": false,
    "info": "센서 수집 후 SQLite의 자동화 규칙을 로컬에서 평가\n- 활성 규칙 조회 → 조건 평가 → 제어 명령 실행\n- 서버 다운/팜로컬 모드에서도 자동화 정상 동작\n- timeMode: specific/interval 지원\n- duration: 동작시간 후 역방향 명령 자동 실행"
  },
  {
    "id": "link_in_evaluate",
    "type": "link in",
    "z": "automation_eval_flow",
    "name": "← 센서 수집 완료",
    "links": [
      "link_out_to_evaluate"
    ],
    "x": 115,
    "y": 100,
    "wires": [
      [
        "fn_load_rules"
      ]
    ]
  },
  {
    "id": "inject_eval_manual",
    "type": "inject",
    "z": "automation_eval_flow",
    "name": "수동 평가 (테스트)",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 170,
    "y": 160,
    "wires": [
      [
        "fn_manual_test_data"
      ]
    ]
  },
  {
    "id": "fn_manual_test_data",
    "type": "function",
    "z": "automation_eval_flow",
    "name": "테스트 센서 데이터",
    "func": "msg.sensorData = {\n    farmId: env.get('FARM_ID') || 'farm_0001',\n    houseId: env.get('HOUSE_ID') || 'house_001',\n    data: { temp_001: 32.5, humidity_001: 65.0 }\n};\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 160,
    "wires": [
      [
        "fn_load_rules"
      ]
    ]
  },
  {
    "id": "comment_eval",
    "type": "comment",
    "z": "automation_eval_flow",
    "name": "━━━ 자동화 규칙 로컬 평가 (timeMode + duration 지원) ━━━",
    "x": 240,
    "y": 40,
    "wires": []
  },
  {
    "id": "fn_load_rules",
    "type": "function",
    "z": "automation_eval_flow",
    "name": "① 활성 규칙 조회 준비",
    "func": "const sensorData = msg.sensorData;\nif (!sensorData || !sensorData.farmId || !sensorData.houseId) {\n    node.warn('⚠️ sensorData 없음, 평가 건너뜀');\n    return null;\n}\n\nmsg.topic = 'SELECT * FROM automation_rules WHERE farm_id = $1 AND house_id = $2 AND enabled = 1 ORDER BY priority ASC';\nmsg.payload = [sensorData.farmId, sensorData.houseId];\nnode.status({ fill: 'blue', shape: 'ring', text: '규칙 조회 중...' });\nreturn msg;",
    "outputs": 1,
    "x": 430,
    "y": 100,
    "wires": [
      [
        "sqlite_load_rules"
      ]
    ]
  },
  {
    "id": "sqlite_load_rules",
    "type": "sqlite",
    "z": "automation_eval_flow",
    "name": "규칙 조회",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 650,
    "y": 100,
    "wires": [
      [
        "fn_evaluate_rules"
      ]
    ]
  },
  {
    "id": "fn_evaluate_rules",
    "type": "function",
    "z": "automation_eval_flow",
    "name": "② 규칙 평가 (핵심 엔진 v2)",
    "func": "var rules = msg.payload || [];\nvar sensorData = msg.sensorData;\n\n// ── Duration 타이머 정리: 비활성/삭제된 규칙의 타이머 취소 ──\nvar activeRuleIds = {};\nfor (var k = 0; k < rules.length; k++) { activeRuleIds[rules[k].id] = true; }\nvar timerRegistry = context.get('timerRegistry') || {};\nvar keysToRemove = [];\nfor (var tKey in timerRegistry) {\n    if (!activeRuleIds[timerRegistry[tKey]]) {\n        var oldTimer = context.get(tKey);\n        if (oldTimer) { clearTimeout(oldTimer); context.set(tKey, null); }\n        node.warn('🧹 타이머 정리 (규칙 비활성/삭제): ' + tKey);\n        keysToRemove.push(tKey);\n    }\n}\nfor (var kr = 0; kr < keysToRemove.length; kr++) { delete timerRegistry[keysToRemove[kr]]; }\ncontext.set('timerRegistry', timerRegistry);\n\nif (rules.length === 0) {\n    node.status({ fill: 'grey', shape: 'dot', text: '활성 규칙 없음' });\n    return null;\n}\n\nvar now = new Date();\nvar actionsToExecute = [];\nvar updateMessages = [];\n\n// ── 시간 조건 평가 (timeMode: specific, interval, legacy) ──\nfunction evaluateTimeCondition(cond) {\n    var currentDay = now.getDay();\n    if (cond.days && cond.days.length > 0 && cond.days.indexOf(currentDay) === -1) {\n        return false;\n    }\n    var nowMinutes = now.getHours() * 60 + now.getMinutes();\n\n    // legacy: timeMode 없고 time 필드만 있으면 단일 시간\n    if (!cond.timeMode && cond.time) {\n        if (typeof cond.time !== 'string') return false;\n        var parts = cond.time.split(':');\n        var target = parseInt(parts[0]) * 60 + parseInt(parts[1]);\n        return Math.abs(nowMinutes - target) <= 2;\n    }\n\n    // 지정 시간 모드: times 배열 중 하나라도 매칭\n    if (cond.timeMode === 'specific') {\n        var times = cond.times || [];\n        for (var i = 0; i < times.length; i++) {\n            if (!times[i] || typeof times[i] !== 'string') continue;\n            var p = times[i].split(':');\n            var t = parseInt(p[0]) * 60 + parseInt(p[1]);\n            if (Math.abs(nowMinutes - t) <= 2) return true;\n        }\n        return false;\n    }\n\n    // 반복 모드: startTime~endTime 범위에서 interval 간격\n    if (cond.timeMode === 'interval') {\n        var sp = (cond.startTime || '00:00').split(':');\n        var ep = (cond.endTime || '23:59').split(':');\n        var start = parseInt(sp[0]) * 60 + parseInt(sp[1]);\n        var end = parseInt(ep[0]) * 60 + parseInt(ep[1]);\n        var interval = cond.intervalMinutes || 30;\n        if (nowMinutes < start - 2 || nowMinutes > end + 2) return false;\n        for (var t = start; t <= end; t += interval) {\n            if (Math.abs(nowMinutes - t) <= 2) return true;\n        }\n        return false;\n    }\n\n    return false;\n}\n\n// 역방향 명령 매핑\nvar REVERSE_CMD = { 'open': 'close', 'close': 'open', 'on': 'off', 'off': 'on' };\n\nfor (var ri = 0; ri < rules.length; ri++) {\n    var rule = rules[ri];\n    var conditions, actions;\n    try { conditions = JSON.parse(rule.conditions); } catch(e) { continue; }\n    try { actions = JSON.parse(rule.actions); } catch(e) { continue; }\n\n    // 쿨다운 체크\n    if (rule.last_triggered_at) {\n        var elapsed = (now.getTime() - new Date(rule.last_triggered_at).getTime()) / 1000;\n        if (elapsed < rule.cooldown_seconds) continue;\n    }\n\n    // ── 조건 평가 (그룹별 분리 + groupLogic) ──\n    var sensorConds = conditions.filter(function(c) { return c.type === 'sensor'; });\n    var timeConds = conditions.filter(function(c) { return c.type === 'time'; });\n\n    var sensorResult = true;\n    var timeResult = true;\n\n    if (sensorConds.length > 0) {\n        var sensorResults = sensorConds.map(function(cond) {\n            var val = sensorData.data[cond.sensorId];\n            if (val === undefined || val === null) return false;\n            switch (cond.operator) {\n                case '>': return val > cond.value;\n                case '>=': return val >= cond.value;\n                case '<': return val < cond.value;\n                case '<=': return val <= cond.value;\n                case '==': return Math.abs(val - cond.value) < 0.1;\n                default: return false;\n            }\n        });\n        sensorResult = (rule.condition_logic === 'OR')\n            ? sensorResults.some(function(r) { return r; })\n            : sensorResults.every(function(r) { return r; });\n    }\n\n    if (timeConds.length > 0) {\n        var timeResults = timeConds.map(function(c) { return evaluateTimeCondition(c); });\n        timeResult = timeResults.some(function(r) { return r; });\n    }\n\n    // groupLogic: 센서 그룹 ↔ 시간 그룹 간 AND/OR\n    var triggered = false;\n    var groupLogic = rule.group_logic || 'AND';\n\n    if (sensorConds.length > 0 && timeConds.length > 0) {\n        triggered = (groupLogic === 'OR') ? (sensorResult || timeResult) : (sensorResult && timeResult);\n    } else if (sensorConds.length > 0) {\n        triggered = sensorResult;\n    } else if (timeConds.length > 0) {\n        triggered = timeResult;\n    }\n\n    if (triggered) {\n        // 이유 텍스트\n        var reasonParts = conditions.map(function(cond) {\n            if (cond.type === 'sensor') {\n                var v = sensorData.data[cond.sensorId];\n                return (cond.sensorName || cond.sensorId) + ' ' + v + cond.operator + cond.value;\n            }\n            if (cond.type === 'time') {\n                if (cond.timeMode === 'interval') return '시간 ' + cond.startTime + '~' + cond.endTime + ' ' + cond.intervalMinutes + '분간격';\n                if (cond.timeMode === 'specific') return '시간 ' + (cond.times || []).join(',');\n                return '시간 ' + (cond.time || '');\n            }\n            return '';\n        }).filter(function(s) { return s; });\n        var reason = rule.name + ': ' + reasonParts.join(groupLogic === 'AND' ? ' AND ' : ' OR ');\n\n        for (var ai = 0; ai < actions.length; ai++) {\n            var action = actions[ai];\n            actionsToExecute.push({\n                ruleId: rule.id,\n                ruleName: rule.name,\n                houseId: rule.house_id,\n                deviceId: action.deviceId,\n                deviceType: action.deviceType,\n                deviceName: action.deviceName || action.deviceId,\n                command: action.command,\n                duration: action.duration || 0,\n                reason: reason\n            });\n        }\n\n        var newCount = (rule.trigger_count || 0) + 1;\n        updateMessages.push({\n            topic: 'UPDATE automation_rules SET last_triggered_at = $1, trigger_count = $2, synced = 0 WHERE id = $3',\n            payload: [now.toISOString(), newCount, rule.id]\n        });\n\n        node.warn('🤖 자동화 실행: ' + rule.name + ' → ' + actions.map(function(a) {\n            var ds = a.duration ? ' (' + Math.floor(a.duration/60) + '분' + (a.duration%60) + '초)' : '';\n            return a.deviceId + ' ' + a.command + ds;\n        }).join(', '));\n    }\n}\n\nif (actionsToExecute.length === 0) {\n    node.status({ fill: 'green', shape: 'dot', text: rules.length + '개 규칙 평가, 실행 없음' });\n    if (updateMessages.length === 0) return null;\n}\n\nnode.status({ fill: 'green', shape: 'dot', text: '실행: ' + actionsToExecute.length + '개 동작' });\n\n// ── 제어 메시지 생성 ──\nvar controlMessages = actionsToExecute.map(function(action) {\n    return {\n        control: {\n            houseId: action.houseId,\n            deviceId: action.deviceId,\n            deviceType: action.deviceType,\n            command: action.command,\n            operator: 'automation',\n            requestId: 'auto_' + Date.now() + '_' + Math.random().toString(36).substr(2, 4),\n            timestamp: now.toISOString()\n        },\n        _action: action\n    };\n});\n\n// ── Duration 기반 역방향 명령 스케줄링 ──\nactionsToExecute.forEach(function(action) {\n    if (action.duration > 0) {\n        var reverseCmd = REVERSE_CMD[action.command];\n        if (!reverseCmd) return;\n\n        var timerKey = 'dur_' + action.deviceId;\n        var existingTimer = context.get(timerKey);\n        if (existingTimer) clearTimeout(existingTimer);\n\n        var timer = setTimeout(function() {\n            var reverseMsg = {\n                control: {\n                    houseId: action.houseId,\n                    deviceId: action.deviceId,\n                    deviceType: action.deviceType,\n                    command: reverseCmd,\n                    operator: 'automation_duration',\n                    requestId: 'auto_dur_' + Date.now(),\n                    timestamp: new Date().toISOString()\n                }\n            };\n            var logMsg = {\n                topic: 'INSERT INTO control_logs (timestamp, device_id, command, source, synced) VALUES ($1, $2, $3, $4, 0)',\n                payload: [new Date().toISOString(), action.deviceId, reverseCmd, 'automation_duration']\n            };\n            node.send([[reverseMsg], null, [logMsg]]);\n            node.warn('⏱️ Duration 종료: ' + action.deviceId + ' → ' + reverseCmd);\n            context.set(timerKey, null);\n            var reg2 = context.get('timerRegistry') || {};\n            delete reg2[timerKey];\n            context.set('timerRegistry', reg2);\n        }, action.duration * 1000);\n\n        context.set(timerKey, timer);\n        var reg = context.get('timerRegistry') || {};\n        reg[timerKey] = action.ruleId;\n        context.set('timerRegistry', reg);\n        node.warn('⏱️ Duration 설정: ' + action.deviceId + ' ' + action.duration + '초 후 → ' + reverseCmd);\n    }\n});\n\nvar logMessages = actionsToExecute.map(function(action) {\n    return {\n        topic: 'INSERT INTO control_logs (timestamp, device_id, command, source, synced) VALUES ($1, $2, $3, $4, 0)',\n        payload: [now.toISOString(), action.deviceId, action.command, 'automation']\n    };\n});\n\nreturn [controlMessages.length > 0 ? [controlMessages] : null, updateMessages.length > 0 ? [updateMessages] : null, logMessages.length > 0 ? [logMessages] : null];",
    "outputs": 3,
    "outputLabels": [
      "GPIO 제어",
      "규칙 DB 업데이트",
      "제어 로그"
    ],
    "x": 920,
    "y": 100,
    "wires": [
      [
        "link_out_gpio_eval"
      ],
      [
        "sqlite_update_rule"
      ],
      [
        "sqlite_eval_log"
      ]
    ]
  },
  {
    "id": "link_out_gpio_eval",
    "type": "link out",
    "z": "automation_eval_flow",
    "name": "GPIO 제어 →",
    "mode": "link",
    "links": [
      "link_in_local_control"
    ],
    "x": 1175,
    "y": 60,
    "wires": []
  },
  {
    "id": "sqlite_update_rule",
    "type": "sqlite",
    "z": "automation_eval_flow",
    "name": "규칙 상태 업데이트",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1200,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "sqlite_eval_log",
    "type": "sqlite",
    "z": "automation_eval_flow",
    "name": "제어 로그 저장",
    "mydb": "sqlite_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "x": 1200,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "aws_control_receiver_tab",
    "type": "tab",
    "label": "AWS IoT 제어 수신",
    "disabled": false,
    "info": "AWS IoT Core MQTT에서 제어 명령을 수신하고 처리하는 플로우\n\n토픽: smartfarm/house1/+/control\n프론트엔드 → API Gateway → Lambda → IoT Core → 이 플로우"
  },
  {
    "id": "comment_receiver_header",
    "type": "comment",
    "z": "aws_control_receiver_tab",
    "name": "━━━ 📌 AWS IoT 제어 명령 수신 (FE → AWS → RPi) ━━━",
    "info": "프론트엔드에서 제어 버튼 클릭 → API Gateway → Lambda → IoT Core MQTT publish → 이 노드에서 수신\n\n토픽 패턴: smartfarm/{house_id}/{device_id}/control\n페이로드: { command, timestamp, house_id, window_id, operator, request_id }",
    "x": 300,
    "y": 40,
    "wires": []
  },
  {
    "id": "mqtt_control_subscribe",
    "type": "mqtt in",
    "z": "aws_control_receiver_tab",
    "name": "제어 명령 구독",
    "topic": "smartfarm/house1/+/control",
    "qos": "1",
    "datatype": "json",
    "broker": "aws_iot_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 160,
    "wires": [
      [
        "parse_control_command"
      ]
    ]
  },
  {
    "id": "parse_control_command",
    "type": "function",
    "z": "aws_control_receiver_tab",
    "name": "제어 명령 파싱",
    "func": "// MQTT 토픽에서 장치 ID 추출\n// 토픽: smartfarm/house1/window1/control\nconst topicParts = msg.topic.split('/');\nconst houseId = topicParts[1] || 'unknown';\nconst deviceId = topicParts[2] || 'unknown';\n\n// 페이로드 파싱\nconst payload = msg.payload;\nconst command = payload.command || 'unknown';\nconst operator = payload.operator || 'unknown';\nconst requestId = payload.request_id || '';\nconst timestamp = payload.timestamp || new Date().toISOString();\n\n// 장치 유형 판별\nlet deviceType = 'unknown';\nif (deviceId.startsWith('window')) deviceType = 'window';\nelse if (deviceId.startsWith('fan')) deviceType = 'fan';\nelse if (deviceId.startsWith('heater')) deviceType = 'heater';\nelse if (deviceId.startsWith('valve')) deviceType = 'valve';\n\n// 메시지에 파싱 결과 첨부\nmsg.control = {\n    houseId,\n    deviceId,\n    deviceType,\n    command,\n    operator,\n    requestId,\n    timestamp,\n    raw: payload\n};\n\nconst cmdLabels = {\n    open: '열기', close: '닫기', stop: '정지',\n    on: 'ON', off: 'OFF'\n};\nconst label = cmdLabels[command] || command;\n\nnode.status({\n    fill: 'green',\n    shape: 'dot',\n    text: `${label} ← ${houseId}/${deviceId} (${operator})`\n});\n\nnode.warn(`📥 제어 수신: ${houseId}/${deviceId} ${command.toUpperCase()} by ${operator} [${requestId}]`);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 160,
    "wires": [
      [
        "execute_control",
        "debug_received",
        "send_ack"
      ]
    ]
  },
  {
    "id": "execute_control",
    "type": "function",
    "z": "aws_control_receiver_tab",
    "name": "제어 실행 (GPIO/릴레이)",
    "func": "// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n// 실제 장치 제어 로직\n// GPIO, 릴레이 모듈 등을 여기서 제어\n// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nconst { deviceId, deviceType, command } = msg.control;\n\n// GPIO 핀 매핑 (예시 - 실제 하드웨어에 맞게 수정)\nconst GPIO_MAP = {\n    'window1': { open: 17, close: 27 },  // GPIO 17=열기, 27=닫기\n    'window2': { open: 22, close: 23 },\n    'fan1':    { on: 24, off: 24 },       // 같은 핀 HIGH/LOW\n    'heater1': { on: 25, off: 25 },\n    'valve1':  { open: 5, close: 6 },\n};\n\nconst pins = GPIO_MAP[deviceId];\n\nif (!pins) {\n    node.warn(`⚠️ ${deviceId}: GPIO 매핑 없음 (시뮬레이션 모드)`);\n    node.status({ fill: 'yellow', shape: 'ring', text: `시뮬레이션: ${deviceId} ${command}` });\n    \n    // 시뮬레이션 - 실제 GPIO 없이 성공 처리\n    msg.control.executed = true;\n    msg.control.simulated = true;\n    return msg;\n}\n\n// TODO: 실제 GPIO 제어 코드\n// const Gpio = require('onoff').Gpio;\n// 또는 exec('gpio write ...')\n\ntry {\n    // 장치 유형별 제어\n    switch (deviceType) {\n        case 'window':\n        case 'valve':\n            if (command === 'open') {\n                // GPIO pins.open HIGH, pins.close LOW\n                node.warn(`🔓 ${deviceId} 열기: GPIO ${pins.open} HIGH`);\n            } else if (command === 'close') {\n                // GPIO pins.close HIGH, pins.open LOW\n                node.warn(`🔒 ${deviceId} 닫기: GPIO ${pins.close} HIGH`);\n            } else if (command === 'stop') {\n                // 모두 LOW\n                node.warn(`⛔ ${deviceId} 정지: GPIO ALL LOW`);\n            }\n            break;\n            \n        case 'fan':\n        case 'heater':\n            if (command === 'on') {\n                node.warn(`⚡ ${deviceId} ON: GPIO ${pins.on} HIGH`);\n            } else if (command === 'off') {\n                node.warn(`🔌 ${deviceId} OFF: GPIO ${pins.off} LOW`);\n            }\n            break;\n    }\n    \n    msg.control.executed = true;\n    msg.control.simulated = false;\n    node.status({ fill: 'green', shape: 'dot', text: `실행: ${deviceId} ${command}` });\n    \n} catch (error) {\n    msg.control.executed = false;\n    msg.control.error = error.message;\n    node.status({ fill: 'red', shape: 'dot', text: `실패: ${error.message}` });\n    node.error(`❌ 제어 실행 실패: ${error.message}`);\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 120,
    "wires": [
      [
        "debug_executed"
      ]
    ]
  },
  {
    "id": "send_ack",
    "type": "function",
    "z": "aws_control_receiver_tab",
    "name": "응답 메시지 생성",
    "func": "// 제어 응답을 IoT Core로 전송\n// 프론트엔드에서 이 토픽을 구독하면 실시간 상태 확인 가능\n\nconst { houseId, deviceId, command, requestId, operator } = msg.control;\n\nmsg.topic = `smartfarm/${houseId}/${deviceId}/response`;\nmsg.payload = {\n    request_id: requestId,\n    house_id: houseId,\n    device_id: deviceId,\n    command: command,\n    status: 'received',\n    operator: operator,\n    executed_at: new Date().toISOString(),\n    device_client: 'MyFarmPi_01'\n};\n\nnode.status({\n    fill: 'blue',\n    shape: 'dot',\n    text: `응답 → ${msg.topic}`\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 240,
    "wires": [
      [
        "mqtt_control_response"
      ]
    ]
  },
  {
    "id": "mqtt_control_response",
    "type": "mqtt out",
    "z": "aws_control_receiver_tab",
    "name": "응답 발행",
    "topic": "",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "aws_iot_broker",
    "x": 900,
    "y": 240,
    "wires": []
  },
  {
    "id": "debug_received",
    "type": "debug",
    "z": "aws_control_receiver_tab",
    "name": "📥 수신 로그",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "control",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug_executed",
    "type": "debug",
    "z": "aws_control_receiver_tab",
    "name": "🔧 실행 결과",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "control",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 940,
    "y": 120,
    "wires": []
  },
  {
    "id": "link_in_local_control",
    "type": "link in",
    "z": "aws_control_receiver_tab",
    "name": "← 로컬 제어",
    "links": [
      "link_gpio_control"
    ],
    "x": 440,
    "y": 400,
    "wires": [
      [
        "execute_control"
      ]
    ]
  },
  {
    "id": "comment_local_entry",
    "type": "comment",
    "z": "aws_control_receiver_tab",
    "name": "━━━ 로컬 REST API → GPIO 연결 (인터넷 없이 제어) ━━━",
    "x": 340,
    "y": 360,
    "wires": []
  },
  {
    "id": "comment_broker_setup",
    "type": "comment",
    "z": "aws_control_receiver_tab",
    "name": "⚙️ MQTT 브로커 설정 필요: aws_iot_broker 노드의 서버/인증서 확인",
    "info": "mqtt in/out 노드가 사용하는 MQTT 브로커 설정:\n\n1. Server: [IoT엔드포인트]-ats.iot.ap-northeast-2.amazonaws.com\n2. Port: 8883\n3. TLS: 체크\n4. 인증서 파일:\n   - CA: AmazonRootCA1.pem\n   - Cert: [device]-certificate.pem.crt\n   - Key: [device]-private.pem.key\n5. Client ID: MyFarmPi_01\n\n이미 하트비트용으로 MQTT 연결이 있다면 같은 브로커 설정을 공유하세요.",
    "x": 340,
    "y": 320,
    "wires": []
  },
  {
    "id": "aws_iot_broker",
    "type": "mqtt-broker",
    "name": "AWS IoT Core (서울)",
    "broker": "",
    "port": "8883",
    "tls": "",
    "clientid": "MyFarmPi_01",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]