node-red/flows/eletechsup-relay-api.json
[
    {
        "id": "comment_eletechsup",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ Eletechsup N4D8B08 릴레이 API (FC03/FC06) ━━━",
        "info": "Eletechsup 릴레이 모듈 (FC03/FC06/FC16 지원)\nWaveshare와 달리 레지스터 방식 사용\n\n- 상태 읽기: GET /api/relay/reg-status?unitId=2&register=0&quantity=1\n- 제어: POST /api/relay/reg-write { unitId, register, value }",
        "x": 300,
        "y": 900,
        "wires": []
    },
    {
        "id": "http_reg_status",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/relay/reg-status",
        "url": "/api/relay/reg-status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 940,
        "wires": [["fn_fc03_request"]]
    },
    {
        "id": "fn_fc03_request",
        "type": "function",
        "z": "rest_api_flow",
        "name": "FC03 요청 생성",
        "func": "const unitId = parseInt(msg.req.query.unitId) || 2;\nconst register = parseInt(msg.req.query.register) || 0;\nconst quantity = parseInt(msg.req.query.quantity) || 1;\n\nmsg.payload = {\n    fc: 3,\n    unitid: unitId,\n    address: register,\n    quantity: quantity\n};\nmsg._unitId = unitId;\nmsg._register = register;\nmsg._quantity = quantity;\n\nnode.status({ fill: 'blue', shape: 'dot', text: `FC03 uid:${unitId} reg:${register} qty:${quantity}` });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 940,
        "wires": [["modbus_fc03_read"]]
    },
    {
        "id": "modbus_fc03_read",
        "type": "modbus-flex-getter",
        "z": "rest_api_flow",
        "name": "FC03 Read Registers",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "50e39fdca05a8399",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 610,
        "y": 940,
        "wires": [["fn_fc03_response"], []]
    },
    {
        "id": "fn_fc03_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "FC03 응답 포맷",
        "func": "const unitId = msg._unitId || 2;\nconst register = msg._register || 0;\nconst raw = msg.payload;\n\n// 레지스터 값을 릴레이 상태로 변환\n// 보통 첫 번째 레지스터가 비트맵으로 8채널 상태를 담음\nconst regValue = raw[0] || 0;\nconst coils = {};\nfor (let i = 0; i < 8; i++) {\n    coils[i] = !!(regValue & (1 << i));\n}\n\nmsg.payload = {\n    success: true,\n    data: {\n        unitId: unitId,\n        register: register,\n        raw: Array.isArray(raw) ? raw : [raw],\n        regValue: regValue,\n        coils: coils,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: `OK val:${regValue} @ ${new Date().toLocaleTimeString()}` });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 940,
        "wires": [["http_reg_status_res"]]
    },
    {
        "id": "http_reg_status_res",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "응답",
        "statusCode": "200",
        "headers": { "Content-Type": "application/json" },
        "x": 1020,
        "y": 940,
        "wires": []
    },
    {
        "id": "http_reg_write",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "POST /api/relay/reg-write",
        "url": "/api/relay/reg-write",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1000,
        "wires": [["fn_fc06_request"]]
    },
    {
        "id": "fn_fc06_request",
        "type": "function",
        "z": "rest_api_flow",
        "name": "FC06 요청 생성",
        "func": "const body = msg.payload;\nconst unitId = parseInt(body.unitId) || 2;\nconst register = parseInt(body.register) || 0;\nconst value = parseInt(body.value) || 0;\n\nmsg.payload = {\n    fc: 6,\n    unitid: unitId,\n    address: register,\n    quantity: 1,\n    value: value\n};\nmsg._unitId = unitId;\nmsg._register = register;\nmsg._value = value;\n\nnode.status({ fill: 'yellow', shape: 'dot', text: `FC06 uid:${unitId} reg:${register} val:${value}` });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1000,
        "wires": [["modbus_fc06_write"]]
    },
    {
        "id": "modbus_fc06_write",
        "type": "modbus-flex-write",
        "z": "rest_api_flow",
        "name": "FC06 Write Register",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "50e39fdca05a8399",
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 620,
        "y": 1000,
        "wires": [["fn_fc06_response"], []]
    },
    {
        "id": "fn_fc06_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "FC06 응답 포맷",
        "func": "const unitId = msg._unitId || 2;\nconst register = msg._register || 0;\nconst value = msg._value || 0;\n\nmsg.payload = {\n    success: true,\n    data: {\n        unitId: unitId,\n        register: register,\n        value: value,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: `OK reg:${register} val:${value}` });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1000,
        "wires": [["http_reg_write_res"]]
    },
    {
        "id": "http_reg_write_res",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "응답",
        "statusCode": "200",
        "headers": { "Content-Type": "application/json" },
        "x": 1020,
        "y": 1000,
        "wires": []
    }
]
