node-red/flows/smartfarm-automation-evaluate.json
[
    {
        "id": "automation_eval_flow",
        "type": "tab",
        "label": "자동화 평가",
        "disabled": false,
        "info": "센서 수집 후 SQLite의 자동화 규칙을 로컬에서 평가\n- 활성 규칙 조회 → 조건 평가 → 제어 명령 실행\n- 서버 다운/팜로컬 모드에서도 자동화 정상 동작\n- timeMode: specific/interval 지원\n- duration: 동작시간 후 역방향 명령 자동 실행"
    },
    {
        "id": "link_in_evaluate",
        "type": "link in",
        "z": "automation_eval_flow",
        "name": "← 센서 수집 완료",
        "links": ["link_out_to_evaluate"],
        "x": 115,
        "y": 100,
        "wires": [["fn_load_rules"]]
    },
    {
        "id": "inject_eval_manual",
        "type": "inject",
        "z": "automation_eval_flow",
        "name": "수동 평가 (테스트)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [["fn_manual_test_data"]]
    },
    {
        "id": "fn_manual_test_data",
        "type": "function",
        "z": "automation_eval_flow",
        "name": "테스트 센서 데이터",
        "func": "msg.sensorData = {\n    farmId: env.get('FARM_ID') || 'farm_001',\n    houseId: env.get('HOUSE_ID') || 'house_001',\n    data: { temp_001: 32.5, humidity_001: 65.0 }\n};\nreturn msg;",
        "outputs": 1,
        "x": 410,
        "y": 160,
        "wires": [["fn_load_rules"]]
    },
    {
        "id": "comment_eval",
        "type": "comment",
        "z": "automation_eval_flow",
        "name": "━━━ 자동화 규칙 로컬 평가 (timeMode + duration 지원) ━━━",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "fn_load_rules",
        "type": "function",
        "z": "automation_eval_flow",
        "name": "① 활성 규칙 조회 준비",
        "func": "const sensorData = msg.sensorData;\nif (!sensorData || !sensorData.farmId || !sensorData.houseId) {\n    node.warn('⚠️ sensorData 없음, 평가 건너뜀');\n    return null;\n}\n\nmsg.topic = 'SELECT * FROM automation_rules WHERE farm_id = $1 AND house_id = $2 AND enabled = 1 ORDER BY priority ASC';\nmsg.payload = [sensorData.farmId, sensorData.houseId];\nnode.status({ fill: 'blue', shape: 'ring', text: '규칙 조회 중...' });\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 100,
        "wires": [["sqlite_load_rules"]]
    },
    {
        "id": "sqlite_load_rules",
        "type": "sqlite",
        "z": "automation_eval_flow",
        "name": "규칙 조회",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 650,
        "y": 100,
        "wires": [["fn_evaluate_rules"]]
    },
    {
        "id": "fn_evaluate_rules",
        "type": "function",
        "z": "automation_eval_flow",
        "name": "② 규칙 평가 (핵심 엔진 v2)",
        "func": "var rules = msg.payload || [];\nvar sensorData = msg.sensorData;\n\nif (rules.length === 0) {\n    node.status({ fill: 'grey', shape: 'dot', text: '활성 규칙 없음' });\n    return null;\n}\n\nvar now = new Date();\nvar actionsToExecute = [];\nvar updateMessages = [];\n\n// ── 시간 조건 평가 (timeMode: specific, interval, legacy) ──\nfunction evaluateTimeCondition(cond) {\n    var currentDay = now.getDay();\n    if (cond.days && cond.days.length > 0 && cond.days.indexOf(currentDay) === -1) {\n        return false;\n    }\n    var nowMinutes = now.getHours() * 60 + now.getMinutes();\n\n    // legacy: timeMode 없고 time 필드만 있으면 단일 시간\n    if (!cond.timeMode && cond.time) {\n        var parts = cond.time.split(':');\n        var target = parseInt(parts[0]) * 60 + parseInt(parts[1]);\n        return Math.abs(nowMinutes - target) <= 2;\n    }\n\n    // 지정 시간 모드: times 배열 중 하나라도 매칭\n    if (cond.timeMode === 'specific') {\n        var times = cond.times || [];\n        for (var i = 0; i < times.length; i++) {\n            var p = times[i].split(':');\n            var t = parseInt(p[0]) * 60 + parseInt(p[1]);\n            if (Math.abs(nowMinutes - t) <= 2) return true;\n        }\n        return false;\n    }\n\n    // 반복 모드: startTime~endTime 범위에서 interval 간격\n    if (cond.timeMode === 'interval') {\n        var sp = (cond.startTime || '00:00').split(':');\n        var ep = (cond.endTime || '23:59').split(':');\n        var start = parseInt(sp[0]) * 60 + parseInt(sp[1]);\n        var end = parseInt(ep[0]) * 60 + parseInt(ep[1]);\n        var interval = cond.intervalMinutes || 30;\n        if (nowMinutes < start - 2 || nowMinutes > end + 2) return false;\n        for (var t = start; t <= end; t += interval) {\n            if (Math.abs(nowMinutes - t) <= 2) return true;\n        }\n        return false;\n    }\n\n    return false;\n}\n\n// 역방향 명령 매핑\nvar REVERSE_CMD = { 'open': 'close', 'close': 'open', 'on': 'off', 'off': 'on' };\n\nfor (var ri = 0; ri < rules.length; ri++) {\n    var rule = rules[ri];\n    var conditions, actions;\n    try { conditions = JSON.parse(rule.conditions); } catch(e) { continue; }\n    try { actions = JSON.parse(rule.actions); } catch(e) { continue; }\n\n    // 쿨다운 체크\n    if (rule.last_triggered_at) {\n        var elapsed = (now.getTime() - new Date(rule.last_triggered_at).getTime()) / 1000;\n        if (elapsed < rule.cooldown_seconds) continue;\n    }\n\n    // ── 조건 평가 (그룹별 분리 + groupLogic) ──\n    var sensorConds = conditions.filter(function(c) { return c.type === 'sensor'; });\n    var timeConds = conditions.filter(function(c) { return c.type === 'time'; });\n\n    var sensorResult = true;\n    var timeResult = true;\n\n    if (sensorConds.length > 0) {\n        var sensorResults = sensorConds.map(function(cond) {\n            var val = sensorData.data[cond.sensorId];\n            if (val === undefined || val === null) return false;\n            switch (cond.operator) {\n                case '>': return val > cond.value;\n                case '>=': return val >= cond.value;\n                case '<': return val < cond.value;\n                case '<=': return val <= cond.value;\n                case '==': return Math.abs(val - cond.value) < 0.1;\n                default: return false;\n            }\n        });\n        sensorResult = (rule.condition_logic === 'OR')\n            ? sensorResults.some(function(r) { return r; })\n            : sensorResults.every(function(r) { return r; });\n    }\n\n    if (timeConds.length > 0) {\n        var timeResults = timeConds.map(function(c) { return evaluateTimeCondition(c); });\n        timeResult = timeResults.some(function(r) { return r; });\n    }\n\n    // groupLogic: 센서 그룹 ↔ 시간 그룹 간 AND/OR\n    var triggered = false;\n    var groupLogic = rule.group_logic || 'AND';\n\n    if (sensorConds.length > 0 && timeConds.length > 0) {\n        triggered = (groupLogic === 'OR') ? (sensorResult || timeResult) : (sensorResult && timeResult);\n    } else if (sensorConds.length > 0) {\n        triggered = sensorResult;\n    } else if (timeConds.length > 0) {\n        triggered = timeResult;\n    }\n\n    if (triggered) {\n        // 이유 텍스트\n        var reasonParts = conditions.map(function(cond) {\n            if (cond.type === 'sensor') {\n                var v = sensorData.data[cond.sensorId];\n                return (cond.sensorName || cond.sensorId) + ' ' + v + cond.operator + cond.value;\n            }\n            if (cond.type === 'time') {\n                if (cond.timeMode === 'interval') return '시간 ' + cond.startTime + '~' + cond.endTime + ' ' + cond.intervalMinutes + '분간격';\n                if (cond.timeMode === 'specific') return '시간 ' + (cond.times || []).join(',');\n                return '시간 ' + (cond.time || '');\n            }\n            return '';\n        }).filter(function(s) { return s; });\n        var reason = rule.name + ': ' + reasonParts.join(groupLogic === 'AND' ? ' AND ' : ' OR ');\n\n        for (var ai = 0; ai < actions.length; ai++) {\n            var action = actions[ai];\n            actionsToExecute.push({\n                ruleId: rule.id,\n                ruleName: rule.name,\n                houseId: rule.house_id,\n                deviceId: action.deviceId,\n                deviceType: action.deviceType,\n                deviceName: action.deviceName || action.deviceId,\n                command: action.command,\n                duration: action.duration || 0,\n                reason: reason\n            });\n        }\n\n        var newCount = (rule.trigger_count || 0) + 1;\n        updateMessages.push({\n            topic: 'UPDATE automation_rules SET last_triggered_at = $1, trigger_count = $2, synced = 0 WHERE id = $3',\n            payload: [now.toISOString(), newCount, rule.id]\n        });\n\n        node.warn('🤖 자동화 실행: ' + rule.name + ' → ' + actions.map(function(a) {\n            var ds = a.duration ? ' (' + Math.floor(a.duration/60) + '분' + (a.duration%60) + '초)' : '';\n            return a.deviceId + ' ' + a.command + ds;\n        }).join(', '));\n    }\n}\n\nif (actionsToExecute.length === 0) {\n    node.status({ fill: 'green', shape: 'dot', text: rules.length + '개 규칙 평가, 실행 없음' });\n    if (updateMessages.length === 0) return null;\n}\n\nnode.status({ fill: 'green', shape: 'dot', text: '실행: ' + actionsToExecute.length + '개 동작' });\n\n// ── 제어 메시지 생성 ──\nvar controlMessages = actionsToExecute.map(function(action) {\n    return {\n        control: {\n            houseId: action.houseId,\n            deviceId: action.deviceId,\n            deviceType: action.deviceType,\n            command: action.command,\n            operator: 'automation',\n            requestId: 'auto_' + Date.now() + '_' + Math.random().toString(36).substr(2, 4),\n            timestamp: now.toISOString()\n        },\n        _action: action\n    };\n});\n\n// ── Duration 기반 역방향 명령 스케줄링 ──\nactionsToExecute.forEach(function(action) {\n    if (action.duration > 0) {\n        var reverseCmd = REVERSE_CMD[action.command];\n        if (!reverseCmd) return;\n\n        var timerKey = 'dur_' + action.deviceId;\n        var existingTimer = context.get(timerKey);\n        if (existingTimer) clearTimeout(existingTimer);\n\n        var timer = setTimeout(function() {\n            var reverseMsg = {\n                control: {\n                    houseId: action.houseId,\n                    deviceId: action.deviceId,\n                    deviceType: action.deviceType,\n                    command: reverseCmd,\n                    operator: 'automation_duration',\n                    requestId: 'auto_dur_' + Date.now(),\n                    timestamp: new Date().toISOString()\n                }\n            };\n            var logMsg = {\n                topic: 'INSERT INTO control_logs (timestamp, device_id, command, source, synced) VALUES ($1, $2, $3, $4, 0)',\n                payload: [new Date().toISOString(), action.deviceId, reverseCmd, 'automation_duration']\n            };\n            node.send([[reverseMsg], null, [logMsg]]);\n            node.warn('⏱️ Duration 종료: ' + action.deviceId + ' → ' + reverseCmd);\n            context.set(timerKey, null);\n        }, action.duration * 1000);\n\n        context.set(timerKey, timer);\n        node.warn('⏱️ Duration 설정: ' + action.deviceId + ' ' + action.duration + '초 후 → ' + reverseCmd);\n    }\n});\n\nvar logMessages = actionsToExecute.map(function(action) {\n    return {\n        topic: 'INSERT INTO control_logs (timestamp, device_id, command, source, synced) VALUES ($1, $2, $3, $4, 0)',\n        payload: [now.toISOString(), action.deviceId, action.command, 'automation']\n    };\n});\n\nreturn [controlMessages.length > 0 ? [controlMessages] : null, updateMessages.length > 0 ? [updateMessages] : null, logMessages.length > 0 ? [logMessages] : null];",
        "outputs": 3,
        "outputLabels": ["GPIO 제어", "규칙 DB 업데이트", "제어 로그"],
        "x": 920,
        "y": 100,
        "wires": [["link_out_gpio_eval"], ["sqlite_update_rule"], ["sqlite_eval_log"]]
    },
    {
        "id": "link_out_gpio_eval",
        "type": "link out",
        "z": "automation_eval_flow",
        "name": "GPIO 제어 →",
        "mode": "link",
        "links": ["link_in_local_control"],
        "x": 1175,
        "y": 60,
        "wires": []
    },
    {
        "id": "sqlite_update_rule",
        "type": "sqlite",
        "z": "automation_eval_flow",
        "name": "규칙 상태 업데이트",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1200,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "sqlite_eval_log",
        "type": "sqlite",
        "z": "automation_eval_flow",
        "name": "제어 로그 저장",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1200,
        "y": 140,
        "wires": [[]]
    }
]
