node-red/flows/smartfarm-rest-api.json
[
    {
        "id": "rest_api_flow",
        "type": "tab",
        "label": "REST API (오프라인)",
        "disabled": false,
        "info": "React 대시보드용 REST API 엔드포인트\nSQLite 기반으로 서버 다운 시 대체 API 제공\n\n엔드포인트:\n- GET /api/sensors/latest/:farmId/:houseId\n- GET /api/sensors/:farmId/:houseId/history\n- GET /api/sensors/:farmId/:houseId/count\n- GET /api/alerts/:farmId\n- GET /api/health\n- GET /api/config/:houseId\n- POST /api/control/local"
    },
    {
        "id": "comment_sensors",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 센서 데이터 API ━━━",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "http_latest",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/sensors/latest/:farmId/:houseId",
        "url": "/api/sensors/latest/:farmId/:houseId",
        "method": "get",
        "upload": false,
        "x": 230,
        "y": 100,
        "wires": [["latest_query"]]
    },
    {
        "id": "latest_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "최신 데이터 쿼리",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\n\nmsg.topic = `SELECT sensor_id, value, timestamp\nFROM sensor_data\nWHERE farm_id = $farmId AND house_id = $houseId\nAND timestamp = (\n  SELECT MAX(timestamp) FROM sensor_data\n  WHERE farm_id = $farmId AND house_id = $houseId\n)\nORDER BY sensor_id`;\nmsg.params = { $farmId: farmId, $houseId: houseId };\n\nmsg._farmId = farmId;\nmsg._houseId = houseId;\nreturn msg;",
        "outputs": 1,
        "x": 530,
        "y": 100,
        "wires": [["sqlite_query_latest"]]
    },
    {
        "id": "sqlite_query_latest",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 730,
        "y": 100,
        "wires": [["latest_response"]]
    },
    {
        "id": "latest_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "응답 포맷",
        "func": "const rows = msg.payload || [];\nconst data = {};\nlet timestamp = null;\n\nfor (const row of rows) {\n    data[row.sensor_id] = row.value;\n    timestamp = row.timestamp;\n}\n\nmsg.payload = {\n    success: true,\n    data: {\n        farmId: msg._farmId,\n        houseId: msg._houseId,\n        data: data,\n        timestamp: timestamp,\n        source: 'sqlite'\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 930,
        "y": 100,
        "wires": [["http_res_sensors"]]
    },
    {
        "id": "http_res_sensors",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "응답",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 100,
        "wires": []
    },
    {
        "id": "http_history",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/sensors/:farmId/:houseId/history",
        "url": "/api/sensors/:farmId/:houseId/history",
        "method": "get",
        "upload": false,
        "x": 240,
        "y": 180,
        "wires": [["history_query"]]
    },
    {
        "id": "history_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "이력 데이터 쿼리",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\nconst startDate = msg.req.query.startDate || new Date(Date.now() - 24*60*60*1000).toISOString();\nconst endDate = msg.req.query.endDate || new Date().toISOString();\nconst limit = Math.min(parseInt(msg.req.query.limit) || 1000, 10000);\n\nmsg.topic = `SELECT sensor_id, value, timestamp\nFROM sensor_data\nWHERE farm_id = $farmId AND house_id = $houseId\nAND timestamp BETWEEN $startDate AND $endDate\nORDER BY timestamp ASC\nLIMIT $limit`;\nmsg.params = { $farmId: farmId, $houseId: houseId, $startDate: startDate, $endDate: endDate, $limit: limit };\n\nmsg._farmId = farmId;\nmsg._houseId = houseId;\nreturn msg;",
        "outputs": 1,
        "x": 530,
        "y": 180,
        "wires": [["sqlite_query_history"]]
    },
    {
        "id": "sqlite_query_history",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 730,
        "y": 180,
        "wires": [["history_response"]]
    },
    {
        "id": "history_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "응답 포맷",
        "func": "const rows = msg.payload || [];\n\n// 타임스탬프별로 그룹핑 (서버 응답 형식 맞춤)\nconst grouped = {};\nfor (const row of rows) {\n    if (!grouped[row.timestamp]) {\n        grouped[row.timestamp] = {\n            timestamp: row.timestamp,\n            farmId: msg._farmId,\n            houseId: msg._houseId,\n            data: {}\n        };\n    }\n    grouped[row.timestamp].data[row.sensor_id] = row.value;\n}\n\nmsg.payload = {\n    success: true,\n    data: Object.values(grouped),\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 930,
        "y": 180,
        "wires": [["http_res_sensors"]]
    },
    {
        "id": "http_count",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/sensors/:farmId/:houseId/count",
        "url": "/api/sensors/:farmId/:houseId/count",
        "method": "get",
        "upload": false,
        "x": 230,
        "y": 260,
        "wires": [["count_query"]]
    },
    {
        "id": "count_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "오늘 수집 건수 쿼리",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nmsg.topic = `SELECT COUNT(DISTINCT timestamp) as count\nFROM sensor_data\nWHERE farm_id = $farmId AND house_id = $houseId\nAND timestamp >= $today`;\nmsg.params = { $farmId: farmId, $houseId: houseId, $today: today.toISOString() };\n\nreturn msg;",
        "outputs": 1,
        "x": 540,
        "y": 260,
        "wires": [["sqlite_query_count"]]
    },
    {
        "id": "sqlite_query_count",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 730,
        "y": 260,
        "wires": [["count_response"]]
    },
    {
        "id": "count_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "응답 포맷",
        "func": "const rows = msg.payload || [];\nconst count = rows[0] ? rows[0].count : 0;\n\nmsg.payload = {\n    success: true,\n    count: count,\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 930,
        "y": 260,
        "wires": [["http_res_sensors"]]
    },
    {
        "id": "comment_alerts",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 알림 / 제어 API ━━━",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "http_alerts",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/alerts/:farmId",
        "url": "/api/alerts/:farmId",
        "method": "get",
        "upload": false,
        "x": 180,
        "y": 400,
        "wires": [["alerts_query"]]
    },
    {
        "id": "alerts_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "알림 조회",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.query.houseId;\n\nif (houseId) {\n    msg.topic = `SELECT id, timestamp, device_id, command, source\nFROM control_logs\nWHERE source = 'automation' AND device_id LIKE $housePattern\nORDER BY timestamp DESC\nLIMIT 50`;\n    msg.params = { $housePattern: houseId + '%' };\n} else {\n    msg.topic = `SELECT id, timestamp, device_id, command, source\nFROM control_logs\nWHERE source = 'automation'\nORDER BY timestamp DESC\nLIMIT 50`;\n    msg.params = {};\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 400,
        "wires": [["sqlite_query_alerts"]]
    },
    {
        "id": "sqlite_query_alerts",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 650,
        "y": 400,
        "wires": [["alerts_response"]]
    },
    {
        "id": "alerts_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "응답 포맷",
        "func": "const rows = msg.payload || [];\n\nconst alerts = rows.map(row => ({\n    id: row.id,\n    timestamp: row.timestamp,\n    type: 'automation',\n    message: `${row.device_id} ${row.command} (${row.source})`,\n    deviceId: row.device_id,\n    command: row.command,\n    source: row.source\n}));\n\nmsg.payload = {\n    success: true,\n    data: alerts,\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 850,
        "y": 400,
        "wires": [["http_res_sensors"]]
    },
    {
        "id": "comment_control",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 로컬 제어 API ━━━",
        "x": 160,
        "y": 480,
        "wires": []
    },
    {
        "id": "http_control_local",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "POST /api/control/local",
        "url": "/api/control/local",
        "method": "post",
        "upload": false,
        "x": 180,
        "y": 540,
        "wires": [["control_handler"]]
    },
    {
        "id": "control_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "로컬 제어 실행",
        "func": "const { house_id, device_id, command, operator } = msg.payload;\n\n// 입력 검증\nif (!device_id || !command) {\n    msg.payload = { success: false, error: 'device_id, command 필수' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\n// 허용된 명령어만 통과\nconst ALLOWED_COMMANDS = ['open', 'close', 'stop', 'on', 'off'];\nif (!ALLOWED_COMMANDS.includes(command)) {\n    msg.payload = { success: false, error: '허용되지 않는 명령: ' + command };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\n// device_id 형식 검증 (영숫자+언더스코어만)\nif (!/^[a-zA-Z0-9_]+$/.test(device_id)) {\n    msg.payload = { success: false, error: '잘못된 device_id 형식' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\nconst houseId = house_id || 'house1';\nconst ts = new Date().toISOString();\nconst requestId = `local_${Date.now()}`;\n\n// GPIO 제어 메시지 생성\nconst controlMsg = {\n    control: {\n        houseId: houseId,\n        deviceId: device_id,\n        deviceType: device_id.replace(/[0-9]/g, ''),\n        command: command,\n        operator: operator || 'local_dashboard',\n        requestId: requestId,\n        timestamp: ts\n    }\n};\n\n// SQLite 로그 저장 (msg.topic 모드: $1,$2,.. 위치 파라미터 + msg.payload 배열)\nvar logMsg = {};\nlogMsg.topic = 'INSERT INTO control_logs (timestamp, device_id, command, source, synced) VALUES ($1, $2, $3, $4, 0)';\nlogMsg.payload = [ts, device_id, command, 'local'];\n\n// HTTP 응답\nmsg.payload = {\n    success: true,\n    data: {\n        request_id: requestId,\n        device_id: device_id,\n        command: command,\n        executed_at: ts,\n        mode: 'local'\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\nnode.warn(`🎮 로컬 제어: ${device_id} ${command} by ${operator || 'local'}`);\n\nreturn [msg, controlMsg, logMsg];",
        "outputs": 3,
        "outputLabels": ["HTTP 응답", "GPIO 제어", "SQLite 로그"],
        "x": 440,
        "y": 540,
        "wires": [["http_res_control"], ["link_gpio_control"], ["sqlite_control_log"]]
    },
    {
        "id": "http_res_control",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "응답",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "link_gpio_control",
        "type": "link out",
        "z": "rest_api_flow",
        "name": "GPIO 제어 →",
        "mode": "link",
        "links": ["link_in_local_control"],
        "x": 675,
        "y": 540,
        "wires": []
    },
    {
        "id": "sqlite_control_log",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "제어 로그 저장",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 690,
        "y": 560,
        "wires": [[]]
    },
    {
        "id": "comment_health",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 헬스 / 설정 API ━━━",
        "x": 160,
        "y": 640,
        "wires": []
    },
    {
        "id": "http_health_local",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/health",
        "url": "/api/health",
        "method": "get",
        "upload": false,
        "x": 160,
        "y": 700,
        "wires": [["health_handler"]]
    },
    {
        "id": "health_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "헬스 응답",
        "func": "const mode = global.get('operationMode') || 'offline';\nconst serverOnline = global.get('serverOnline') || false;\nconst manual = global.get('manualOverride') || false;\n\nmsg.payload = {\n    status: 'ok',\n    mode: mode,\n    serverOnline: serverOnline,\n    manualOverride: manual,\n    source: 'node-red',\n    timestamp: new Date().toISOString()\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 700,
        "wires": [["http_res_health"]]
    },
    {
        "id": "http_res_health",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "응답",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "http_config_local",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/config/:houseId",
        "url": "/api/config/:houseId",
        "method": "get",
        "upload": false,
        "x": 180,
        "y": 780,
        "wires": [["config_handler"]]
    },
    {
        "id": "config_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "설정 캐시 반환",
        "func": "// global context에서 캐시된 설정 반환\nconst config = global.get('houseConfig');\n\nif (config) {\n    msg.payload = {\n        success: true,\n        data: config,\n        source: 'cache'\n    };\n} else {\n    msg.payload = {\n        success: false,\n        error: '캐시된 설정 없음'\n    };\n    msg.statusCode = 404;\n}\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 780,
        "wires": [["http_res_health"]]
    },
    {
        "id": "comment_cors_api",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ CORS 지원 ━━━",
        "x": 140,
        "y": 860,
        "wires": []
    },
    {
        "id": "http_options_all",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "OPTIONS /api/*",
        "url": "/api/*",
        "method": "options",
        "upload": false,
        "x": 160,
        "y": 920,
        "wires": [["cors_all"]]
    },
    {
        "id": "cors_all",
        "type": "function",
        "z": "rest_api_flow",
        "name": "CORS 헤더",
        "func": "msg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, x-api-key, Authorization'\n};\nmsg.payload = '';\nmsg.statusCode = 204;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 920,
        "wires": [["http_res_cors_all"]]
    },
    {
        "id": "http_res_cors_all",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "CORS 응답",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 920,
        "wires": []
    }
]
