node-red/flows/smartfarm-automation-evaluate.json
[
    {
        "id": "automation_eval_flow",
        "type": "tab",
        "label": "자동화 평가",
        "disabled": false,
        "info": "센서 수집 후 SQLite의 자동화 규칙을 로컬에서 평가\n- 활성 규칙 조회 → 조건 평가 → 제어 명령 실행\n- 서버 다운/팜로컬 모드에서도 자동화 정상 동작"
    },
    {
        "id": "link_in_evaluate",
        "type": "link in",
        "z": "automation_eval_flow",
        "name": "← 센서 수집 완료",
        "links": ["link_out_to_evaluate"],
        "x": 115,
        "y": 100,
        "wires": [["fn_load_rules"]]
    },
    {
        "id": "inject_eval_manual",
        "type": "inject",
        "z": "automation_eval_flow",
        "name": "수동 평가 (테스트)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [["fn_manual_test_data"]]
    },
    {
        "id": "fn_manual_test_data",
        "type": "function",
        "z": "automation_eval_flow",
        "name": "테스트 센서 데이터",
        "func": "msg.sensorData = {\n    farmId: env.get('FARM_ID') || 'farm_001',\n    houseId: env.get('HOUSE_ID') || 'house_001',\n    data: { temp_001: 32.5, humidity_001: 65.0 }\n};\nreturn msg;",
        "outputs": 1,
        "x": 410,
        "y": 160,
        "wires": [["fn_load_rules"]]
    },
    {
        "id": "comment_eval",
        "type": "comment",
        "z": "automation_eval_flow",
        "name": "━━━ 자동화 규칙 로컬 평가 ━━━",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "fn_load_rules",
        "type": "function",
        "z": "automation_eval_flow",
        "name": "① 활성 규칙 조회 준비",
        "func": "const sensorData = msg.sensorData;\nif (!sensorData || !sensorData.farmId || !sensorData.houseId) {\n    node.warn('⚠️ sensorData 없음, 평가 건너뜀');\n    return null;\n}\n\nmsg.topic = 'SELECT * FROM automation_rules WHERE farm_id = $1 AND house_id = $2 AND enabled = 1 ORDER BY priority ASC';\nmsg.payload = [sensorData.farmId, sensorData.houseId];\nnode.status({ fill: 'blue', shape: 'ring', text: '규칙 조회 중...' });\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 100,
        "wires": [["sqlite_load_rules"]]
    },
    {
        "id": "sqlite_load_rules",
        "type": "sqlite",
        "z": "automation_eval_flow",
        "name": "규칙 조회",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 650,
        "y": 100,
        "wires": [["fn_evaluate_rules"]]
    },
    {
        "id": "fn_evaluate_rules",
        "type": "function",
        "z": "automation_eval_flow",
        "name": "② 규칙 평가 (핵심 엔진)",
        "func": "const rules = msg.payload || [];\nconst sensorData = msg.sensorData;\n\nif (rules.length === 0) {\n    node.status({ fill: 'grey', shape: 'dot', text: '활성 규칙 없음' });\n    return null;\n}\n\nconst now = new Date();\nconst actionsToExecute = [];\nconst updateMessages = [];\n\nfor (const rule of rules) {\n    // 조건/액션 JSON 파싱\n    var conditions, actions;\n    try { conditions = JSON.parse(rule.conditions); } catch(e) { continue; }\n    try { actions = JSON.parse(rule.actions); } catch(e) { continue; }\n\n    // 쿨다운 체크\n    if (rule.last_triggered_at) {\n        var elapsed = (now.getTime() - new Date(rule.last_triggered_at).getTime()) / 1000;\n        if (elapsed < rule.cooldown_seconds) {\n            continue;\n        }\n    }\n\n    // 조건 평가\n    var conditionResults = conditions.map(function(cond) {\n        if (cond.type === 'sensor') {\n            var sensorValue = sensorData.data[cond.sensorId];\n            if (sensorValue === undefined || sensorValue === null) return false;\n            switch (cond.operator) {\n                case '>': return sensorValue > cond.value;\n                case '>=': return sensorValue >= cond.value;\n                case '<': return sensorValue < cond.value;\n                case '<=': return sensorValue <= cond.value;\n                case '==': return Math.abs(sensorValue - cond.value) < 0.1;\n                default: return false;\n            }\n        }\n        if (cond.type === 'time') {\n            var currentDay = now.getDay();\n            if (cond.days && cond.days.length > 0 && cond.days.indexOf(currentDay) === -1) {\n                return false;\n            }\n            if (cond.time) {\n                var parts = cond.time.split(':');\n                var hour = parseInt(parts[0]);\n                var minute = parseInt(parts[1]);\n                var nowMinutes = now.getHours() * 60 + now.getMinutes();\n                var targetMinutes = hour * 60 + minute;\n                return Math.abs(nowMinutes - targetMinutes) <= 2;\n            }\n            return false;\n        }\n        return false;\n    });\n\n    // AND/OR 로직\n    var triggered = false;\n    if (rule.condition_logic === 'AND') {\n        triggered = conditionResults.length > 0 && conditionResults.every(function(r) { return r === true; });\n    } else {\n        triggered = conditionResults.some(function(r) { return r === true; });\n    }\n\n    if (triggered) {\n        // 이유 텍스트 생성\n        var reasonParts = conditions.map(function(cond) {\n            if (cond.type === 'sensor') {\n                var val = sensorData.data[cond.sensorId];\n                return (cond.sensorName || cond.sensorId) + ' ' + val + cond.operator + cond.value;\n            }\n            if (cond.type === 'time') return '시간 ' + cond.time;\n            return '';\n        }).filter(function(s) { return s; });\n        var reason = rule.name + ': ' + reasonParts.join(rule.condition_logic === 'AND' ? ' AND ' : ' OR ');\n\n        for (var i = 0; i < actions.length; i++) {\n            var action = actions[i];\n            actionsToExecute.push({\n                ruleId: rule.id,\n                ruleName: rule.name,\n                houseId: rule.house_id,\n                deviceId: action.deviceId,\n                deviceType: action.deviceType,\n                deviceName: action.deviceName || action.deviceId,\n                command: action.command,\n                reason: reason\n            });\n        }\n\n        // last_triggered_at, trigger_count 업데이트 SQL\n        var newCount = (rule.trigger_count || 0) + 1;\n        updateMessages.push({\n            topic: 'UPDATE automation_rules SET last_triggered_at = $1, trigger_count = $2, synced = 0 WHERE id = $3',\n            payload: [now.toISOString(), newCount, rule.id]\n        });\n\n        node.warn('🤖 자동화 실행: ' + rule.name + ' → ' + actions.map(function(a) { return a.deviceId + ' ' + a.command; }).join(', '));\n    }\n}\n\nif (actionsToExecute.length === 0) {\n    node.status({ fill: 'green', shape: 'dot', text: rules.length + '개 규칙 평가, 실행 없음' });\n    // 업데이트할 것도 없으면 종료\n    if (updateMessages.length === 0) return null;\n}\n\nnode.status({ fill: 'green', shape: 'dot', text: '실행: ' + actionsToExecute.length + '개 동작' });\n\n// 출력1: 제어 명령들 (GPIO로), 출력2: DB 업데이트들\nvar controlMessages = actionsToExecute.map(function(action) {\n    return {\n        control: {\n            houseId: action.houseId,\n            deviceId: action.deviceId,\n            deviceType: action.deviceType,\n            command: action.command,\n            operator: 'automation',\n            requestId: 'auto_' + Date.now(),\n            timestamp: now.toISOString()\n        },\n        _action: action\n    };\n});\n\n// 제어 로그 SQLite 저장 메시지\nvar logMessages = actionsToExecute.map(function(action) {\n    return {\n        topic: 'INSERT INTO control_logs (timestamp, device_id, command, source, synced) VALUES ($1, $2, $3, $4, 0)',\n        payload: [now.toISOString(), action.deviceId, action.command, 'automation']\n    };\n});\n\n// 모든 메시지 합치기: [제어 배열, DB업데이트 배열, 로그 배열]\nreturn [controlMessages.length > 0 ? [controlMessages] : null, updateMessages.length > 0 ? [updateMessages] : null, logMessages.length > 0 ? [logMessages] : null];",
        "outputs": 3,
        "outputLabels": ["GPIO 제어", "규칙 DB 업데이트", "제어 로그"],
        "x": 920,
        "y": 100,
        "wires": [["link_out_gpio_eval"], ["sqlite_update_rule"], ["sqlite_eval_log"]]
    },
    {
        "id": "link_out_gpio_eval",
        "type": "link out",
        "z": "automation_eval_flow",
        "name": "GPIO 제어 →",
        "mode": "link",
        "links": ["link_in_local_control"],
        "x": 1175,
        "y": 60,
        "wires": []
    },
    {
        "id": "sqlite_update_rule",
        "type": "sqlite",
        "z": "automation_eval_flow",
        "name": "규칙 상태 업데이트",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1200,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "sqlite_eval_log",
        "type": "sqlite",
        "z": "automation_eval_flow",
        "name": "제어 로그 저장",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1200,
        "y": 140,
        "wires": [[]]
    }
]
