node-red/flows/smartfarm-rest-api.json
[
    {
        "id": "rest_api_flow",
        "type": "tab",
        "label": "REST API (오프라인)",
        "disabled": false,
        "info": "React 대시보드용 REST API 엔드포인트\nSQLite 기반으로 서버 다운 시 대체 API 제공\n\n엔드포인트:\n- GET /api/sensors/latest/:farmId/:houseId\n- GET /api/sensors/:farmId/:houseId/history\n- GET /api/sensors/:farmId/:houseId/count\n- GET /api/alerts/:farmId\n- GET /api/health\n- POST /api/control/local\n- GET/POST /api/automation/:farmId\n- PUT/DELETE /api/automation/:farmId/:ruleId\n- PATCH /api/automation/:farmId/:ruleId/toggle\n\n※ Config CRUD API는 Config CRUD 탭으로 이관됨",
        "env": [
            { "name": "SENSOR_API_KEY", "value": "smartfarm-sensor-key", "type": "str" },
            { "name": "SERVER_URL", "value": "http://192.168.137.1:3000", "type": "str" },
            { "name": "FARM_ID", "value": "farm_0001", "type": "str" },
            { "name": "HOUSE_ID", "value": "house_001", "type": "str" }
        ]
    },
    {
        "id": "comment_sensors",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 센서 데이터 API ━━━",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "http_latest",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/sensors/latest/:farmId/:houseId",
        "url": "/api/sensors/latest/:farmId/:houseId",
        "method": "get",
        "upload": false,
        "x": 230,
        "y": 100,
        "wires": [["latest_query"]]
    },
    {
        "id": "latest_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "최신 데이터 쿼리",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\n\nmsg.topic = 'SELECT sensor_id, value, timestamp FROM sensor_data WHERE farm_id = $1 AND house_id = $2 AND timestamp = (SELECT MAX(timestamp) FROM sensor_data WHERE farm_id = $3 AND house_id = $4) ORDER BY sensor_id';\nmsg.payload = [farmId, houseId, farmId, houseId];\n\nmsg._farmId = farmId;\nmsg._houseId = houseId;\nreturn msg;",
        "outputs": 1,
        "x": 530,
        "y": 100,
        "wires": [["sqlite_query_latest"]]
    },
    {
        "id": "sqlite_query_latest",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 730,
        "y": 100,
        "wires": [["latest_response"]]
    },
    {
        "id": "latest_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "응답 포맷",
        "func": "const rows = msg.payload || [];\nconst data = {};\nlet timestamp = null;\n\nfor (const row of rows) {\n    data[row.sensor_id] = row.value;\n    timestamp = row.timestamp;\n}\n\nmsg.payload = {\n    success: true,\n    data: {\n        farmId: msg._farmId,\n        houseId: msg._houseId,\n        data: data,\n        timestamp: timestamp,\n        source: 'sqlite'\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 930,
        "y": 100,
        "wires": [["http_res_sensors"]]
    },
    {
        "id": "http_res_sensors",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "응답",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 100,
        "wires": []
    },
    {
        "id": "http_history",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/sensors/:farmId/:houseId/history",
        "url": "/api/sensors/:farmId/:houseId/history",
        "method": "get",
        "upload": false,
        "x": 240,
        "y": 180,
        "wires": [["history_query"]]
    },
    {
        "id": "history_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "이력 데이터 쿼리",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\nconst startDate = msg.req.query.startDate || new Date(Date.now() - 24*60*60*1000).toISOString();\nconst endDate = msg.req.query.endDate || new Date().toISOString();\nconst limit = Math.min(parseInt(msg.req.query.limit) || 1000, 10000);\n\nmsg.topic = 'SELECT sensor_id, value, timestamp FROM sensor_data WHERE farm_id = $1 AND house_id = $2 AND timestamp BETWEEN $3 AND $4 ORDER BY timestamp ASC LIMIT $5';\nmsg.payload = [farmId, houseId, startDate, endDate, limit];\n\nmsg._farmId = farmId;\nmsg._houseId = houseId;\nreturn msg;",
        "outputs": 1,
        "x": 530,
        "y": 180,
        "wires": [["sqlite_query_history"]]
    },
    {
        "id": "sqlite_query_history",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 730,
        "y": 180,
        "wires": [["history_response"]]
    },
    {
        "id": "history_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "응답 포맷",
        "func": "const rows = msg.payload || [];\n\n// 타임스탬프별로 그룹핑 (서버 응답 형식 맞춤)\nconst grouped = {};\nfor (const row of rows) {\n    if (!grouped[row.timestamp]) {\n        grouped[row.timestamp] = {\n            timestamp: row.timestamp,\n            farmId: msg._farmId,\n            houseId: msg._houseId,\n            data: {}\n        };\n    }\n    grouped[row.timestamp].data[row.sensor_id] = row.value;\n}\n\nmsg.payload = {\n    success: true,\n    data: Object.values(grouped),\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 930,
        "y": 180,
        "wires": [["http_res_sensors"]]
    },
    {
        "id": "http_count",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/sensors/:farmId/:houseId/count",
        "url": "/api/sensors/:farmId/:houseId/count",
        "method": "get",
        "upload": false,
        "x": 230,
        "y": 260,
        "wires": [["count_query"]]
    },
    {
        "id": "count_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "오늘 수집 건수 쿼리",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.params.houseId;\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nmsg.topic = 'SELECT COUNT(DISTINCT timestamp) as count FROM sensor_data WHERE farm_id = $1 AND house_id = $2 AND timestamp >= $3';\nmsg.payload = [farmId, houseId, today.toISOString()];\n\nreturn msg;",
        "outputs": 1,
        "x": 540,
        "y": 260,
        "wires": [["sqlite_query_count"]]
    },
    {
        "id": "sqlite_query_count",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 730,
        "y": 260,
        "wires": [["count_response"]]
    },
    {
        "id": "count_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "응답 포맷",
        "func": "const rows = msg.payload || [];\nconst count = rows[0] ? rows[0].count : 0;\n\nmsg.payload = {\n    success: true,\n    count: count,\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 930,
        "y": 260,
        "wires": [["http_res_sensors"]]
    },
    {
        "id": "comment_alerts",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 알림 / 제어 API ━━━",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "http_alerts",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/alerts/:farmId",
        "url": "/api/alerts/:farmId",
        "method": "get",
        "upload": false,
        "x": 180,
        "y": 400,
        "wires": [["alerts_query"]]
    },
    {
        "id": "alerts_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "알림 조회",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.query.houseId;\n\nif (houseId) {\n    msg.topic = \"SELECT id, timestamp, device_id, command, source FROM control_logs WHERE source = 'automation' AND device_id LIKE $1 ORDER BY timestamp DESC LIMIT 50\";\n    msg.payload = [houseId + '%'];\n} else {\n    msg.topic = \"SELECT id, timestamp, device_id, command, source FROM control_logs WHERE source = 'automation' ORDER BY timestamp DESC LIMIT 50\";\n    msg.payload = [];\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 400,
        "wires": [["sqlite_query_alerts"]]
    },
    {
        "id": "sqlite_query_alerts",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 650,
        "y": 400,
        "wires": [["alerts_response"]]
    },
    {
        "id": "alerts_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "응답 포맷",
        "func": "const rows = msg.payload || [];\n\nconst alerts = rows.map(row => ({\n    id: row.id,\n    timestamp: row.timestamp,\n    type: 'automation',\n    message: `${row.device_id} ${row.command} (${row.source})`,\n    deviceId: row.device_id,\n    command: row.command,\n    source: row.source\n}));\n\nmsg.payload = {\n    success: true,\n    data: alerts,\n    source: 'sqlite'\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 850,
        "y": 400,
        "wires": [["http_res_sensors"]]
    },
    {
        "id": "comment_control",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 로컬 제어 API ━━━",
        "x": 160,
        "y": 480,
        "wires": []
    },
    {
        "id": "http_control_local",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "POST /api/control/local",
        "url": "/api/control/local",
        "method": "post",
        "upload": false,
        "x": 180,
        "y": 540,
        "wires": [["control_handler"]]
    },
    {
        "id": "control_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "로컬 제어 실행",
        "func": "const { house_id, device_id, command, operator } = msg.payload;\n\n// 입력 검증\nif (!device_id || !command) {\n    msg.payload = { success: false, error: 'device_id, command 필수' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\n// 허용된 명령어만 통과\nconst ALLOWED_COMMANDS = ['open', 'close', 'stop', 'on', 'off'];\nif (!ALLOWED_COMMANDS.includes(command)) {\n    msg.payload = { success: false, error: '허용되지 않는 명령: ' + command };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\n// device_id 형식 검증 (영숫자+언더스코어만)\nif (!/^[a-zA-Z0-9_]+$/.test(device_id)) {\n    msg.payload = { success: false, error: '잘못된 device_id 형식' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null, null];\n}\n\nconst houseId = house_id || 'house1';\nconst ts = new Date().toISOString();\nconst requestId = `local_${Date.now()}`;\n\n// GPIO 제어 메시지 생성\nconst controlMsg = {\n    control: {\n        houseId: houseId,\n        deviceId: device_id,\n        deviceType: device_id.replace(/[0-9]/g, ''),\n        command: command,\n        operator: operator || 'local_dashboard',\n        requestId: requestId,\n        timestamp: ts\n    }\n};\n\n// SQLite 로그 저장 (msg.topic 모드: $1,$2,.. 위치 파라미터 + msg.payload 배열)\nvar logMsg = {};\nlogMsg.topic = 'INSERT INTO control_logs (timestamp, device_id, command, source, synced) VALUES ($1, $2, $3, $4, 0)';\nlogMsg.payload = [ts, device_id, command, 'local'];\n\n// HTTP 응답\nmsg.payload = {\n    success: true,\n    data: {\n        request_id: requestId,\n        device_id: device_id,\n        command: command,\n        executed_at: ts,\n        mode: 'local'\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\nnode.warn(`🎮 로컬 제어: ${device_id} ${command} by ${operator || 'local'}`);\n\nreturn [msg, controlMsg, logMsg];",
        "outputs": 3,
        "outputLabels": ["HTTP 응답", "GPIO 제어", "SQLite 로그"],
        "x": 440,
        "y": 540,
        "wires": [["http_res_control"], ["link_gpio_control"], ["sqlite_control_log"]]
    },
    {
        "id": "http_res_control",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "응답",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "link_gpio_control",
        "type": "link out",
        "z": "rest_api_flow",
        "name": "GPIO 제어 →",
        "mode": "link",
        "links": ["link_in_local_control"],
        "x": 675,
        "y": 540,
        "wires": []
    },
    {
        "id": "sqlite_control_log",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "제어 로그 저장",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 690,
        "y": 560,
        "wires": [[]]
    },
    {
        "id": "comment_health",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 헬스 / 설정 API ━━━",
        "x": 160,
        "y": 640,
        "wires": []
    },
    {
        "id": "http_health_local",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/health",
        "url": "/api/health",
        "method": "get",
        "upload": false,
        "x": 160,
        "y": 700,
        "wires": [["health_handler"]]
    },
    {
        "id": "health_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "헬스 응답",
        "func": "const mode = global.get('operationMode') || 'offline';\nconst serverOnline = global.get('serverOnline') || false;\nconst manual = global.get('manualOverride') || false;\n\nmsg.payload = {\n    status: 'ok',\n    mode: mode,\n    serverOnline: serverOnline,\n    manualOverride: manual,\n    source: 'node-red',\n    timestamp: new Date().toISOString()\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 700,
        "wires": [["http_res_health"]]
    },
    {
        "id": "http_res_health",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "응답",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "comment_config_moved",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "※ Config API → Config CRUD 탭으로 이관됨",
        "x": 240,
        "y": 780,
        "wires": []
    },
    {
        "id": "comment_automation_api",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ 자동화 규칙 API ━━━",
        "x": 160,
        "y": 860,
        "wires": []
    },
    {
        "id": "http_auto_list",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "GET /api/automation/:farmId",
        "url": "/api/automation/:farmId",
        "method": "get",
        "upload": false,
        "x": 210,
        "y": 920,
        "wires": [["auto_list_query"]]
    },
    {
        "id": "auto_list_query",
        "type": "function",
        "z": "rest_api_flow",
        "name": "규칙 목록 조회",
        "func": "const farmId = msg.req.params.farmId;\nconst houseId = msg.req.query.houseId;\nconst enabled = msg.req.query.enabled;\n\nlet sql = 'SELECT * FROM automation_rules WHERE farm_id = $1';\nconst params = [farmId];\nlet paramIdx = 2;\n\nif (houseId) {\n    sql += ' AND house_id = $' + paramIdx;\n    params.push(houseId);\n    paramIdx++;\n}\nif (enabled !== undefined) {\n    sql += ' AND enabled = $' + paramIdx;\n    params.push(enabled === 'true' ? 1 : 0);\n    paramIdx++;\n}\nsql += ' ORDER BY priority ASC, created_at DESC';\n\nmsg.topic = sql;\nmsg.payload = params;\nreturn msg;",
        "outputs": 1,
        "x": 490,
        "y": 920,
        "wires": [["sqlite_auto_list"]]
    },
    {
        "id": "sqlite_auto_list",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 쿼리",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 690,
        "y": 920,
        "wires": [["auto_list_response"]]
    },
    {
        "id": "auto_list_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "목록 응답 포맷",
        "func": "const rows = msg.payload || [];\nconst rules = rows.map(function(row) {\n    var conditions, actions;\n    try { conditions = JSON.parse(row.conditions); } catch(e) { conditions = []; }\n    try { actions = JSON.parse(row.actions); } catch(e) { actions = []; }\n    return {\n        _id: row.id,\n        farmId: row.farm_id,\n        houseId: row.house_id,\n        name: row.name,\n        description: row.description || '',\n        enabled: row.enabled === 1,\n        conditionLogic: row.condition_logic,\n        groupLogic: row.group_logic || 'AND',\n        conditions: conditions,\n        actions: actions,\n        cooldownSeconds: row.cooldown_seconds,\n        priority: row.priority,\n        lastTriggeredAt: row.last_triggered_at,\n        triggerCount: row.trigger_count || 0,\n        createdAt: row.created_at,\n        updatedAt: row.updated_at\n    };\n});\nmsg.payload = { success: true, data: rules };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 910,
        "y": 920,
        "wires": [["http_res_auto"]]
    },
    {
        "id": "http_res_auto",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "자동화 응답",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 980,
        "wires": []
    },
    {
        "id": "http_auto_create",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "POST /api/automation/:farmId",
        "url": "/api/automation/:farmId",
        "method": "post",
        "upload": false,
        "x": 210,
        "y": 1000,
        "wires": [["auto_create_handler"]]
    },
    {
        "id": "auto_create_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "규칙 생성",
        "func": "const farmId = msg.req.params.farmId;\nconst body = msg.payload;\n\nif (!body.name || !body.houseId) {\n    msg.payload = { success: false, error: 'name, houseId 필수' };\n    msg.statusCode = 400;\n    msg.headers = { 'Access-Control-Allow-Origin': '*' };\n    return [msg, null];\n}\n\nconst id = Date.now().toString(36) + Math.random().toString(36).substr(2, 9);\nconst now = new Date().toISOString();\n\nconst rule = {\n    id: id,\n    farm_id: farmId,\n    house_id: body.houseId,\n    name: body.name,\n    description: body.description || '',\n    enabled: body.enabled !== false ? 1 : 0,\n    condition_logic: body.conditionLogic || 'AND',\n    group_logic: body.groupLogic || 'AND',\n    conditions: JSON.stringify(body.conditions || []),\n    actions: JSON.stringify(body.actions || []),\n    cooldown_seconds: body.cooldownSeconds || 300,\n    priority: body.priority || 10,\n    created_at: now,\n    updated_at: now\n};\n\n// HTTP 응답 먼저\nmsg.payload = {\n    success: true,\n    data: {\n        _id: id,\n        farmId: farmId,\n        houseId: rule.house_id,\n        name: rule.name,\n        description: rule.description,\n        enabled: rule.enabled === 1,\n        conditionLogic: rule.condition_logic,\n        groupLogic: rule.group_logic,\n        conditions: body.conditions || [],\n        actions: body.actions || [],\n        cooldownSeconds: rule.cooldown_seconds,\n        priority: rule.priority,\n        lastTriggeredAt: null,\n        triggerCount: 0,\n        createdAt: now,\n        updatedAt: now\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\n// SQLite INSERT\nvar dbMsg = {};\ndbMsg.topic = 'INSERT INTO automation_rules (id, farm_id, house_id, name, description, enabled, condition_logic, group_logic, conditions, actions, cooldown_seconds, priority, trigger_count, synced, created_at, updated_at) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,0,0,$13,$14)';\ndbMsg.payload = [id, farmId, rule.house_id, rule.name, rule.description, rule.enabled, rule.condition_logic, rule.group_logic, rule.conditions, rule.actions, rule.cooldown_seconds, rule.priority, now, now];\n\nnode.warn('✅ 자동화 규칙 생성: ' + rule.name);\nreturn [msg, dbMsg];",
        "outputs": 2,
        "outputLabels": ["HTTP 응답", "SQLite 저장"],
        "x": 480,
        "y": 1000,
        "wires": [["http_res_auto"], ["sqlite_auto_write"]]
    },
    {
        "id": "sqlite_auto_write",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "규칙 저장",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 690,
        "y": 1040,
        "wires": [["link_out_rule_changed"]]
    },
    {
        "id": "http_auto_update",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "PUT /api/automation/:farmId/:ruleId",
        "url": "/api/automation/:farmId/:ruleId",
        "method": "put",
        "upload": false,
        "x": 230,
        "y": 1080,
        "wires": [["auto_update_handler"]]
    },
    {
        "id": "auto_update_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "규칙 수정",
        "func": "const farmId = msg.req.params.farmId;\nconst ruleId = msg.req.params.ruleId;\nconst body = msg.payload;\nconst now = new Date().toISOString();\n\n// 업데이트할 필드 동적 구성\nconst sets = [];\nconst params = [];\nlet idx = 1;\n\nif (body.name !== undefined) { sets.push('name = $' + idx); params.push(body.name); idx++; }\nif (body.houseId !== undefined) { sets.push('house_id = $' + idx); params.push(body.houseId); idx++; }\nif (body.description !== undefined) { sets.push('description = $' + idx); params.push(body.description); idx++; }\nif (body.enabled !== undefined) { sets.push('enabled = $' + idx); params.push(body.enabled ? 1 : 0); idx++; }\nif (body.conditionLogic !== undefined) { sets.push('condition_logic = $' + idx); params.push(body.conditionLogic); idx++; }\nif (body.groupLogic !== undefined) { sets.push('group_logic = $' + idx); params.push(body.groupLogic); idx++; }\nif (body.conditions !== undefined) { sets.push('conditions = $' + idx); params.push(JSON.stringify(body.conditions)); idx++; }\nif (body.actions !== undefined) { sets.push('actions = $' + idx); params.push(JSON.stringify(body.actions)); idx++; }\nif (body.cooldownSeconds !== undefined) { sets.push('cooldown_seconds = $' + idx); params.push(body.cooldownSeconds); idx++; }\nif (body.priority !== undefined) { sets.push('priority = $' + idx); params.push(body.priority); idx++; }\n\nsets.push('updated_at = $' + idx); params.push(now); idx++;\nsets.push('synced = 0');\n\nparams.push(ruleId);\nvar sql = 'UPDATE automation_rules SET ' + sets.join(', ') + ' WHERE id = $' + idx;\n\n// HTTP 응답 먼저 (POST 핸들러와 동일한 즉시 응답 패턴)\nvar conditions = body.conditions || [];\nvar actions = body.actions || [];\nmsg.payload = {\n    success: true,\n    data: {\n        _id: ruleId,\n        farmId: farmId,\n        houseId: body.houseId || '',\n        name: body.name || '',\n        description: body.description || '',\n        enabled: body.enabled !== false,\n        conditionLogic: body.conditionLogic || 'AND',\n        groupLogic: body.groupLogic || 'AND',\n        conditions: conditions,\n        actions: actions,\n        cooldownSeconds: body.cooldownSeconds || 300,\n        priority: body.priority || 10,\n        updatedAt: now\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\n// SQLite UPDATE (별도 메시지)\nvar dbMsg = {};\ndbMsg.topic = sql;\ndbMsg.payload = params;\n\nnode.warn('✏️ 자동화 규칙 수정: ' + (body.name || ruleId));\nreturn [msg, dbMsg];",
        "outputs": 2,
        "outputLabels": ["HTTP 응답", "SQLite 업데이트"],
        "x": 480,
        "y": 1080,
        "wires": [["http_res_auto"], ["sqlite_auto_write"]]
    },
    {
        "id": "http_auto_delete",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "DELETE /api/automation/:farmId/:ruleId",
        "url": "/api/automation/:farmId/:ruleId",
        "method": "delete",
        "upload": false,
        "x": 240,
        "y": 1200,
        "wires": [["auto_delete_handler"]]
    },
    {
        "id": "auto_delete_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "규칙 삭제",
        "func": "const ruleId = msg.req.params.ruleId;\nmsg.topic = 'DELETE FROM automation_rules WHERE id = $1';\nmsg.payload = [ruleId];\nmsg._ruleId = ruleId;\nreturn msg;",
        "outputs": 1,
        "x": 480,
        "y": 1200,
        "wires": [["sqlite_auto_delete"]]
    },
    {
        "id": "sqlite_auto_delete",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "규칙 삭제",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 690,
        "y": 1200,
        "wires": [["auto_delete_response", "link_out_rule_changed"]]
    },
    {
        "id": "auto_delete_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "삭제 응답",
        "func": "node.warn('🗑️ 자동화 규칙 삭제: ' + msg._ruleId);\nmsg.payload = { success: true };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 1200,
        "wires": [["http_res_auto"]]
    },
    {
        "id": "http_auto_toggle",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "PATCH /api/automation/:farmId/:ruleId/toggle",
        "url": "/api/automation/:farmId/:ruleId/toggle",
        "method": "patch",
        "upload": false,
        "x": 270,
        "y": 1280,
        "wires": [["auto_toggle_handler"]]
    },
    {
        "id": "auto_toggle_handler",
        "type": "function",
        "z": "rest_api_flow",
        "name": "규칙 토글",
        "func": "const ruleId = msg.req.params.ruleId;\nconst now = new Date().toISOString();\nmsg.topic = 'UPDATE automation_rules SET enabled = CASE WHEN enabled = 1 THEN 0 ELSE 1 END, synced = 0, updated_at = $1 WHERE id = $2';\nmsg.payload = [now, ruleId];\nmsg._ruleId = ruleId;\nreturn msg;",
        "outputs": 1,
        "x": 490,
        "y": 1280,
        "wires": [["sqlite_auto_toggle"]]
    },
    {
        "id": "sqlite_auto_toggle",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "토글 실행",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 690,
        "y": 1280,
        "wires": [["auto_toggle_select", "link_out_rule_changed"]]
    },
    {
        "id": "auto_toggle_select",
        "type": "function",
        "z": "rest_api_flow",
        "name": "토글 후 조회",
        "func": "msg.topic = 'SELECT * FROM automation_rules WHERE id = $1';\nmsg.payload = [msg._ruleId];\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 1280,
        "wires": [["sqlite_auto_toggle_read"]]
    },
    {
        "id": "sqlite_auto_toggle_read",
        "type": "sqlite",
        "z": "rest_api_flow",
        "name": "SQLite 조회",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1110,
        "y": 1280,
        "wires": [["auto_single_response"]]
    },
    {
        "id": "auto_single_response",
        "type": "function",
        "z": "rest_api_flow",
        "name": "단일 규칙 응답",
        "func": "var rows = msg.payload;\nif (!Array.isArray(rows) || rows.length === 0) {\n    msg.payload = { success: false, error: '규칙을 찾을 수 없습니다' };\n    msg.statusCode = 404;\n    return msg;\n}\nvar r = rows[0];\nvar conditions = [];\nvar actions = [];\ntry { conditions = JSON.parse(r.conditions || '[]'); } catch(e) {}\ntry { actions = JSON.parse(r.actions || '[]'); } catch(e) {}\nmsg.payload = {\n    success: true,\n    data: {\n        _id: r.id,\n        farmId: r.farm_id,\n        houseId: r.house_id,\n        name: r.name,\n        description: r.description || '',\n        enabled: r.enabled === 1,\n        conditionLogic: r.condition_logic || 'AND',\n        groupLogic: r.group_logic || 'AND',\n        conditions: conditions,\n        actions: actions,\n        cooldownSeconds: r.cooldown_seconds || 300,\n        priority: r.priority || 10,\n        lastTriggeredAt: r.last_triggered_at,\n        triggerCount: r.trigger_count || 0,\n        createdAt: r.created_at,\n        updatedAt: r.updated_at\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 1310,
        "y": 1280,
        "wires": [["http_res_auto"]]
    },
    {
        "id": "link_out_rule_changed",
        "type": "link out",
        "z": "rest_api_flow",
        "name": "규칙 변경 → 동기화",
        "mode": "link",
        "links": ["link_in_rule_sync"],
        "x": 915,
        "y": 1340,
        "wires": []
    },
    {
        "id": "comment_cors_api",
        "type": "comment",
        "z": "rest_api_flow",
        "name": "━━━ CORS 지원 ━━━",
        "x": 140,
        "y": 1380,
        "wires": []
    },
    {
        "id": "http_options_all",
        "type": "http in",
        "z": "rest_api_flow",
        "name": "OPTIONS /api/*",
        "url": "/api/*",
        "method": "options",
        "upload": false,
        "x": 160,
        "y": 1440,
        "wires": [["cors_all"]]
    },
    {
        "id": "cors_all",
        "type": "function",
        "z": "rest_api_flow",
        "name": "CORS 헤더",
        "func": "msg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, PATCH, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, x-api-key, Authorization'\n};\nmsg.payload = '';\nmsg.statusCode = 204;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 1440,
        "wires": [["http_res_cors_all"]]
    },
    {
        "id": "http_res_cors_all",
        "type": "http response",
        "z": "rest_api_flow",
        "name": "CORS 응답",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 1440,
        "wires": []
    }
]
