node-red/flows/smartfarm-sqlite-init.json
[
    {
        "id": "sqlite_init_flow",
        "type": "tab",
        "label": "SQLite 초기화",
        "disabled": false,
        "info": "SmartFarm SQLite 로컬 저장소 초기화\n- sensor_data: 센서 데이터 (설정 기간 보관)\n- config_cache: 서버 설정 캐시\n- automation_rules: 자동화 규칙 캐시\n- control_logs: 제어 로그"
    },
    {
        "id": "sqlite_db",
        "type": "sqlitedb",
        "db": "/home/lhk/.node-red/smartfarm.db",
        "mode": "RWC"
    },
    {
        "id": "inject_init",
        "type": "inject",
        "z": "sqlite_init_flow",
        "name": "DB 초기화 (수동 실행)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 170,
        "y": 80,
        "wires": [["pragma_settings"]]
    },
    {
        "id": "inject_auto_init",
        "type": "inject",
        "z": "sqlite_init_flow",
        "name": "시작 시 자동 초기화",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [["pragma_settings"]]
    },
    {
        "id": "pragma_settings",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "PRAGMA 순차 실행",
        "func": "// node-red-node-sqlite는 단일 PRAGMA만 실행 가능\n// 순차 체인으로 5개 PRAGMA 실행\nvar pragmas = [\n  'PRAGMA journal_mode = WAL',\n  'PRAGMA busy_timeout = 5000',\n  'PRAGMA synchronous = NORMAL',\n  'PRAGMA cache_size = -8000',\n  'PRAGMA temp_store = MEMORY'\n];\nmsg._pragmaList = pragmas;\nmsg._pragmaIdx = 0;\nmsg.topic = pragmas[0];\nnode.warn('⚙️ SQLite PRAGMA 설정 시작 (5개)');\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 60,
        "wires": [["sqlite_exec_pragma"]]
    },
    {
        "id": "sqlite_exec_pragma",
        "type": "sqlite",
        "z": "sqlite_init_flow",
        "name": "PRAGMA 적용",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 650,
        "y": 60,
        "wires": [["pragma_next"]]
    },
    {
        "id": "pragma_next",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "다음 PRAGMA",
        "func": "var idx = (msg._pragmaIdx || 0) + 1;\nvar list = msg._pragmaList || [];\nif (idx < list.length) {\n  msg._pragmaIdx = idx;\n  msg.topic = list[idx];\n  return [msg, null];\n}\nnode.warn('✅ PRAGMA 5개 설정 완료');\nreturn [null, msg];",
        "outputs": 2,
        "outputLabels": ["다음 PRAGMA", "완료→테이블생성"],
        "x": 840,
        "y": 60,
        "wires": [["sqlite_exec_pragma"], ["init_tables"]]
    },
    {
        "id": "init_tables",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "테이블 생성 SQL",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS sensor_data (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  timestamp TEXT NOT NULL,\n  farm_id TEXT NOT NULL,\n  house_id TEXT NOT NULL,\n  sensor_id TEXT NOT NULL,\n  value REAL,\n  synced INTEGER DEFAULT 0\n);\n`;\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 130,
        "wires": [["sqlite_exec_1"]]
    },
    {
        "id": "sqlite_exec_1",
        "type": "sqlite",
        "z": "sqlite_init_flow",
        "name": "sensor_data 생성",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 640,
        "y": 110,
        "wires": [["init_indexes"]]
    },
    {
        "id": "init_indexes",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "인덱스 생성",
        "func": "msg.topic = `\nCREATE INDEX IF NOT EXISTS idx_sensor_timestamp ON sensor_data(timestamp);\nCREATE INDEX IF NOT EXISTS idx_sensor_synced ON sensor_data(synced);\nCREATE INDEX IF NOT EXISTS idx_sensor_farm_house ON sensor_data(farm_id, house_id);\nCREATE INDEX IF NOT EXISTS idx_sensor_synced_ts ON sensor_data(synced, timestamp);\nCREATE INDEX IF NOT EXISTS idx_sensor_synced_farm_house ON sensor_data(synced, farm_id, house_id, timestamp);\n`;\nreturn msg;",
        "outputs": 1,
        "x": 850,
        "y": 110,
        "wires": [["sqlite_exec_2"]]
    },
    {
        "id": "sqlite_exec_2",
        "type": "sqlite",
        "z": "sqlite_init_flow",
        "name": "인덱스 생성",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1050,
        "y": 110,
        "wires": [["init_config_cache"]]
    },
    {
        "id": "init_config_cache",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "config_cache 테이블",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS config_cache (\n  id INTEGER PRIMARY KEY,\n  farm_id TEXT NOT NULL,\n  house_id TEXT NOT NULL,\n  config_json TEXT NOT NULL,\n  version INTEGER DEFAULT 0,\n  updated_at TEXT NOT NULL\n);\n`;\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 200,
        "wires": [["sqlite_exec_3"]]
    },
    {
        "id": "sqlite_exec_3",
        "type": "sqlite",
        "z": "sqlite_init_flow",
        "name": "config_cache 생성",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 650,
        "y": 200,
        "wires": [["init_automation_rules"]]
    },
    {
        "id": "init_automation_rules",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "automation_rules 테이블",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS automation_rules (\n  id TEXT PRIMARY KEY,\n  farm_id TEXT NOT NULL DEFAULT 'farm_001',\n  house_id TEXT NOT NULL,\n  name TEXT NOT NULL,\n  description TEXT DEFAULT '',\n  enabled INTEGER DEFAULT 1,\n  condition_logic TEXT DEFAULT 'AND',\n  conditions TEXT NOT NULL,\n  actions TEXT NOT NULL,\n  cooldown_seconds INTEGER DEFAULT 300,\n  priority INTEGER DEFAULT 10,\n  last_triggered_at TEXT,\n  trigger_count INTEGER DEFAULT 0,\n  synced INTEGER DEFAULT 0,\n  created_at TEXT NOT NULL,\n  updated_at TEXT NOT NULL\n);\nCREATE INDEX IF NOT EXISTS idx_automation_farm ON automation_rules(farm_id, house_id);\nCREATE INDEX IF NOT EXISTS idx_automation_enabled ON automation_rules(enabled);\nCREATE INDEX IF NOT EXISTS idx_automation_synced ON automation_rules(synced);\n`;\nreturn msg;",
        "outputs": 1,
        "x": 870,
        "y": 200,
        "wires": [["sqlite_exec_4"]]
    },
    {
        "id": "sqlite_exec_4",
        "type": "sqlite",
        "z": "sqlite_init_flow",
        "name": "automation_rules 생성",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1070,
        "y": 200,
        "wires": [["init_control_logs"]]
    },
    {
        "id": "init_control_logs",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "control_logs 테이블",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS control_logs (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  timestamp TEXT NOT NULL,\n  device_id TEXT NOT NULL,\n  command TEXT NOT NULL,\n  source TEXT NOT NULL,\n  synced INTEGER DEFAULT 0\n);\n`;\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 290,
        "wires": [["sqlite_exec_5"]]
    },
    {
        "id": "sqlite_exec_5",
        "type": "sqlite",
        "z": "sqlite_init_flow",
        "name": "control_logs 생성",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 650,
        "y": 290,
        "wires": [["init_done"]]
    },
    {
        "id": "init_done",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "초기화 완료",
        "func": "node.warn('✅ SmartFarm SQLite DB 초기화 완료');\nnode.status({ fill: 'green', shape: 'dot', text: '초기화 완료' });\nmsg.payload = 'SQLite DB 초기화 완료: sensor_data, config_cache, automation_rules, control_logs';\nreturn msg;",
        "outputs": 1,
        "x": 850,
        "y": 290,
        "wires": [["debug_init"]]
    },
    {
        "id": "debug_init",
        "type": "debug",
        "z": "sqlite_init_flow",
        "name": "초기화 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1050,
        "y": 290,
        "wires": []
    },
    {
        "id": "comment_cleanup",
        "type": "comment",
        "z": "sqlite_init_flow",
        "name": "━━━ 동적 보관기간 데이터 정리 (매일 자정) ━━━",
        "x": 250,
        "y": 380,
        "wires": []
    },
    {
        "id": "inject_cleanup",
        "type": "inject",
        "z": "sqlite_init_flow",
        "name": "매일 자정",
        "props": [],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "topic": "",
        "x": 150,
        "y": 440,
        "wires": [["fetch_retention_url"]]
    },
    {
        "id": "inject_cleanup_manual",
        "type": "inject",
        "z": "sqlite_init_flow",
        "name": "수동 정리",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 150,
        "y": 500,
        "wires": [["fetch_retention_url"]]
    },
    {
        "id": "fetch_retention_url",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "서버 설정 URL",
        "func": "var serverUrl = env.get('SERVER_URL') || 'http://192.168.137.1:3000';\nvar farmId = env.get('FARM_ID') || 'farm_001';\nmsg.url = serverUrl + '/api/config/system-settings/' + farmId;\nnode.status({fill:'yellow',shape:'ring',text:'설정 조회 중...'});\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 470,
        "wires": [["http_fetch_retention"]]
    },
    {
        "id": "http_fetch_retention",
        "type": "http request",
        "z": "sqlite_init_flow",
        "name": "GET system-settings",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 470,
        "wires": [["cleanup_sql"]]
    },
    {
        "id": "cleanup_sql",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "보관기간 적용 삭제 SQL",
        "func": "var retentionDays = 60;\ntry {\n    if (msg.payload && msg.payload.success && msg.payload.data) {\n        retentionDays = msg.payload.data.retentionDays || 60;\n        global.set('retentionDays', retentionDays);\n        node.warn('서버 설정 반영: ' + retentionDays + '일 보관');\n    } else {\n        retentionDays = global.get('retentionDays') || 60;\n        node.warn('캐시 설정 사용: ' + retentionDays + '일 보관');\n    }\n} catch(e) {\n    retentionDays = global.get('retentionDays') || 60;\n    node.warn('기본 설정 사용: ' + retentionDays + '일 보관');\n}\nmsg.retentionDays = retentionDays;\nmsg.topic = \"DELETE FROM sensor_data WHERE synced = 1 AND timestamp < datetime('now', '-\" + retentionDays + \" days')\";\nnode.status({fill:'blue',shape:'dot',text:retentionDays+'일 보관'});\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 470,
        "wires": [["sqlite_cleanup"]]
    },
    {
        "id": "sqlite_cleanup",
        "type": "sqlite",
        "z": "sqlite_init_flow",
        "name": "정리 실행",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 990,
        "y": 470,
        "wires": [["cleanup_result"]]
    },
    {
        "id": "cleanup_result",
        "type": "function",
        "z": "sqlite_init_flow",
        "name": "정리 결과",
        "func": "var changes = msg.payload ? msg.payload.changes || 0 : 0;\nvar days = msg.retentionDays || 60;\nnode.warn('🗑️ ' + days + '일 이상 데이터 ' + changes + '건 삭제');\nnode.status({ fill: 'blue', shape: 'dot', text: changes + '건 삭제 (' + days + '일 보관)' });\nreturn msg;",
        "outputs": 1,
        "x": 1170,
        "y": 470,
        "wires": [["debug_cleanup"]]
    },
    {
        "id": "debug_cleanup",
        "type": "debug",
        "z": "sqlite_init_flow",
        "name": "정리 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1350,
        "y": 470,
        "wires": []
    }
]
