node-red/flows/smartfarm-health-monitor.json
[
    {
        "id": "health_monitor_flow",
        "type": "tab",
        "label": "온/오프라인 감지",
        "disabled": false,
        "info": "PC 서버 헬스체크 (30초 간격)\n- 서버 응답 시: online 모드\n- 서버 미응답 시: offline 모드\n- 수동 전환 시: 강제 offline\n\nglobal.operationMode = 'online' | 'offline'\nglobal.serverOnline = true | false\nglobal.manualOverride = true | false"
    },
    {
        "id": "inject_health",
        "type": "inject",
        "z": "health_monitor_flow",
        "name": "30초 간격 헬스체크",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 180,
        "y": 80,
        "wires": [["health_request"]]
    },
    {
        "id": "health_request",
        "type": "http request",
        "z": "health_monitor_flow",
        "name": "서버 /health",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.137.1:3000/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 410,
        "y": 80,
        "wires": [["health_check"]]
    },
    {
        "id": "health_check",
        "type": "function",
        "z": "health_monitor_flow",
        "name": "모드 결정",
        "func": "const manualOverride = global.get('manualOverride') || false;\nconst prevMode = global.get('operationMode') || 'unknown';\nconst prevServerOnline = global.get('serverOnline');\n\n// 서버 응답 확인\nlet serverOnline = false;\nif (msg.statusCode === 200 && msg.payload && (msg.payload.success === true || msg.payload.status === 'ok')) {\n    serverOnline = true;\n}\n\nglobal.set('serverOnline', serverOnline);\n\n// 모드 결정: 수동 스위치 ON → 강제 오프라인\nconst operationMode = manualOverride ? 'offline' : (serverOnline ? 'online' : 'offline');\nglobal.set('operationMode', operationMode);\n\nlet syncMsg = null;\nlet configMsg = null;\n\n// 상태 변경 감지\nif (prevMode !== operationMode) {\n    node.warn(`🔄 모드 변경: ${prevMode} → ${operationMode}`);\n    \n    // 온라인 전환 시 동기화 트리거 (unknown/offline → online 모두 포함)\n    if (prevMode !== 'online' && operationMode === 'online') {\n        node.warn('🔄 온라인 복귀! 데이터 동기화 시작...');\n        syncMsg = { payload: 'sync_trigger' };\n    }\n}\n\n// 서버 온라인 + config 미캐시 → config 가져오기 (API 키 포함)\nif (serverOnline && !global.get('houseConfig')) {\n    node.warn('📋 서버에서 config 캐시 가져오기...');\n    const API_KEY = env.get('SENSOR_API_KEY') || '';\n    configMsg = {\n        payload: 'fetch_config',\n        method: 'GET',\n        headers: { 'x-api-key': API_KEY }\n    };\n}\n\n// 상태 표시\nconst modeLabel = operationMode === 'online' ? '온라인' : '오프라인';\nconst manualLabel = manualOverride ? ' (수동)' : '';\nconst serverLabel = serverOnline ? '서버 정상' : '서버 다운';\nconst configLabel = global.get('houseConfig') ? ' | config ✓' : '';\n\nnode.status({\n    fill: operationMode === 'online' ? 'green' : 'yellow',\n    shape: manualOverride ? 'ring' : 'dot',\n    text: `${modeLabel}${manualLabel} | ${serverLabel}${configLabel}`\n});\n\nmsg.payload = {\n    operationMode,\n    serverOnline,\n    manualOverride,\n    timestamp: new Date().toISOString()\n};\n\nreturn [msg, syncMsg, configMsg];",
        "outputs": 3,
        "outputLabels": ["상태 표시", "동기화 트리거", "Config 캐시"],
        "x": 610,
        "y": 80,
        "wires": [["debug_health", "mode_status"], ["link_sync_trigger"], ["config_fetch_request"]]
    },
    {
        "id": "catch_health_error",
        "type": "catch",
        "z": "health_monitor_flow",
        "name": "HTTP 에러 캐치",
        "scope": ["health_request"],
        "uncaught": false,
        "x": 420,
        "y": 140,
        "wires": [["health_check"]]
    },
    {
        "id": "debug_health",
        "type": "debug",
        "z": "health_monitor_flow",
        "name": "모드 상태",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "mode_status",
        "type": "function",
        "z": "health_monitor_flow",
        "name": "전역 상태 저장",
        "func": "// 다른 플로우에서 참조할 수 있도록 상태 요약 저장\nglobal.set('systemStatus', {\n    operationMode: msg.payload.operationMode,\n    serverOnline: msg.payload.serverOnline,\n    manualOverride: msg.payload.manualOverride,\n    lastCheck: msg.payload.timestamp\n});\nreturn msg;",
        "outputs": 1,
        "x": 850,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "link_sync_trigger",
        "type": "link out",
        "z": "health_monitor_flow",
        "name": "동기화 트리거 →",
        "mode": "link",
        "links": ["link_sync_in"],
        "x": 835,
        "y": 140,
        "wires": []
    },
    {
        "id": "config_fetch_request",
        "type": "http request",
        "z": "health_monitor_flow",
        "name": "서버 config 가져오기",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.137.1:3000/api/config/farm_0001",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 880,
        "y": 160,
        "wires": [["config_save_handler"]]
    },
    {
        "id": "config_save_handler",
        "type": "function",
        "z": "health_monitor_flow",
        "name": "Config 저장",
        "func": "if (msg.statusCode === 200 && msg.payload && msg.payload.success && msg.payload.data) {\n    const config = msg.payload.data;\n    global.set('houseConfig', config);\n    node.warn('📋 Config 캐시 완료: ' + (config.houses ? config.houses.length + '개 하우스' : '데이터 없음'));\n    node.status({ fill: 'green', shape: 'dot', text: 'config 캐시 완료' });\n\n    // SQLite config_cache에도 저장 (위치 파라미터 - msg.payload 배열)\n    msg.topic = 'INSERT OR REPLACE INTO config_cache (id, farm_id, house_id, config_json, version, updated_at) VALUES (1, $1, $2, $3, $4, $5)';\n    msg.payload = [\n        config.farmId || 'farm_0001',\n        config.houseId || (config.houses && config.houses[0] ? config.houses[0].houseId : 'house_001'),\n        JSON.stringify(config),\n        config.configVersion || 1,\n        new Date().toISOString()\n    ];\n    return msg;\n} else {\n    node.warn('⚠️ Config 가져오기 실패: ' + JSON.stringify(msg.payload).substring(0, 100));\n    node.status({ fill: 'red', shape: 'dot', text: 'config 실패' });\n    return null;\n}",
        "outputs": 1,
        "x": 1090,
        "y": 160,
        "wires": [["sqlite_save_config_hm"]]
    },
    {
        "id": "sqlite_save_config_hm",
        "type": "sqlite",
        "z": "health_monitor_flow",
        "name": "config → SQLite 캐시",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1090,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "comment_manual",
        "type": "comment",
        "z": "health_monitor_flow",
        "name": "━━━ 수동 모드 전환 (HTTP API) ━━━",
        "x": 200,
        "y": 220,
        "wires": []
    },
    {
        "id": "http_get_mode",
        "type": "http in",
        "z": "health_monitor_flow",
        "name": "GET /api/system/mode",
        "url": "/api/system/mode",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 280,
        "wires": [["get_mode_handler"]]
    },
    {
        "id": "get_mode_handler",
        "type": "function",
        "z": "health_monitor_flow",
        "name": "모드 조회",
        "func": "const status = global.get('systemStatus') || {};\nmsg.payload = {\n    success: true,\n    data: {\n        operationMode: global.get('operationMode') || 'online',\n        serverOnline: global.get('serverOnline') || false,\n        manualOverride: global.get('manualOverride') || false,\n        lastCheck: status.lastCheck || null\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 280,
        "wires": [["http_response_mode"]]
    },
    {
        "id": "http_post_mode",
        "type": "http in",
        "z": "health_monitor_flow",
        "name": "POST /api/system/mode",
        "url": "/api/system/mode",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 340,
        "wires": [["set_mode_handler"]]
    },
    {
        "id": "set_mode_handler",
        "type": "function",
        "z": "health_monitor_flow",
        "name": "모드 전환",
        "func": "const { manual } = msg.payload;\n\nif (typeof manual !== 'boolean') {\n    msg.payload = { success: false, error: 'manual (boolean) 필수' };\n    msg.statusCode = 400;\n    return msg;\n}\n\nglobal.set('manualOverride', manual);\n\n// 즉시 모드 재계산\nconst serverOnline = global.get('serverOnline') || false;\nconst operationMode = manual ? 'offline' : (serverOnline ? 'online' : 'offline');\nglobal.set('operationMode', operationMode);\n\nconst modeLabel = operationMode === 'online' ? '온라인' : '오프라인';\nconst manualLabel = manual ? '수동' : '자동';\n\nnode.warn(`🔄 모드 전환: ${manualLabel} → ${modeLabel}`);\nnode.status({\n    fill: manual ? 'yellow' : 'green',\n    shape: 'dot',\n    text: `${manualLabel} → ${modeLabel}`\n});\n\nmsg.payload = {\n    success: true,\n    data: {\n        operationMode,\n        serverOnline,\n        manualOverride: manual\n    }\n};\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 340,
        "wires": [["http_response_mode"]]
    },
    {
        "id": "http_response_mode",
        "type": "http response",
        "z": "health_monitor_flow",
        "name": "응답",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 310,
        "wires": []
    },
    {
        "id": "comment_cors",
        "type": "comment",
        "z": "health_monitor_flow",
        "name": "━━━ CORS 지원 (OPTIONS) ━━━",
        "x": 180,
        "y": 400,
        "wires": []
    },
    {
        "id": "http_options_mode",
        "type": "http in",
        "z": "health_monitor_flow",
        "name": "OPTIONS /api/system/mode",
        "url": "/api/system/mode",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 460,
        "wires": [["cors_handler"]]
    },
    {
        "id": "cors_handler",
        "type": "function",
        "z": "health_monitor_flow",
        "name": "CORS 헤더",
        "func": "msg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, x-api-key'\n};\nmsg.payload = '';\nmsg.statusCode = 204;\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 460,
        "wires": [["http_response_cors"]]
    },
    {
        "id": "http_response_cors",
        "type": "http response",
        "z": "health_monitor_flow",
        "name": "CORS 응답",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 460,
        "wires": []
    }
]
