node-red/flows/smartfarm-collection-offline.json
[
    {
        "id": "collection_offline_flow",
        "type": "tab",
        "label": "센서 수집 (오프라인)",
        "disabled": false,
        "info": "센서 데이터 수집 → SQLite 항상 저장\n온라인: SQLite + 서버 전송\n오프라인: SQLite만 저장\n\n수집 주기: 10분 (600초)"
    },
    {
        "id": "inject_collect",
        "type": "inject",
        "z": "collection_offline_flow",
        "name": "10분 간격 수집",
        "props": [],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 170,
        "y": 80,
        "wires": [["fn_load_config"]]
    },
    {
        "id": "inject_collect_manual",
        "type": "inject",
        "z": "collection_offline_flow",
        "name": "수동 수집 (테스트)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [["fn_load_config"]]
    },
    {
        "id": "comment_phase1",
        "type": "comment",
        "z": "collection_offline_flow",
        "name": "━━━ Phase 1: 설정 로드 ━━━",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "fn_load_config",
        "type": "function",
        "z": "collection_offline_flow",
        "name": "① 설정 로드",
        "func": "const SERVER_URL = env.get('SERVER_URL') || 'http://192.168.137.1:3000';\nconst FARM_ID = env.get('FARM_ID') || 'farm_001';\nconst HOUSE_ID = env.get('HOUSE_ID') || 'house_001';\nconst API_KEY = env.get('SENSOR_API_KEY') || '';\n\n// operationMode가 아직 설정 안 된 경우 (재시작 직후)\n// serverOnline도 체크하여 기본값 결정\nconst serverOnline = global.get('serverOnline');\nconst operationMode = global.get('operationMode') || (serverOnline === true ? 'online' : 'offline');\n\nif (operationMode === 'online') {\n    // 온라인: 서버에서 설정 가져오기\n    msg.url = `${SERVER_URL}/api/config/${HOUSE_ID}?farmId=${FARM_ID}`;\n    msg.method = 'GET';\n    msg.headers = { 'Content-Type': 'application/json', 'x-api-key': API_KEY };\n    node.status({ fill: 'blue', shape: 'dot', text: '온라인: 서버 config 요청' });\n    return [msg, null, null]; // 출력1: HTTP Request\n} else {\n    // 오프라인: global 캐시 → SQLite 캐시\n    const cachedConfig = global.get('houseConfig');\n    if (cachedConfig) {\n        msg.config = cachedConfig;\n        node.status({ fill: 'yellow', shape: 'dot', text: '오프라인: global 캐시 사용' });\n        return [null, msg, null]; // 출력2: 센서 수집으로\n    } else {\n        // SQLite config_cache에서 로드\n        msg.topic = 'SELECT config_json FROM config_cache ORDER BY version DESC LIMIT 1';\n        node.status({ fill: 'yellow', shape: 'ring', text: '오프라인: SQLite 캐시 조회' });\n        return [null, null, msg]; // 출력3: SQLite 조회\n    }\n}",
        "outputs": 3,
        "outputLabels": ["서버 요청 (온라인)", "센서 수집 (캐시 있음)", "SQLite 캐시 조회"],
        "x": 430,
        "y": 100,
        "wires": [["http_get_config"], ["fn_collect_sensors"], ["sqlite_config_cache"]]
    },
    {
        "id": "http_get_config",
        "type": "http request",
        "z": "collection_offline_flow",
        "name": "서버 config 가져오기",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 690,
        "y": 60,
        "wires": [["fn_process_config_response"]]
    },
    {
        "id": "fn_process_config_response",
        "type": "function",
        "z": "collection_offline_flow",
        "name": "② 설정 응답 처리",
        "func": "if (msg.statusCode !== 200) {\n    const cachedConfig = global.get('houseConfig');\n    if (cachedConfig) {\n        node.warn('⚠️ 서버 응답 실패, 캐시된 설정 사용');\n        msg.config = cachedConfig;\n        return [msg, null];\n    }\n    node.error('❌ 서버 응답 실패, 캐시도 없음');\n    return [null, null];\n}\n\nconst response = msg.payload;\nif (!response.success) {\n    node.error('설정 오류: ' + (response.error || 'unknown'));\n    return [null, null];\n}\n\nconst config = response.data;\n\n// global 캐시 갱신\nconst cachedConfig = global.get('houseConfig');\nconst cachedVersion = cachedConfig ? cachedConfig.configVersion : 0;\n\nif (!cachedConfig || config.configVersion > cachedVersion) {\n    node.warn('📋 설정 업데이트: v' + cachedVersion + ' → v' + config.configVersion);\n    global.set('houseConfig', config);\n\n    // SQLite에도 캐시 저장 (위치 파라미터)\n    const cacheMsg = {\n        topic: 'INSERT OR REPLACE INTO config_cache (id, farm_id, house_id, config_json, version, updated_at) VALUES (1, $1, $2, $3, $4, $5)',\n        payload: [\n            config.farmId || 'farm_001',\n            config.houseId || (config.houses && config.houses[0] ? config.houses[0].houseId : 'house_001'),\n            JSON.stringify(config),\n            config.configVersion || 1,\n            new Date().toISOString()\n        ]\n    };\n    msg.config = config;\n    return [msg, cacheMsg];\n}\n\nmsg.config = config;\nreturn [msg, null];",
        "outputs": 2,
        "outputLabels": ["센서 수집으로", "SQLite 캐시 저장"],
        "x": 920,
        "y": 60,
        "wires": [["fn_collect_sensors"], ["sqlite_save_config_cache"]]
    },
    {
        "id": "sqlite_config_cache",
        "type": "sqlite",
        "z": "collection_offline_flow",
        "name": "config_cache 조회",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 690,
        "y": 140,
        "wires": [["fn_sqlite_config_handler"]]
    },
    {
        "id": "fn_sqlite_config_handler",
        "type": "function",
        "z": "collection_offline_flow",
        "name": "SQLite config → global",
        "func": "const rows = msg.payload || [];\n\nif (rows.length > 0 && rows[0].config_json) {\n    try {\n        const config = JSON.parse(rows[0].config_json);\n        global.set('houseConfig', config);\n        msg.config = config;\n        node.warn('📋 SQLite에서 config 복원 완료');\n        node.status({ fill: 'green', shape: 'dot', text: 'SQLite config 복원' });\n        return msg;\n    } catch (e) {\n        node.error('❌ config JSON 파싱 실패: ' + e.message);\n    }\n}\n\nnode.error('❌ SQLite config_cache도 비어있음 - 서버에 1회 접속 필요');\nnode.status({ fill: 'red', shape: 'dot', text: 'config 없음!' });\nreturn null;",
        "outputs": 1,
        "x": 920,
        "y": 140,
        "wires": [["fn_collect_sensors"]]
    },
    {
        "id": "sqlite_save_config_cache",
        "type": "sqlite",
        "z": "collection_offline_flow",
        "name": "config 캐시 저장",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1150,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "comment_phase2",
        "type": "comment",
        "z": "collection_offline_flow",
        "name": "━━━ Phase 2: 센서 수집 + SQLite 저장 ━━━",
        "x": 190,
        "y": 210,
        "wires": []
    },
    {
        "id": "fn_collect_sensors",
        "type": "function",
        "z": "collection_offline_flow",
        "name": "③ 센서 데이터 수집",
        "func": "const config = msg.config || global.get('houseConfig');\n\nif (!config) {\n    node.error('❌ config 없음, 수집 중단');\n    return null;\n}\n\n// 하우스별 센서 수집 (첫 번째 하우스 또는 config 직접 참조)\nlet sensors, farmId, houseId;\n\nif (config.houses && config.houses.length > 0) {\n    const house = config.houses[0];\n    sensors = house.sensors || [];\n    farmId = config.farmId;\n    houseId = house.houseId;\n} else if (config.sensors) {\n    sensors = config.sensors;\n    farmId = config.farmId;\n    houseId = config.houseId;\n} else {\n    node.error('❌ 센서 설정 없음');\n    return null;\n}\n\nconst enabledSensors = sensors.filter(s => s.enabled);\nif (enabledSensors.length === 0) {\n    node.warn('⚠️ 활성 센서 없음');\n    return null;\n}\n\n// 센서 데이터 읽기 (시뮬레이션 - 실제 GPIO 연결 시 여기를 수정)\nconst sensorData = {};\nfor (const sensor of enabledSensors) {\n    try {\n        let value;\n        switch (sensor.sensorId) {\n            case 'temp_001':\n                value = parseFloat((Math.random() * 10 + 20).toFixed(1));\n                break;\n            case 'humidity_001':\n                value = parseFloat((Math.random() * 20 + 50).toFixed(1));\n                break;\n            case 'co2_001':\n                value = parseInt(Math.random() * 200 + 400);\n                break;\n            default:\n                if (sensor.type === 'number') {\n                    const min = sensor.min !== null ? sensor.min : 0;\n                    const max = sensor.max !== null ? sensor.max : 100;\n                    value = parseFloat((Math.random() * (max - min) + min).toFixed(sensor.precision || 1));\n                } else if (sensor.type === 'boolean') {\n                    value = Math.random() > 0.5;\n                } else {\n                    value = 'OK';\n                }\n        }\n        sensorData[sensor.sensorId] = value;\n    } catch (e) {\n        node.error('센서 읽기 실패: ' + sensor.sensorId + ' - ' + e.message);\n        sensorData[sensor.sensorId] = null;\n    }\n}\n\nmsg.payload = {\n    farmId: farmId,\n    houseId: houseId,\n    data: sensorData,\n    timestamp: new Date().toISOString(),\n    deviceInfo: {\n        deviceId: env.get('DEVICE_ID') || 'rpi_001',\n        ip: '192.168.137.86',\n        version: '2.0.0-offline'\n    }\n};\n\nnode.warn('📡 센서 수집: ' + Object.keys(sensorData).join(', '));\nnode.status({ fill: 'green', shape: 'dot', text: Object.keys(sensorData).length + '개 센서 수집' });\n\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 260,
        "wires": [["fn_sqlite_insert"]]
    },
    {
        "id": "fn_sqlite_insert",
        "type": "function",
        "z": "collection_offline_flow",
        "name": "④ SQLite INSERT 준비",
        "func": "const { farmId, houseId, data, timestamp } = msg.payload;\nconst ts = timestamp || new Date().toISOString();\n\n// 센서 데이터 수집\nconst entries = Object.entries(data).filter(([k, v]) => v !== null && v !== undefined);\n\nif (entries.length === 0) {\n    node.warn('⚠️ 저장할 데이터 없음');\n    return null;\n}\n\n// 위치 파라미터 쿼리로 개별 INSERT (센서별 msg 배열)\n// node-red-node-sqlite msg.topic 모드: msg.payload 배열 + $N 파라미터 사용\nconst messages = entries.map(([sensorId, value]) => ({\n    topic: 'INSERT INTO sensor_data (timestamp, farm_id, house_id, sensor_id, value, synced) VALUES ($1, $2, $3, $4, $5, 0)',\n    payload: [ts, farmId, houseId, sensorId, value],\n    _insertTimestamp: ts,\n    _sensorCount: entries.length,\n    _isLast: false,\n    _originalPayload: msg.payload\n}));\n\n// 마지막 메시지에 표시 (모드 분기용)\nconst srvOnline = global.get('serverOnline');\nconst opMode = global.get('operationMode') || (srvOnline === true ? 'online' : 'offline');\nmessages[messages.length - 1]._isLast = true;\nmessages[messages.length - 1]._operationMode = opMode;\n\nnode.warn('💾 SQLite INSERT: ' + entries.length + '건');\nreturn [messages];",
        "outputs": 1,
        "x": 700,
        "y": 260,
        "wires": [["sqlite_insert_data"]]
    },
    {
        "id": "sqlite_insert_data",
        "type": "sqlite",
        "z": "collection_offline_flow",
        "name": "SQLite 저장 (항상)",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 950,
        "y": 260,
        "wires": [["fn_mode_branch"]]
    },
    {
        "id": "comment_phase3",
        "type": "comment",
        "z": "collection_offline_flow",
        "name": "━━━ Phase 3: 모드별 분기 ━━━",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "fn_mode_branch",
        "type": "function",
        "z": "collection_offline_flow",
        "name": "⑤ 모드별 분기",
        "func": "// 마지막 INSERT 메시지만 처리 (나머지는 통과)\nif (!msg._isLast) { return null; }\n\nconst serverOnline = global.get('serverOnline');\nconst mode = msg._operationMode || global.get('operationMode') || (serverOnline === true ? 'online' : 'offline');\n\n// 원본 payload 복원 (서버 전송용)\nif (msg._originalPayload) { msg.payload = msg._originalPayload; }\n\nif (mode === 'online') {\n    const SERVER_URL = env.get('SERVER_URL') || 'http://192.168.137.1:3000';\n    const API_KEY = env.get('SENSOR_API_KEY') || '';\n\n    msg.url = SERVER_URL + '/api/sensors/collect';\n    msg.method = 'POST';\n    msg.headers = { 'Content-Type': 'application/json', 'x-api-key': API_KEY };\n\n    node.status({ fill: 'green', shape: 'dot', text: '온라인: SQLite ✓ + 서버 전송' });\n    return [msg, null];\n} else {\n    node.warn('📴 오프라인: SQLite만 저장 (synced=0)');\n    node.status({ fill: 'yellow', shape: 'dot', text: '오프라인: SQLite ✓ (' + msg._sensorCount + '건)' });\n    msg.payload = '오프라인 저장 완료: ' + msg._sensorCount + '건';\n    return [null, msg];\n}",
        "outputs": 2,
        "outputLabels": ["서버 전송 (온라인)", "완료 (오프라인)"],
        "x": 430,
        "y": 380,
        "wires": [["http_send_server"], ["debug_offline_done"]]
    },
    {
        "id": "http_send_server",
        "type": "http request",
        "z": "collection_offline_flow",
        "name": "서버로 전송",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 680,
        "y": 370,
        "wires": [["fn_send_result"]]
    },
    {
        "id": "fn_send_result",
        "type": "function",
        "z": "collection_offline_flow",
        "name": "⑥ 전송 결과 처리",
        "func": "if (msg.statusCode === 201 || msg.statusCode === 200) {\n    node.warn('✅ 서버 전송 성공 → synced=1');\n    \n    const syncMsg = {\n        topic: 'UPDATE sensor_data SET synced = 1 WHERE timestamp = $1 AND synced = 0',\n        payload: [msg._insertTimestamp]\n    };\n\n    node.status({ fill: 'green', shape: 'dot', text: '서버 전송 ✓ + synced' });\n    return [syncMsg, msg];\n} else {\n    node.warn('⚠️ 서버 전송 실패 (' + msg.statusCode + '): synced=0 유지');\n    node.status({ fill: 'yellow', shape: 'ring', text: '전송 실패 (synced=0)' });\n    return [null, msg];\n}",
        "outputs": 2,
        "outputLabels": ["synced 업데이트", "Debug"],
        "x": 900,
        "y": 370,
        "wires": [["sqlite_update_synced"], ["debug_send_result"]]
    },
    {
        "id": "sqlite_update_synced",
        "type": "sqlite",
        "z": "collection_offline_flow",
        "name": "synced=1 마킹",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "x": 1120,
        "y": 350,
        "wires": [[]]
    },
    {
        "id": "debug_offline_done",
        "type": "debug",
        "z": "collection_offline_flow",
        "name": "오프라인 저장 완료",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "debug_send_result",
        "type": "debug",
        "z": "collection_offline_flow",
        "name": "전송 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1120,
        "y": 400,
        "wires": []
    },
    {
        "id": "catch_config_error",
        "type": "catch",
        "z": "collection_offline_flow",
        "name": "Config HTTP 에러 캐치",
        "scope": ["http_get_config"],
        "uncaught": false,
        "x": 720,
        "y": 110,
        "wires": [["fn_process_config_response"]]
    },
    {
        "id": "catch_send_error",
        "type": "catch",
        "z": "collection_offline_flow",
        "name": "서버 전송 에러 캐치",
        "scope": ["http_send_server"],
        "uncaught": false,
        "x": 710,
        "y": 460,
        "wires": [["fn_send_result"]]
    }
]
