node-red/sensor-setup-flow.json
[
    {
        "id": "sensor_setup_tab",
        "type": "tab",
        "label": "센서 설정 (임시)",
        "disabled": false,
        "info": "온습도 센서 주소 변경용 임시 탭"
    },
    {
        "id": "sensor_read_inject",
        "type": "inject",
        "z": "sensor_setup_tab",
        "name": "1. 센서 읽기 테스트",
        "props": [],
        "repeat": "",
        "once": false,
        "x": 170,
        "y": 80,
        "wires": [["sensor_read_func"]]
    },
    {
        "id": "sensor_read_func",
        "type": "function",
        "z": "sensor_setup_tab",
        "name": "FC03 온습도 읽기 (uid:1)",
        "func": "msg.payload = {\n    fc: 3,\n    unitid: 1,\n    address: 0,\n    quantity: 2\n};\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 80,
        "wires": [["sensor_modbus_rw"]]
    },
    {
        "id": "sensor_modbus_rw",
        "type": "modbus-flex-getter",
        "z": "sensor_setup_tab",
        "name": "Modbus Read",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 670,
        "y": 80,
        "wires": [["sensor_read_result"], []]
    },
    {
        "id": "sensor_read_result",
        "type": "function",
        "z": "sensor_setup_tab",
        "name": "결과 해석",
        "func": "var data = msg.payload;\nvar humidity = data[0] / 10;\nvar temperature = data[1] / 10;\n\nif (data[1] > 0x7FFF) {\n    temperature = -(0xFFFF - data[1] + 1) / 10;\n}\n\nnode.warn('습도: ' + humidity + '%RH, 온도: ' + temperature + '°C');\nnode.status({fill:'green', shape:'dot', text: humidity + '%RH, ' + temperature + '°C'});\n\nmsg.humidity = humidity;\nmsg.temperature = temperature;\nreturn msg;",
        "outputs": 1,
        "x": 870,
        "y": 80,
        "wires": [["sensor_debug"]]
    },
    {
        "id": "sensor_debug",
        "type": "debug",
        "z": "sensor_setup_tab",
        "name": "센서 데이터",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1060,
        "y": 80,
        "wires": []
    },
    {
        "id": "sensor_addr_inject",
        "type": "inject",
        "z": "sensor_setup_tab",
        "name": "2. 주소 변경 (1→3)",
        "props": [],
        "repeat": "",
        "once": false,
        "x": 170,
        "y": 200,
        "wires": [["sensor_addr_func"]]
    },
    {
        "id": "sensor_addr_func",
        "type": "function",
        "z": "sensor_setup_tab",
        "name": "FC06 주소 변경 uid:1 → 3",
        "func": "msg.payload = {\n    fc: 6,\n    unitid: 1,\n    address: 0x0100,\n    quantity: 1,\n    value: 3\n};\nnode.warn('[센서] 주소 변경 명령: uid 1 → 3');\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 200,
        "wires": [["sensor_modbus_write"]]
    },
    {
        "id": "sensor_modbus_write",
        "type": "modbus-flex-write",
        "z": "sensor_setup_tab",
        "name": "Modbus Write",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 690,
        "y": 200,
        "wires": [["sensor_addr_result"], []]
    },
    {
        "id": "sensor_addr_result",
        "type": "function",
        "z": "sensor_setup_tab",
        "name": "변경 확인",
        "func": "node.warn('[센서] 주소 변경 응답: ' + JSON.stringify(msg.payload));\nnode.status({fill:'green', shape:'dot', text:'주소 변경 완료'});\nreturn msg;",
        "outputs": 1,
        "x": 880,
        "y": 200,
        "wires": [["sensor_debug2"]]
    },
    {
        "id": "sensor_debug2",
        "type": "debug",
        "z": "sensor_setup_tab",
        "name": "변경 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "sensor_verify_inject",
        "type": "inject",
        "z": "sensor_setup_tab",
        "name": "3. 변경 확인 (uid:3)",
        "props": [],
        "repeat": "",
        "once": false,
        "x": 170,
        "y": 320,
        "wires": [["sensor_verify_func"]]
    },
    {
        "id": "sensor_verify_func",
        "type": "function",
        "z": "sensor_setup_tab",
        "name": "FC03 온습도 읽기 (uid:3)",
        "func": "msg.payload = {\n    fc: 3,\n    unitid: 3,\n    address: 0,\n    quantity: 2\n};\nnode.warn('[센서] 새 주소(uid:3)로 읽기 테스트');\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 320,
        "wires": [["sensor_modbus_rw2"]]
    },
    {
        "id": "sensor_modbus_rw2",
        "type": "modbus-flex-getter",
        "z": "sensor_setup_tab",
        "name": "Modbus Read 2",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 680,
        "y": 320,
        "wires": [["sensor_verify_result"], []]
    },
    {
        "id": "sensor_verify_result",
        "type": "function",
        "z": "sensor_setup_tab",
        "name": "결과 해석 2",
        "func": "var data = msg.payload;\nvar humidity = data[0] / 10;\nvar temperature = data[1] / 10;\n\nif (data[1] > 0x7FFF) {\n    temperature = -(0xFFFF - data[1] + 1) / 10;\n}\n\nnode.warn('[센서] uid:3 확인 — 습도: ' + humidity + '%RH, 온도: ' + temperature + '°C');\nnode.status({fill:'blue', shape:'dot', text: 'uid:3 OK! ' + humidity + '%RH, ' + temperature + '°C'});\nreturn msg;",
        "outputs": 1,
        "x": 880,
        "y": 320,
        "wires": [["sensor_debug3"]]
    },
    {
        "id": "sensor_debug3",
        "type": "debug",
        "z": "sensor_setup_tab",
        "name": "확인 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1060,
        "y": 320,
        "wires": []
    }
]
